/**
 * @file ButtonRadioSelect style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.dropdown.button-radio-select {

    .raised-button.dropdown-trigger.button-radio-select-trigger {
        width: auto;
        box-shadow: none;

        .dropdown-trigger-icon {
            display: none;
        }

        &.activated {
            border-bottom-left-radius: $theme-border-radius;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

.trigger-pop.popup.button-radio-select-popup {
    width: auto;
    box-shadow: none;
    border: none;
    border-radius: 0;

    .button-radio-group {
        .button-radio {
            &:first-child {
                border-left: none;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    &.trigger-pop-animated {
        transition: width $theme-transition-duration ease-in-out;

        &.hidden {
            width: 0;
        }
    }
}
