/**
 * @file GridItem style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.grid-item-wrapper {
    float: left;
    box-sizing: border-box;
    padding: 0 10px;
    margin-bottom: 10px;

    .grid-item {
        display: block;
        box-sizing: content-box;
        width: auto;
        height: 40px;
        position: relative;
        line-height: 40px;
        border: 1px solid $theme-border;
        color: $theme-field;
        background-color: $theme-field-bg;
        transition: all $theme-transition-duration ease-in-out;
        cursor: pointer;
        padding: 0 15px;
        font-size: 12px;
        text-align: left;
        user-select: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .grid-item-select {
            float: left;
            width: 16px;
            height: 40px;
            margin-right: 10px;

            .checkbox-icon-wrapper {
                vertical-align: baseline;
                width: 100%;
            }
        }

        .button-icon {
            width: 16px;
            line-height: inherit;
            text-align: center;
            font-size: inherit;
            color: inherit;

            &.button-icon-left {
                float: left;
                margin-right: 15px;
            }

            &.button-icon-right {
                float: right;
                margin-left: 15px;
            }

            .circular-loading {
                margin-right: 10px;
            }
        }

        .grid-item-content {
            display: inline-block;
            box-sizing: border-box;
            height: 40px;
            padding: 6px 0;
            line-height: 28px;

            .grid-item-content-value {
                line-height: 14px;
            }

            .grid-item-content-desc {
                line-height: 14px;
                opacity: .5;
            }
        }

        .touch-ripple {
            border-radius: $theme-border-radius;

            &.hidden {
                display: none;
            }
        }

        &[disabled] {
            cursor: not-allowed;
        }

        &[readonly] {
            cursor: default;

            &:hover,
            &:active {
                background: $theme-field-bg;
            }
        }
    }

    .tip-provider > .trigger-wrapper {
        display: block;
    }
}
