@import '../../common';

.checkbox-button {

	@include shadow(1);

	width: 100px;
	border-radius: 20px;

	.touch-ripple {
		border-radius: 20px;
	}
}

.theme-light .checkbox-button {
	color: $theme-light-text;
	background: $theme-field;

	&:hover {
		color: $theme-text;
		background: $theme-field;
	}

	&.activated {
		color: #FFF;
		background: $theme-title;

		&:hover {
			background: lighten($theme-title, 5%);
		}
	}
}

.theme-dark .checkbox-button {
	color: $light-text-dark;
	background: $field-dark;

	&:hover {
		color: $text-dark;
		background: $field-dark;
	}

	&.activated {
		color: #FFF;
		background: $text-dark;

		&:hover {
			background: lighten($nav-dark, 5%);
		}
	}
}