@import '../../common';

.checkbox-button-group {

	@include float-fix;

	user-select: none;

	& > * {
		float: left;
		line-height: 40px;
		margin-left: 10px;

		&:first-child {
			margin-left: 0;
		}
	}

}

.theme-light .checkbox-button-group {
	label {
		color: $theme-title;
	}
}

.theme-dark .checkbox-button-group {
	label {
		color: $title-dark;
	}
}