@import '../../common';

.checkbox {

	@include float-fix;

	width: 200px;
	color: lighten($text-light, 15%);
	height: 50px;

	.checkbox-icon {
		float: left;
		width: 50px;
		height: 50px;
		text-align: center;
		line-height: 50px;
		cursor: pointer;
	}

	.checkbox-label {
		float: left;
		height: 50px;
		line-height: 50px;
		cursor: pointer;
		user-select: none;
	}

	&.activated {
		color: lighten($brand-light, 15%);
	}

	&[disabled] {
		color: lighten($text-light, 30%);

		&.activated {
			color: lighten($brand-light, 30%);
		}
	}

}