@import '../../common.scss';

.editText {
	cursor: pointer;
	.text{
		width: 100px;
		.td-text-icon{
			margin-right: 5px;
		}
	}
	.text-field{
		border-radius: 0;
		width: 100px;
		input {
			border-radius: 0;
			padding-left: 12px;
		}
		i{
			width: 30px;
		}
	}

}

.theme-light .editText {


}

.theme-dark .editText {

}