@import '../../common.scss';

.nameInput{
  position: relative;
  width: 150px;
  .nameText{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #f3f6fa;
    padding: 0 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    .fa-pencil{
      opacity: 0;
      position: absolute;
      right: 10px;
      top: 0;
      line-height: 50px;
      font-size: 16px;
      float: right;
    }
    &:hover{
      border: 1px solid #2d3b50;
      border-radius: 3px;
      .fa-pencil{
        opacity: 1;
      }
    }
  }
  .hideInput{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    input{
      font-size: 14px;
      border: 1px solid #d0dde3;
      padding: 0 30px;
      text-align: center;
    }
  }
  .hide{
    display: none;
  }
}