@import '../../common';

.search-field {

	@include shadow(1);

	width: 240px;
	height: 40px;
	border-radius: 20px;

	input {
		line-height: 20px;
		padding: 10px 40px !important;
	}

	i {
		width: 40px !important;
		height: 40px;
		text-align: center;
		line-height: 40px;

		&.text-field-icon {
			margin-left: 3px;
		}
	}

	&.empty {
		input {
			padding: 10px 20px 10px 43px !important;
		}
	}
}