@import '../../common';

.switcher {
	box-sizing: border-box;
	width: 54px;
	height: 30px;
	border-radius: 15px;
	position: relative;
	cursor: pointer;

	.slider {

		@include shadow(2);

		width: 26px;
		height: 26px;
		border-radius: 13px;
		background: #FFF;
		position: absolute;
		top: 1px;
		left: 1px;
		transition: all 200ms ease-in-out;

		i {
			width: 20px;
			height: 20px;
			line-height: 20px;
			font-size: 14px;
			cursor: default;
		}
	}

	&.active {
		.slider {
			left: 25px;
		}
	}

	&[disabled] {
		cursor: not-allowed;
	}

}

.switcher.small {

	@extend .switcher;

	width: 40px;
	height: 24px;
	border-radius: 12px;

	.slider {
		width: 20px;
		height: 20px;
		border-radius: 10px;

		i {
			width: 20px;
			height: 20px;
			line-height: 20px;
		}
	}

	&.active {
		.slider {
			left: 17px;
		}
	}
}

.theme-light .switcher {
	border: 1px solid darken($bg-light, 2%);
	background: $bg-light;

	.slider {
		i {
			color: lighten($text-light, 20%);
		}
	}

	&.active {
		background: $title-light;
		border: 1px solid $title-light;
	}

	&[disabled] {
		background: grayscale($bg-light);
		border: 1px solid grayscale(darken($bg-light, 2%));

		.slider {
			box-shadow: none;
		}
	}

	&[disabled].active {
		background: grayscale($bg-light);
	}
}

.theme-dark .switcher {
	border: 1px solid darken($bg-dark, 2%);
	background: $bg-dark;

	.slider {
		i {
			color: lighten($text-dark, 20%);
		}
	}

	&.active {
		background: $title-dark;
		border: 1px solid $title-dark;
	}

	&[disabled] {
		background: grayscale($bg-dark);
		border: 1px solid grayscale(darken($bg-dark, 2%));

		.slider {
			box-shadow: none;
		}
	}

	&[disabled].active {
		background: grayscale($bg-dark);
	}
}