/**
 * @file HorizontalPointStepItem style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.horizontal-point-step-item {
    position: relative;

    .bg-bar {
        width: 2px;
        height: 20px;
        background: $theme-field-bg-disabled;
    }

    .top-bar,
    .bottom-bar {
        width: 2px;
        height: 20px;
        background: $theme-primary;
    }

    .top-bar {
        height: 50%;
    }

    .bottom-bar {
        height: 50%;

        &.hidden {
            display: none;
        }

        &.full {
            height: 50%;
        }
    }

    //.bg-round {
    //    width: 16px;
    //    height: 16px;
    //    border-radius: 50%;
    //    position: absolute;
    //    left: 50%;
    //    top: 22px;
    //    margin-left: -8px;
    //    background: $theme-field-bg;
    //}

    .round {
        position: relative;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-left: -4px;
        text-align: center;
        line-height: 32px;
        font-weight: bold;
        background: $theme-field-bg-disabled;
        color: $theme-field-disabled;

        i {
            text-align: center;
            line-height: 32px;
        }
    }

    .title {
        width: 100%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: $theme-field;
    }

    &.first {
        .bg-bar {
            height: 50%;
        }
    }

    &.last {
        .bg-bar {
            height: 50%;
        }
    }

    &.activated {
        .round {
            background: $theme-highlight;

            //&::after {
            //    content: "";
            //    position: absolute;
            //    left: -16px;
            //    top: -16px;
            //    display: block;
            //    width: 40px;
            //    height: 40px;
            //    background: transparentize($theme-highlight, .9);
            //    border-radius: 50%;
            //}
        }
    }

    &.finished {
        .round {
            cursor: pointer;
            background: $theme-primary;
            color: #fff;
        }
    }

    &.disabled {
        .round {
            cursor: default;
        }
    }

}