@import '../../../../common.scss';

.raised-button-examples {
    padding: 40px;

    .button-group-wrapper {
        width: 100%;
        margin-top: 30px;

        .button-group-title {
            font-size: 16px;
            line-height: 30px;
        }

        .button-group {

            & > .raised-button {
                margin: 0 10px 10px 0;
            }
        }

        &:first-child {
            margin-top: 0;
        }
    }
}