/**
 * @file Widget style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.widget {

    .widget-content {
        border-radius: $theme-border-radius;
        background: $theme-container-bg;
    }

    .widget-header + .widget-content {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}