$brand-light: #344C67;
$nav-light: #FFF; // #E3EAF3
$menu-light: #4C637B;
$bg-light: #F3F6FA; // #FFF
$title-bg-light: #E3EAF3;
$content-bg-light: #F2F6FA;
$field-light: #FFF; // #F2F6FA
$title-light: #758697;
$text-light: #4C637B;
$light-text-light: #B8C6D6;
$highlight-light: #38B1EB;
$popup-light: #4C637B;