$brand-dark: #2A394F;
$nav-dark: #364760;
$menu-dark: #364760;
$bg-dark: #D5DAE6;
$title-bg-dark: #EEF1F7;
$content-bg-dark: #FCFDFE;
$field-dark: #FFF;
$title-dark: #6A788D;
$text-dark: #8C97B2;
$light-text-dark: #F0F4F6;
$highlight-dark: #5AB0EE;
$popup-dark: #364760;