/**
 * @file MaterialEditableSelect style
 */

.material-editable-select {
    position: relative;
    width: 300px;
    background: $theme-field-bg;

    .material-editable-select-label {
        display: inline-block;
        line-height: 16px;
        color: $theme-label;
        transform-origin: top left;
        transition: transform $theme-transition-duration ease-in-out,
        color $theme-transition-duration ease-in-out;
    }

    .text-field {
        width: 100%;
        border: none;
        border-radius: 0;
        background: transparent;
        border-bottom: 1px solid $theme-border !important;
        box-shadow: none !important;

        .text-field-input,
        .text-field-placeholder {
            padding-left: 8px;
            transition: opacity $theme-transition-duration ease-in-out;
        }

    }

    &.focused {
        .material-editable-select-label {
            color: $theme-highlight;
        }
    }

    &.has-label.animated {

        .material-editable-select-label {
            transform: translate(8px, 28px);
        }

        .text-field-input,
        .text-field-placeholder {
            opacity: 0;
        }

        &.has-value,
        &.focused {
            .material-editable-select-label {
                transform: translate(0, 0);
            }

            .text-field-input,
            .text-field-placeholder {
                opacity: 1;
            }
        }
    }

}

.material-editable-select-popup {
    border: none;
}
