/**
 * @file WidgetHeader style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.widget-header {
    height: 40px;
    line-height: 40px;
    padding: 5px 10px 5px 20px;
    border-bottom: 1px solid $theme-bg;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    .right {
        float: right;
    }
}