/**
 * @file WidgetHeader style
 */

.widget-header {
    color: $theme-field;
    background: $theme-secondary;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px 5px 20px;
    border-bottom: 1px solid $theme-border;
    border-top-left-radius: $theme-border-radius;
    border-top-right-radius: $theme-border-radius;

    .right {
        float: right;
    }
}
