/**
 * @file MaterialTextArea style
 */

.material-provider.material-text-area {
    @include float-fix;
    position: relative;
    display: inline-block;
    background: $theme-field-bg;

    .text-area {
        border-bottom: none;

        .text-area-input,
        .text-area-placeholder {
            padding-left: 8px;
            padding-right: 8px;
        }

        .text-area-word-count {
            display: block;
            height: 1px;
            padding: 0;
        }
    }

    .material-field-separator {
        transform: translateY(-3px);
    }

    &.has-word-count {

        .text-area .text-area-word-count {
            height: 30px;
        }

        .material-field-separator {
            transform: translateY(-29px);
        }
    }
}
