/**
 * @file MaterialTextArea style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.material-text-area {
    position: relative;
    width: 300px;
    background: $theme-field-bg;

    .material-text-area-label {
        display: inline-block;
        line-height: 16px;
        color: $theme-field-disabled;
        transform-origin: top left;
        transition: transform $transition-duration ease-in-out,
        color $transition-duration ease-in-out;
    }

    .text-area {
        width: 100%;
        border: none;
        border-radius: 0;
        background: transparent;
        border-bottom: 1px solid $theme-border !important;
        box-shadow: none !important;

        .text-area-input {
            padding-left: 8px;
            transition: opacity $transition-duration ease-in-out;
        }

    }

    &.focused {
        .material-text-area-label {
            color: $theme-highlight;
        }
    }

    &.has-label.animated {

        .material-text-area-label {
            transform: translate(8px, 28px);
        }

        .text-area-input {
            opacity: 0;
        }

        &.has-value,
        &.focused {
            .material-text-area-label {
                transform: translate(0, 0);
            }

            .text-area-input {
                opacity: 1;
            }
        }
    }

}