.anchor-examples {
    .anchor {
        margin: 10px 0 0 10px;
    }
}

.example-content {
    .dialog-button {
        width: 120px;
    }
}

.popover-dialog-content-scroller {
    width: 1000px;
    height: 1000px;
    a {
        margin-right: 20px;
    }
}