/**
 * @file PopupBody style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

@mixin popup-theme($bg-color) {

    .popup-triangle {
        border-color: $bg-color;
    }

    .popup-content {
        background: $bg-color;
    }
}

.popup {
    position: absolute;
    width: 200px;
    z-index: $popup-z-index;
    background: transparent;

    .popup-triangle-wrapper {
        position: absolute;
        z-index: 1;

        .popup-triangle {
            width: 0;
            height: 0;
        }
    }

    .popup-content {
        width: 100%;
        height: 100%;
        overflow: auto;
        border-radius: $theme-border-radius;
        transform: rotate(0deg);
    }

    &.hidden {
        left: -99999px !important;
    }

    &.popup-position-bottom-left {

        &.popup-has-triangle {
            margin-top: 10px;
        }

        .popup-triangle-wrapper {
            left: 10px;
            top: -6px;

            .popup-triangle {
                border-left: 6px solid transparent !important;
                border-right: 6px solid transparent !important;
                border-bottom-width: 6px;
                border-bottom-style: solid;
            }
        }

        &.hidden {
            transform: translate3d(-50%, -50%, 0) scale(0);
        }

    }

    &.popup-position-bottom {

        &.popup-has-triangle {
            margin-top: 10px;
        }

        .popup-triangle-wrapper {
            left: 50%;
            top: -6px;
            transform: translateX(-50%);

            .popup-triangle {
                border-left: 6px solid transparent !important;
                border-right: 6px solid transparent !important;
                border-bottom-width: 6px;
                border-bottom-style: solid;
            }
        }

        &.hidden {
            transform: translate3d(0, -50%, 0) scale(0);
        }

    }

    &.popup-position-bottom-right {

        &.popup-has-triangle {
            margin-top: 10px;
        }

        .popup-triangle-wrapper {
            right: 10px;
            top: -6px;

            .popup-triangle {
                border-left: 6px solid transparent !important;
                border-right: 6px solid transparent !important;
                border-bottom-width: 6px;
                border-bottom-style: solid;
            }
        }

        &.hidden {
            transform: translate3d(50%, -50%, 0) scale(0);
        }

    }

    &.popup-position-top-left {

        &.popup-has-triangle {
            margin-bottom: 10px;
        }

        .popup-triangle-wrapper {
            left: 10px;
            top: 100%;

            .popup-triangle {
                border-left: 6px solid transparent !important;
                border-right: 6px solid transparent !important;
                border-top-width: 6px;
                border-top-style: solid;
            }
        }

        &.hidden {
            transform: translate3d(-50%, 50%, 0) scale(0);
        }

    }

    &.popup-position-top {

        &.popup-has-triangle {
            margin-bottom: 10px;
        }

        .popup-triangle-wrapper {
            left: 50%;
            top: 100%;
            transform: translateX(-50%);

            .popup-triangle {
                border-left: 6px solid transparent !important;
                border-right: 6px solid transparent !important;
                border-top-width: 6px;
                border-top-style: solid;
            }
        }

        &.hidden {
            transform: translate3d(0, 50%, 0) scale(0);
        }

    }

    &.popup-position-top-right {

        &.popup-has-triangle {
            margin-bottom: 10px;
        }

        .popup-triangle-wrapper {
            right: 10px;
            top: 100%;

            .popup-triangle {
                border-left: 6px solid transparent !important;
                border-right: 6px solid transparent !important;
                border-top-width: 6px;
                border-top-style: solid;
            }
        }

        &.hidden {
            transform: translate3d(50%, 50%, 0) scale(0);
        }

    }

    &.popup-position-left-top {

        &.popup-has-triangle {
            margin-right: 10px;
        }

        .popup-triangle-wrapper {
            left: 100%;
            top: 10px;

            .popup-triangle {
                border-top: 6px solid transparent !important;
                border-bottom: 6px solid transparent !important;
                border-left-width: 6px;
                border-left-style: solid;
            }
        }

        &.hidden {
            transform: translate3d(50%, -50%, 0) scale(0);
        }

    }

    &.popup-position-left {

        &.popup-has-triangle {
            margin-right: 10px;
        }

        .popup-triangle-wrapper {
            left: 100%;
            top: 50%;
            transform: translateY(-50%);

            .popup-triangle {
                border-top: 6px solid transparent !important;
                border-bottom: 6px solid transparent !important;
                border-left-width: 6px;
                border-left-style: solid;
            }
        }

        &.hidden {
            transform: translate3d(50%, 0, 0) scale(0);
        }

    }

    &.popup-position-left-bottom {

        &.popup-has-triangle {
            margin-right: 10px;
        }

        .popup-triangle-wrapper {
            left: 100%;
            bottom: 10px;

            .popup-triangle {
                border-top: 6px solid transparent !important;
                border-bottom: 6px solid transparent !important;
                border-left-width: 6px;
                border-left-style: solid;
            }
        }

        &.hidden {
            transform: translate3d(50%, 50%, 0) scale(0);
        }

    }

    &.popup-position-right-top {

        &.popup-has-triangle {
            margin-left: 10px;
        }

        .popup-triangle-wrapper {
            left: -6px;
            top: 10px;

            .popup-triangle {
                border-top: 6px solid transparent !important;
                border-bottom: 6px solid transparent !important;
                border-right-width: 6px;
                border-right-style: solid;
            }
        }

        &.hidden {
            transform: translate3d(-50%, -50%, 0) scale(0);
        }

    }

    &.popup-position-right {

        &.popup-has-triangle {
            margin-left: 10px;
        }

        .popup-triangle-wrapper {
            left: -6px;
            top: 50%;
            transform: translateY(-50%);

            .popup-triangle {
                border-top: 6px solid transparent !important;
                border-bottom: 6px solid transparent !important;
                border-right-width: 6px;
                border-right-style: solid;
            }
        }

        &.hidden {
            transform: translate3d(-50%, 0, 0) scale(0);
        }

    }

    &.popup-position-right-bottom {

        &.popup-has-triangle {
            margin-left: 10px;
        }

        .popup-triangle-wrapper {
            left: -6px;
            bottom: 10px;

            .popup-triangle {
                border-top: 6px solid transparent !important;
                border-bottom: 6px solid transparent !important;
                border-right-width: 6px;
                border-right-style: solid;
            }
        }

        &.hidden {
            transform: translate3d(-50%, 50%, 0) scale(0);
        }

    }

    &.popup-animated {
        transition: left 0s, transform $theme-transition-duration ease-in-out;

        &.hidden {
            transition: left 0s $theme-transition-duration, transform $theme-transition-duration ease-in-out;
        }
    }

    // default theme
    @include popup-theme($theme-field-bg);

    // other themes
    &.theme-primary {
        @include popup-theme($theme-primary);
    }
    &.theme-secondary {
        @include popup-theme($theme-secondary);
    }
    &.theme-highlight {
        @include popup-theme($theme-highlight);
    }
    &.theme-info {
        @include popup-theme($theme-info);
    }
    &.theme-success {
        @include popup-theme($theme-success);
    }
    &.theme-warning {
        @include popup-theme($theme-warning);
    }
    &.theme-error {
        @include popup-theme($theme-error);
    }

}