/**
 * @file Pagination style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.pagination {
    @include float-fix;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 5px 5px 5px 15px;
    user-select: none;
    cursor: default;
    background: $theme-field-bg;

    .pagination-left {
        float: left;
        line-height: 40px;

        .pagination-selected,
        .pagination-total {
            float: left;
            margin-right: 20px;
        }
    }

    .pagination-right {
        float: right;
        line-height: 40px;
    }
}
