/**
 * @file DraggableGridGroup style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.draggable-grid-group {
    position: relative;

    & > .draggable-grid-item-wrapper {
        float: none;
    }

    .draggable-grid-group-name {
        background-color: transparent !important;
        height: 20px !important;
        line-height: 20px !important;
        padding: 0 !important;
        border: none !important;
    }

    .draggable-grid-group-item-wrapper {
        @include float-fix;
    }

    .draggable-grid-group-anchor {
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        color: $theme-secondary !important;
        cursor: move;
    }

    &.dragging {
        opacity: .1;
    }

    &.draggable {
        cursor: move;
    }
}