/**
 * @file MaterialDatePickerTextField style
 * @author sunday(sunday.wei@derbysoft.com)
 */

.date-picker-text-field {
    position: relative;
    width: 100%;
    height: 40px;
    background: $theme-field-bg;

    .text-field {
        width: 100%;
        border: none;
        border-radius: 0;
        background: transparent;
        border-bottom: 1px solid $theme-border !important;
        box-shadow: none !important;

        .text-field-input {
            padding-left: 8px;
            transition: opacity $theme-transition-duration ease-in-out;
        }

    }

    &.focused {
        .material-date-picker-text-field-label {
            color: $theme-highlight;
        }
    }

    &.has-label.animated {

        .material-date-picker-text-field-label {
            transform: translate(8px, 28px);
        }

        .text-field-input ,
        .text-field-placeholder {
            opacity: 0;
        }

        &.has-value,
        &.focused {
            .material-date-picker-text-field-label {
                transform: translate(0, 0);
            }

            .text-field-input ,
            .text-field-placeholder {
                opacity: 1;
            }
        }
    }

}