@import '../../my-theme.scss';

.app {
    .app-content {
        @include shadow(1);
        position: relative;
        background: $theme-bg;
        box-sizing: border-box;
        min-height: 100vh;
        padding: 60px 0 0 250px;
        transition: all $theme-transition-duration ease-in-out;

        .content-router-view {
            @include float-fix;
            min-height: 100%;
        }

        .module-loading {
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -24px;
        }

        .app-content-modal {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }

}

@media (max-width: 767px) {
    .app {
        .app-content {
            padding-left: 0;
            transform: translate3d(70%, 0, 0);
        }

        &.collapsed {
            .app-content {
                transform: translate3d(0, 0, 0);
            }
        }
    }
}