@import '../../common.scss';

.app {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: $theme-menu;

    & > .content-wrap {
        position: absolute;
        width: calc(100% - 250px);
        height: 100%;
        overflow: auto;
        box-sizing: border-box;
        margin-left: 250px;
        overflow-scrolling: touch;
        -webkit-overflow-scrolling: touch;
        z-index: $content-wrap-z-index;
        transition: all $transition-duration ease-in-out;

        & > .content {

            @include shadow(1);

            position: relative;
            background: $theme-bg;
            box-sizing: border-box;
            padding: 60px 0 60px;
            min-height: 100%;
            transition: all $transition-duration ease-in-out;
            overflow: auto;

            .content-router-view {

                @include float-fix;

                min-height: 100%;

            }

            .copyright {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 60px;
                line-height: 20px;
                text-align: center;
                font-size: 12px;
                padding: 20px 0;
                user-select: none;
                box-sizing: border-box;
                color: lighten($theme-text, 50%);
                z-index: $copyright-z-index;
            }

            .module-loading {
                position: absolute;
                left: 50%;
                top: 50%;
                margin: -24px;
            }
        }
    }

}

@media (max-width: 767px) {
    .app {

        & > .content-wrap {
            transform: translate3d(calc(300px - 5%), 0, 0) scale(.9);
            width: 100%;
            margin: 0;
            overflow: hidden;
            z-index: $content-wrap-mobile-z-index;
        }

        &.collapsed {
            & > .content-wrap {
                transform: none;
                width: 100%;
                margin: 0;
                overflow: auto;
            }
        }
    }
}