@import '../../my-theme.scss';

.example {
    padding: 20px 30px 30px;

    p {
        padding: 0 0 10px 0;
        font-size: 14px;
        line-height: 24px;

        span {
            color: $theme-highlight;
        }
    }

    .example-title {
        font-size: 18px;
        cursor: default;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, .06);
    }

    .widget {
        margin-bottom: 30px;
    }

    .example-content {
        @include float-fix;
        padding: 30px;

        code {
            padding: 5px;
            margin: 0;
            background-color: rgba(0, 0, 0, .04);
            border-radius: 3px;
            font-family: Consolas, Liberation Mono, Menlo, Courier, monospace;
        }

    }

    .prop-type-desc-table {

        tbody tr td:first-child {
            color: $theme-highlight;
        }

        tbody tr td:nth-child(2) {
            color: $theme-error;
        }

        thead tr th {
            color: $theme-field;
            font-size: 15px;
            border: none;
        }

    }

}

@media (max-width: 767px) {
    .example {
        padding: 8px 16px 16px;

        .example-content {
            padding: 16px;
        }
    }
}