@import '../../common.scss';

.example {
    padding: 40px;

    .widget {
        margin-bottom: 30px;
    }

    .example-header {

        color: #fff;
        background: $theme-title;

    }

    .example-title {

        font-size: 18px;
        cursor: default;
        user-select: none;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, .06);

    }

    .example-content {

        @include float-fix;

        box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;

    }

    .prop-type-desc-table {

        tbody tr td:first-child {

            color: $cyan;

        }

        tbody tr td:nth-child(2) {

            color: $error;

        }

        thead tr th {
            color: $grey;
            font-size: 15px;
        }

    }

}