/**
 * @file PaginationSize style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.pagination-size {
    @include float-fix;
    float: left;

    & > * {
        float: left;
    }

    .pagination-size-select {
        margin-left: 10px;
        width: auto;
        height: 40px;

        .dropdown-trigger {
            box-shadow: none;
            border-color: transparent;

            &:hover {
                @include shadow(1);
                border-color: $theme-border;
            }

            &.activated {
                @include shadow(4);
                border-color: $theme-border;
            }

            .dropdown-trigger-icon {
                margin-left: 8px;
                float: none;
            }
        }
    }
}
