@import '../_common.scss';

.multiple-select {

    .multiple-select-selected-wrapper {

        @include float-fix;

        height: 32px;
        overflow: hidden;
        padding: 0 4px 8px 4px;
        background: $theme-field;
        border: 1px solid $theme-title-bg;
        border-bottom: none;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        &.above {
            &.activated {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }

        .multiple-select-selected-count {
            margin: 4px;
            margin: 8px 4px 0 4px;
            float: left;
            line-height: 24px;
            color: $theme-text;
        }

        .multiple-select-selected {
            position: relative;
            height: 16px;
            line-height: 16px;
            line-height: 16px;
            margin: 8px 4px 0 4px;
            padding: 4px 28px 4px 8px;
            float: left;
            border-radius: $border-radius;
            background: $theme-bg;

            .multiple-select-selected-remove-button {
                position: absolute;
                right: 0;
                top: 0;
                width: 20px;
                text-align: center;
                height: 24px;
                font-size: 16px;
                line-height: 20px;
                background: $theme-title-bg;
                border-top-right-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
            }
        }

    }

    .multiple-select-trigger {

        &.blow {
            &.activated {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    &.focused {
        .multiple-select-selected-wrapper {
            border-color: lighten($theme-title, 20%);
        }
    }

    &.not-empty {
        .multiple-select-trigger {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}

.multiple-select-popup {
    max-height: 300px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow-y: auto;

    .multiple-select-list {
        width: 100%;

        .no-matched-list-item {
            line-height: 40px;
            color: $theme-text;

            .no-matched-list-item-icon {
                color: $warning;
                margin-right: 10px;
            }
        }
    }

    &.above {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &.blow {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}