/**
 * @file MultipleSelect style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.multiple-select {

    .multiple-select-selected-wrapper {
        @include float-fix;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: auto;
        padding: 0 40px 8px 4px;
        background: $theme-field-bg;
        border: 1px solid $theme-border;
        border-bottom: none;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        cursor: default;
        user-select: none;
        transition: all $theme-transition-duration ease-in-out;

        .multiple-select-selected-count {
            margin: 4px;
            margin: 8px 4px 0 4px;
            float: left;
            line-height: 24px;
            color: $theme-field;
        }

        .multiple-select-selected {
            position: relative;
            box-sizing: border-box;
            max-width: 100%;
            height: 24px;
            line-height: 14px;
            margin: 8px 4px 0 4px;
            padding: 4px 26px 4px 8px;
            float: left;
            border-radius: $theme-border-radius;
            background: $theme-field-bg;
            border: 1px solid $theme-border;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            .multiple-select-selected-remove-button {
                position: absolute;
                right: 0;
                top: 0;
                width: 20px;
                text-align: center;
                height: 24px;
                font-size: 16px;
                line-height: 20px;
                border-top-right-radius: $theme-border-radius;
                border-bottom-right-radius: $theme-border-radius;
                cursor: pointer;

                &:hover {
                    background: $theme-border;
                }
            }
        }

        .multiple-select-selected-collapse-button {
            position: absolute;
            top: 0;
            right: 0;
        }

        &.collapsed {
            height: 41px;
            overflow: hidden;

            .multiple-select-selected-collapse-button .button-icon {
                transform: rotate(180deg);
            }
        }

    }

    .multiple-select-trigger {
        @include shadow(0);
        transition: all $theme-transition-duration ease-in-out;

        &.focused {
            border-color: $theme-border;
        }
    }

    &.activated {

        .multiple-select-selected-wrapper,
        .multiple-select-trigger {
            @include shadow(4);
        }

        .multiple-select-trigger.blow {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &.above {
        &.activated {
            .multiple-select-trigger {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }

    &.blow {
        &.activated {
            .multiple-select-trigger {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    &.not-empty {
        .multiple-select-trigger {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}

.popup.multiple-select-popup {
    max-height: 300px;
    box-sizing: border-box;
    border: 1px solid $theme-border;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow-y: auto;

    .popup-content {
        border-radius: 0;

        .multiple-select-list {
            width: 100%;

            .no-matched-list-item {
                line-height: 40px;
                color: $theme-field;

                .no-matched-list-item-icon {
                    color: $theme-warning;
                    margin-right: 10px;
                }
            }
        }
    }

    &.above {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
    }

    &.blow {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: none;
    }
}