/**
 * @file TableHeader style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.table-header {
    position: relative;
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding: 15px 15px 14px;
    font-weight: normal;
    user-select: none;
    color: $theme-title;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-left: 1px solid transparentize($theme-border, .8);

    &:first-child {
        border-left: none;
    }

    &.sortable {
        position: relative;
        cursor: pointer;
        padding-right: 30px;

        &:hover {
            color: $theme-field;
        }

        &.asc {
            color: $theme-field;
        }

        &.desc {
            color: $theme-field;
        }
    }

    &.hidden {
        height: 0;
        line-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;

        .sort-icon {
            display: none;
        }

        & > * {
            display: none;
        }
    }
}