/**
 * @file TimeLine style
 */

.time-line {
    background: $theme-field-bg;
    padding: 10px;
    list-style: none;

    &-item {
        display: block;
        margin-left: 50px;
        user-select: none;

        &:hover {
            .time-line-item-title {
                &-success {
                    border-color: $theme-success;

                    &:before {
                        background: $theme-success;
                        width: 8px;
                        height: 8px;
                        margin-left: -29px;
                    }
                }
                &-error {
                    border-color: $theme-error;
                    &:before {
                        background: $theme-error;
                        width: 8px;
                        height: 8px;
                        margin-left: -29px;
                    }
                }
                &-warning {
                    border-color: $theme-warning;

                    &:before {
                        background: $theme-warning;
                        width: 8px;
                        height: 8px;
                        margin-left: -29px;
                    }
                }
                &-highlight {
                    border-color: $theme-highlight;

                    &:before {
                        background: $theme-highlight;
                        width: 8px;
                        height: 8px;
                        margin-left: -29px;
                    }
                }
                &-primary {
                    border-color: $theme-border;

                    &:before {
                        background: $theme-secondary;
                        width: 8px;
                        height: 8px;
                        margin-left: -29px;
                    }
                }
            }

        }

    }

    &-item-header {
        width: 50px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: #fff !important;
        background-color: $theme-highlight;
        border-color: #23b7e5;
        border-radius: 2px;
        outline: 0 !important;
        cursor: pointer;
    }

    &-item-title {

        display: block;
        padding: 20px 20px;
        border-color: #dee5e7;
        margin-left: 23px;
        border-style: solid;
        border-width: 0 0 0 4px;

        &:before {
            position: relative;
            top: 15px;
            float: left;
            width: 10px;
            height: 10px;
            margin-left: -30px;
            background: #edf1f2;
            border-color: inherit;
            border-style: solid;
            border-width: 3px;
            border-radius: 50%;
            content: "";
            box-shadow: 0 0 0 4px #f0f3f4;
            display: table;

        }

        &:after {
            clear: both;
        }

        .tl-date {
            display: block;
            float: left;
            position: relative;
            top: 10px;
            width: 100px;
            margin-left: -140px;
            text-align: right;
        }

        .tl-content {
            position: relative;
            display: inline-block;
            padding: 10px 15px;
            top: 5px;
            left: 10px;

        }

        .panel {
            border: 1px solid #dee5e7;
            border-radius: $theme-border-radius;
            background-color: $theme-field-bg;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

            &-success {
                background: $theme-success;
                color: $theme-field-bg;
            }
            &-error {
                background: $theme-error;
                color: $theme-field-bg;
            }
            &-warning {
                background: $theme-warning;
                color: $theme-field-bg;
            }
            &-highlight {
                background: $theme-highlight;
                color: $theme-field-bg;
            }

        }

        .triangle {
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            left: -20px;
            top: 8px;
            border-style: dashed solid dashed dashed;
            z-index: 10;
            border-width: 10px;
            border-color: transparent #dee5e7 transparent transparent;

            &-success {
                border-color: transparent $theme-success transparent transparent;
            }
            &-error {
                border-color: transparent $theme-error transparent transparent;
            }
            &-warning {
                border-color: transparent $theme-warning transparent transparent;
            }
            &-highlight {
                border-color: transparent $theme-highlight transparent transparent;
            }
        }

        .tag {
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            left: -17px;
            top: 8px;
            border-style: dashed solid dashed dashed;
            z-index: 10;
            border-width: 10px;
            border-color: transparent $theme-field-bg transparent transparent;

            &-success {
                border-color: transparent $theme-success transparent transparent;
            }
            &-error {
                border-color: transparent $theme-error transparent transparent;
            }
            &-warning {
                border-color: transparent $theme-warning transparent transparent;
            }
            &-highlight {
                border-color: transparent $theme-highlight transparent transparent;
            }
        }

    }

}

