/**
 * @file TableRow style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */
@import '../_common.scss';

.table-row {
    box-sizing: border-box;
    border-bottom: 1px solid $theme-bg;

    td {
        height: 29px;
        line-height: 29px;
        text-align: left;
        padding: 15px;
        transition: none;
        user-select: none;
        cursor: default;
        white-space: nowrap;

        &.actions {
            i {
                width: 12px;
                margin-left: 24px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    &:hover {
        td {
            background: transparentize($theme-title-bg, .8);

            &.actions {

                .delete-icon {
                    color: $error !important;
                }
            }

            a {
                text-decoration: underline;
            }
        }
    }
}