/**
 * @file TableRow style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.table-row {
    box-sizing: border-box;
    background: $theme-field-bg;
    border-bottom: 1px solid $theme-border;

    .table-data {
        text-align: left;
        padding: 15px;
        transition: none;
        cursor: default;
        white-space: nowrap;

        &.actions {
            i {
                width: 12px;
                margin-left: 24px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    &:hover {
        background: theme-color-hover($theme-secondary);

        .table-data {
            a {
                text-decoration: underline;
            }
        }
    }

    &[disabled] {
        color: $theme-field-disabled;
        background: $theme-field-bg-disabled;

        .table-data {
            cursor: not-allowed;
        }
    }
}