/**
 * @file TableRow style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.table-row {
    box-sizing: border-box;
    background: $theme-field-bg;
    border-bottom: 1px solid $theme-border;

    .table-data {
        text-align: left;
        padding: 15px;
        transition: none;
        cursor: default;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &.empty {
            text-align: center;
            color: $theme-description;
        }

        .collapsed-icon {
            position: absolute;
            margin-left: -8px;
            transition: transfrom 0.5s;

            &.expanded-icon {
                transform: rotate(90deg);
            }
        }
    }

    &:hover {
        background: theme-color-hover($theme-secondary);

        .table-data.empty {
            background: $theme-field-bg;
        }
    }

    &[disabled] {
        color: $theme-field-disabled;
        background: $theme-field-bg-disabled;

        .table-data {
            cursor: not-allowed;
        }
    }
}