@import '../_common.scss';

#popup-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    overflow: visible;

    .popup {
        position: absolute;
        width: 200px;
        border-radius: $border-radius;
        transition: left 0s, opacity $transition-duration ease-in-out,
        transform $transition-duration ease-in-out;
        z-index: $popup-z-index;
        margin-top: 4px;

        .popup-triangle {
            display: none;
            width: 0;
            height: 0;
            position: absolute;
            top: -6px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid transparent;
            z-index: 1;
        }

        .popup-content {

            @include shadow(4);

            width: 100%;
            overflow: hidden;
            border-radius: $border-radius;
            transform: rotate(0deg);
        }

        &.hidden {
            opacity: 0 !important;
            left: -99999px !important;
            transition: left 0s $transition-duration,
            opacity $transition-duration ease-in-out,
            transform $transition-duration ease-in-out;
        }

        &.popup-position-left {
            .popup-triangle {
                left: 10px;
            }

            &.hidden {
                transform: translate(-50%, -50%) scale(.01, .01);
            }
        }

        &.popup-position-right {
            .popup-triangle {
                right: 10px;
            }

            &.hidden {
                transform: translate(50%, -50%) scale(.01, .01);
            }
        }

        &.popup-has-triangle {
            margin-top: 10px;

            .popup-triangle {
                display: block;
            }
        }

        // default theme
        @include popup-theme(#fff);

        // other themes
        &.theme-primary {
            @include popup-theme($theme-menu);
        }
        &.theme-highlight {
            @include popup-theme($theme-highlight);
        }
        &.theme-success {
            @include popup-theme($success);
        }
        &.theme-warning {
            @include popup-theme($warning);
        }
        &.theme-error {
            @include popup-theme($error);
        }

    }
}