/**
 * @file PositionPop style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.position-pop {
    position: fixed;
    z-index: $pop-z-index;
    background: transparent;
    overflow: visible;
    box-sizing: border-box;
    border-radius: $theme-border-radius;
    transform-origin: 50% 50%;

    &.position-pop-animated {
        transition: opacity $theme-transition-duration ease-in-out, transform $theme-transition-duration ease-in-out;

        &.hidden {
            opacity: 0;
            transform: scale(.9);
        }
    }

}
