@import '../../../../../common.scss';

.create-feed-base-info-wrapper {
    padding-bottom: 20px;

    .create-feed-base-info {
        padding: 60px 120px;

        .field-group {
            @include float-fix;

            margin-top: 40px;

            &:first-child {
                margin-top: 0;
            }

            & > label {
                float: left;
                width: 140px;
                height: 50px;
                line-height: 50px;

                &.unit {
                    margin-left: 10px;
                }
            }

            .dropdown-select {
                float: left;
                height: 50px;
                width: calc(100% - 210px);
            }

            .add-button {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                float: left;
                margin: 5px 0 5px 30px;

                .button-icon {
                    margin: 0;
                }
            }

            .radio {
                float: left;
                width: 90px;
            }

            .other-execute-interval {
                float: left;
                width: 100px;
                height: 40px;
                margin-top: 5px;

                input {
                    padding: 10px 30px 10px 10px;
                }

                .clear-icon {
                    width: 30px;
                    height: 40px;
                    line-height: 40px;
                }

                &.empty {
                    input {
                        padding: 10px;
                    }
                }
            }
        }

    }
}

.theme-light .create-feed-base-info-wrapper {
}