@import '../../../../common.scss';

.feed-list {
    min-height: calc(100% - 60px);

    .feed-list-filter {

        @include float-fix;

        margin: 40px 40px 0;

        .left {
            float: left;

            .create-feed-button {
                width: 120px;
            }
        }

        .right {
            float: right;

            .checkbox-button-group,
            .search-field {
                float: left;
                margin-left: 20px;
            }
        }

    }

    .feed-list-table {
        margin: 20px 40px;

        .widget {

            .actions {
                width: 120px;
            }
        }

    }

}