@import '../../common.scss';

.pagging {
    margin: 20px 0 0;
    height: 40px;
    line-height: 40px;
    user-select: none;

    .pagging-size {
        float: left;

        & > * {
            float: left;
        }

        .pagging-size-select {
            margin-left: 10px;
            width: 100px;
        }
    }

    .pagging-page {
        float: right;

        & > * {
            float: left;
            margin-left: 10px;

            &:first-child {
                margin-left: 0;
            }
        }

        .ctrl {
            float: left;
            width: 40px;

            i {
                margin: 0;
            }
        }

        .page {
            float: left;
            width: 40px;
            margin-left: 10px;

            &:first-child {
                margin-left: 0;
            }

            &[disabled] {
                cursor: default;
            }
        }

        .apostrophe {
            width: 40px;
            height: 30px;
            line-height: 20px;
            text-align: center;
            float: left;
            margin-left: -5px;
            margin-right: -5px;
        }
    }

}

.theme-light .pagging {
    .button {
        background: $title-light;
        color: transparentize(#FFF, .1);

        &:hover {
            background: lighten($title-light, 4%);
            color: #FFF;
        }

        &:active {
            background: darken($title-light, 4%);
            color: #FFF;
        }

        &[disabled] {
            background: lighten($title-light, 20%);

            &.page {
                color: $text-light;
                background: $field-light;
            }
        }
    }
}

.theme-dark .pagging {
    .button {
        background: $text-dark;
        color: transparentize(#FFF, .1);

        &:hover {
            background: lighten(#3f5370, 4%);
            color: #FFF;
        }

        &:active {
            background: darken(#3f5370, 4%);
            color: #FFF;
        }

        &[disabled] {
            background: lighten($title-dark, 20%);

            &.page {
                color: $text-dark;
                background: $field-dark;
            }

        }
    }
}