/**
 * @file DraggableGridItem style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

@mixin draggable-grid-item-theme($color, $bg-color) {
    color: $color;
    background-color: $bg-color;

    &:hover {
        color: theme-color-hover($color);
        background-color: theme-color-hover($bg-color);
    }

    &:active {
        color: theme-color-active($color);
        background-color: theme-color-active($bg-color);
    }
}

.draggable-grid-item-wrapper {
    float: left;
    box-sizing: border-box;
    padding: 0 10px;
    margin-bottom: 10px;

    .draggable-grid-item {
        position: relative;
        display: block;
        box-sizing: content-box;
        width: auto;
        height: 40px;
        padding: 0 40px 0 15px;
        line-height: 40px;
        border: 1px solid $theme-border;
        color: $theme-field;
        background-color: $theme-field-bg;
        transition: all $theme-transition-duration ease-in-out;
        font-size: 12px;
        text-align: left;
        user-select: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -webkit-user-drag: element;

        .draggable-grid-item-select {
            float: left;
            width: 16px;
            height: 40px;
            margin-right: 10px;

            .checkbox-icon-wrapper {
                vertical-align: baseline;
                width: 100%;
            }
        }

        .button-icon {
            width: 16px;
            line-height: inherit;
            text-align: center;
            font-size: inherit;
            color: inherit;

            &.button-icon-left {
                float: left;
                margin-right: 15px;
            }

            &.button-icon-right {
                float: right;
                margin-left: 15px;
            }

            .circular-loading {
                margin-right: 10px;
            }
        }

        .circular-loading .spinner {
            border-color: inherit;
        }

        .draggable-grid-item-content {
            display: inline-block;
            box-sizing: border-box;
            height: 40px;
            padding: 6px 0;
            line-height: 28px;

            .draggable-grid-item-content-value {
                line-height: 14px;
            }

            .draggable-grid-item-content-desc {
                line-height: 14px;
                opacity: .5;
            }
        }

        .draggable-grid-item-anchor {
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            color: $theme-secondary;
            cursor: move;
        }

        &.dragging {
            opacity: .1;
        }

        &.draggable {
            cursor: move;
        }

        &[disabled] {
            cursor: not-allowed;
            color: $theme-field-disabled;
            background-color: $theme-field-bg-disabled;
        }

        // default theme
        //@include draggable-grid-item-theme($theme-field, $theme-field-bg);

        // other themes
        &.theme-primary {
            @include draggable-grid-item-theme($theme-secondary, $theme-primary);
        }

        &.theme-secondary {
            @include draggable-grid-item-theme($theme-primary, $theme-secondary);
        }

        &.theme-highlight {
            @include draggable-grid-item-theme(#fff, $theme-highlight);
        }

        &.theme-info {
            @include draggable-grid-item-theme(#fff, $theme-info);
        }

        &.theme-success {
            @include draggable-grid-item-theme(#fff, $theme-success);
        }

        &.theme-warning {
            @include draggable-grid-item-theme(#fff, $theme-warning);
        }

        &.theme-error {
            @include draggable-grid-item-theme(#fff, $theme-error);
        }
    }
}
