/**
 * @file DraggableGridItem style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.draggable-grid-item-wrapper {
    float: left;
    box-sizing: border-box;
    padding: 0 10px;
    margin-bottom: 10px;

    .draggable-grid-item {
        display: block;
        width: auto;
        height: 40px;
        position: relative;
        line-height: 40px;
        border: 1px solid $theme-border;
        color: $theme-field;
        background-color: $theme-field-bg;
        transition: all $transition-duration ease-in-out;
        box-sizing: border-box;
        padding: 0 40px 0 15px;
        font-size: 12px;
        text-align: left;
        user-select: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -webkit-user-drag: element;

        .draggable-grid-item-checkbox {
            display: inline-block;
            width: 16px;
            margin-right: 10px;
            float: left;
            overflow: hidden;
        }

        .draggable-grid-item-checked {
            display: inline-block;
            float: left;
            width: 16px;
            line-height: inherit;
            margin-right: 10px;
            color: lighten($theme-field, 45%);
            text-align: center;

            &.activated {
                color: $theme-success;
            }
        }

        .button-icon {
            width: 16px;
            line-height: inherit;
            text-align: center;
            font-size: inherit;
            color: inherit;

            &.button-icon-left {
                float: left;
                margin-right: 15px;
            }

            &.button-icon-right {
                float: right;
                margin-left: 15px;
            }

            .circular-loading {
                margin-right: 10px;
            }
        }

        .circular-loading .spinner {
            border-color: inherit;
        }

        .draggable-grid-item-content {
            display: inline-block;
            vertical-align: middle;
            padding: 6px 0;

            .draggable-grid-item-content-value {
                line-height: 14px;
            }

            .draggable-grid-item-content-desc {
                line-height: 14px;
                opacity: .5;
            }
        }

        .touch-ripple {
            border-radius: $theme-border-radius;

            &.hidden {
                display: none;
            }
        }

        .draggable-grid-item-anchor {
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            color: lighten($theme-title, 32%) !important;
            cursor: move;
        }

        &.dragging {
            opacity: .1;
        }

        &.draggable {
            cursor: move;
        }

        &[disabled] {
            cursor: not-allowed;
            color: $theme-field-disabled !important;
            background-color: $theme-field-bg-disabled !important;
        }
    }
}