/**
 * @file CircularLoading style
 */

.circular-loading {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    animation: container-rotate 1568ms linear infinite;

    .spinner {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 1;
        box-sizing: border-box;
        border-color: $theme-primary;
        animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;

        .circle {
            display: inline-block;
            position: relative;
            width: 50%;
            height: 100%;
            box-sizing: border-box;
            overflow: hidden;
            border-color: inherit;

            div {
                width: 200%;
                height: 100%;
                border-width: 1px;
                border-color: inherit;
                border-bottom-color: transparent !important;
                border-radius: 50%;
                position: absolute;
                box-sizing: border-box;
                top: 0;
                right: 0;
                bottom: 0;

                &.solid {
                    border-style: solid;
                }

                &.dotted {
                    border-style: dotted;
                }
            }

            &.success {
                border-color: $theme-success;
            }

            &.error {
                border-color: $theme-error;
            }

            &.warning {
                border-color: $theme-warning;
            }
            &.highlight {
                border-color: $theme-info;
            }

            &.left {
                float: left !important;

                div {
                    left: 0;
                    border-right-color: transparent !important;
                    transform: rotate(129deg);
                    animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
                }
            }

            &.right {
                float: right !important;

                div {
                    left: -100%;
                    border-left-color: transparent !important;
                    transform: rotate(-129deg);
                    animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
                }
            }
        }

        .gap {
            position: absolute;
            top: 0;
            left: 45%;
            width: 10%;
            height: 100%;
            box-sizing: border-box;
            overflow: hidden;
            border-color: inherit;

            & > *, & > *::before, & > *::after {
                box-sizing: inherit;
            }

            div {
                width: 1000%;
                left: -450%;
                border-radius: 50%;
                box-sizing: border-box;
            }
        }
    }

    &.hidden {
        display: none;
    }

    &.circular-loading-size-large {
        width: 48px;
        height: 48px;
    }

    &.circular-loading-size-small {
        width: 12px;
        height: 12px;
    }

}

@keyframes container-rotate {
    to {
        transform: rotate(360deg)
    }
}

@keyframes fill-unfill-rotate {
    12.5% {
        transform: rotate(135deg)
    }
    25% {
        transform: rotate(270deg)
    }
    37.5% {
        transform: rotate(405deg)
    }
    50% {
        transform: rotate(540deg)
    }
    62.5% {
        transform: rotate(675deg)
    }
    75% {
        transform: rotate(810deg)
    }
    87.5% {
        transform: rotate(945deg)
    }
    to {
        transform: rotate(1080deg)
    }
}

@keyframes left-spin {
    from {
        transform: rotate(130deg)
    }
    50% {
        transform: rotate(-5deg)
    }
    to {
        transform: rotate(130deg)
    }
}

@keyframes right-spin {
    from {
        transform: rotate(-130deg)
    }
    50% {
        transform: rotate(5deg)
    }
    to {
        transform: rotate(-130deg)
    }
}
