{
    "presets": [
        [
            "env",
            {
                "modules": false,
                "targets": {
                    "browsers": [
                        "> 1%",
                        "last 2 versions",
                        "not ie <= 8"
                    ]
                }
            }
        ],
        "stage-0",
        "react"
    ],
    "env": {
        "development": {
            "presets": [
                "react-hmre"
            ]
        },
        "production": {
            "plugins": [
                [
                    "transform-react-remove-prop-types",
                    {
                        "removeImport": true
                    }
                ]
            ]
        }
    },
    "plugins": [
        "transform-runtime",
        "transform-decorators-legacy"
    ]
}