/**
 * @file MaterialMonthPicker style
 * @author sunday(sunday.wei@derbysoft.com)
 */

input::-ms-clear {
    display: none;
}

.material-month-picker {
    position: relative;
    width: 300px;
    display: inline-block;

    .material-date-picker-field {
        width: 100%;
        height: 100%;
        border-radius: $theme-border-radius !important;
        box-shadow: none;

        input {
            line-height: 20px;
            padding: 10px 40px !important;
            cursor: pointer;
        }

        i {
            width: 40px !important;
            height: 40px;
            text-align: center;
            line-height: 40px;
            margin: 0;

            &.text-field-icon {
                margin-left: 3px;
            }
        }

        button {
            &.clear-icon {
                display: none;
            }
        }

        &.empty {
            input {
                padding: 10px 20px 10px 43px !important;
            }
        }
    }

}

.popup {
    &.material-month-picker-popup {
        @include shadow(3);
        width: 300px;
        height: 302px;
        margin-top: 1px;

        .calendar-date-input-wrap {
            height: 40px;

            .calendar-input {
                height: 40px;
                width: 95%;
                border: none;
                outline: none;
                margin-left: 5%;

                input {
                    padding-left: 10px;
                    font-size: 12px;
                }

                .clear-icon {
                    top: -5px;
                }
            }
        }

        .calendar {
            user-select: none;

            .calendar-header {
                width: 100%;
                height: 40px;
                line-height: 40px;
                text-align: center;
                font-size: 14px;
                border-top: 1px solid #dfdfdf;
                border-bottom: 1px solid #dfdfdf;

                .date-text {
                    margin: 0 20px;
                    cursor: pointer;
                }

                i {
                    cursor: pointer;
                    width: 20px;
                    height: 18px;
                    font-size: 22px;
                    position: relative;
                    overflow: hidden;
                    color: #c5c9ce;
                }

                //span:hover, i:hover {
                //    background: #ecf6fd;
                //    border-radius: 4px;
                //}
            }

            .calendar-body {
                border-bottom: 1px solid #dfdfdf;
                padding-bottom: 5px;
            }
        }

        .calendar-footer {
            height: 40px;
            line-height: 40px;
            text-align: center;

            .date-text {
                text-decoration: none;
                color: $theme-field;
                position: relative;
                overflow: hidden;

                .item-gray {
                    color: $theme-field-disabled;
                    cursor: not-allowed;
                }
            }
        }

    }
}