@import '../../../../common.scss';

.change-password {

	& > * {
		width: 300px;
		margin: 30px auto;
	}

	h1 {
		text-align: center;
		margin-top: 60px;
	}

	.change-password-form {

		.change-password-button {
			margin-top: 30px;
		}
	}
}