@import 'my-theme.scss';

::selection {
    color: #fff;
    background: #8d98b3;
}

::-webkit-input-placeholder {
    user-select: none;
}

:-moz-placeholder { /* Firefox 18- */
    user-select: none;
}

::-moz-placeholder { /* Firefox 19+ */
    user-select: none;
}

:-ms-input-placeholder {
    user-select: none;
}

body {
    font-family: 'helvetica neue', 'hiragino sans gb', 'stheiti',
    'microsoft yahei', \5FAE\8F6F\96C5\9ED1, tahoma, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    min-width: $minWidth;
    overflow-x: hidden;
}

.float-fix {
    @include float-fix;
}
