@import '../../../src/Theme/default.scss';

$minWidth: 320px;
$appMenuPortableWidth: .8;

$theme-bg: #fff;
$theme-brand: #344c67;
$theme-nav: #fff;
$theme-widget-bg: #f0f3f4;
$theme-light-text: #b8c6d6;

$root-loading-z-index: 99;
$nav-bar-z-index: 90;
$field-msg-z-index: 81;
$content-wrap-z-index: 60;
$content-wrap-mobile-z-index: 70;
$menu-z-index: 70;
$menu-mobile-z-index: 60;
$copyright-z-index: 50;

@mixin shadow-inset($depth) {
    @if $depth == 1 {
        box-shadow: inset transparentize($theme-shadow, .95) 0px 3px 1px,
        inset transparentize($theme-shadow, .9) 0px 1px 1px,
        inset transparentize($theme-shadow, .95) 0px -3px 1px,
        inset transparentize($theme-shadow, .9) 0px -1px 1px;
    } @else if $depth == 2 {
        box-shadow: inset transparentize($theme-shadow, .9) 0px 4px 3px,
        inset transparentize($theme-shadow, .88) 0px 1px 3px,
        inset transparentize($theme-shadow, .9) 0px -4px 3px,
        inset transparentize($theme-shadow, .88) 0px -1px 3px;
    } @else if $depth == 3 {
        box-shadow: inset transparentize($theme-shadow, .88) 0px 5px 6px,
        inset transparentize($theme-shadow, .88) 0px 2px 6px,
        inset transparentize($theme-shadow, .88) 0px -5px 6px,
        inset transparentize($theme-shadow, .88) 0px -2px 6px;
    } @else if $depth == 4 {
        box-shadow: inset transparentize($theme-shadow, .85) 0px 7px 10px,
        inset transparentize($theme-shadow, .8) 0px 3px 9px,
        inset transparentize($theme-shadow, .85) 0px -7px 10px,
        inset transparentize($theme-shadow, .8) 0px -3px 9px;
    } @else if $depth == 5 {
        box-shadow: inset transparentize($theme-shadow, .8) 0px 10px 30px,
        inset transparentize($theme-shadow, .8) 0px 6px 12px,
        inset transparentize($theme-shadow, .8) 0px -10px 30px,
        inset transparentize($theme-shadow, .8) 0px -6px 12px;
    } @else if $depth == 6 {
        box-shadow: inset transparentize($theme-shadow, .75) 0px 14px 45px,
        inset transparentize($theme-shadow, .78) 0px 10px 15px,
        inset transparentize($theme-shadow, .75) 0px -14px 45px,
        inset transparentize($theme-shadow, .78) 0px -10px 15px;
    } @else if $depth == 7 {
        box-shadow: inset transparentize($theme-shadow, .7) 0px 19px 60px,
        inset transparentize($theme-shadow, .78) 0px 15px 20px,
        inset transparentize($theme-shadow, .7) 0px -19px 60px,
        inset transparentize($theme-shadow, .78) 0px -15px 20px;
    } @else {
        box-shadow: none;
    }
}