/**
 * @file Slider style
 * @author chao(chao.zhang@derbysoft.com)
 */

.slider {
    margin: 20px 0;
    position: relative;
    user-select: none;

    .slider-box {
        width: 100%;
        height: 6px;
        position: relative;
        background: $theme-field-bg-disabled;
        cursor: pointer;

        .slider-circle {
            box-sizing: border-box;
            width: 15px;
            height: 15px;
            border: 2px solid $theme-highlight;
            border-radius: 50%;
            background: white;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;

            &.fixed-circle {
                width: 12px;
                height: 12px;
            }

            &.disable-circle {
                border-color: #ddd;
            }

            &.slider-shadow {
                box-shadow: 0 0 5px 1px lighten($theme-highlight, 0.3);
            }

            &:nth-child(1) {
                left: 0;
            }

            &:nth-child(2) {
                left: 50%;
            }

            &:hover {
                width: 18px;
                height: 18px;
            }
        }

        .slider-highlight {
            height: 100%;
            width: 50%;
            background: $theme-highlight;
            position: absolute;
            left: 0;
            top: 0;
        }

        //&:hover {
        //    .slider-circle {
        //        border: 2px solid rgba(56, 177, 235, 1);
        //    }
        //    .slider-highlight {
        //        background: rgba(56, 177, 235, 1);
        //    }
        //}
        .hide {
            display: none;
        }

        .slider-tip {
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translate(-50%, 0);
            height: 20px;
            line-height: 20px;
            color: #fff;
            border-radius: 4px;
            text-align: center;
            padding: 0 5px;
            background: #000;

            &:before {
                position: absolute;
                content: '';
                width: 0;
                height: 0;
                border: 6px solid transparent;
                border-top-color: #000;
                left: 50%;
                transform: translate(-50%, 0);
                top: 18px;
            }
        }
    }

    .Slide-scale {
        ul {
            position: relative;
            margin: 0;
            padding: 0;
            height: 28px;
            line-height: 28px;

            li {
                position: absolute;
                list-style: none;
                width: 50px;
                text-align: center;
                transform: translate(-50%, 0);
            }
        }
    }
}