.slider{
  margin: 20px;
  position: relative;
  .slider-box{
    width: 100%;
    height: 6px;
    position: relative;
    background: #e9e9e9;
    .slider-circle{
      box-sizing: border-box;
      width: 15px;
      height: 15px;
      border: 2px solid #38b1eb;
      border-radius: 50%;
      background: white;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      .slider-tip{
        display: none;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translate(-50%,0);
      }
      &:nth-child(1){
        left: 0;
      }
      &:nth-child(2){
        left: 50%;
      }
      &:hover{
        .slider-tip{
          display: block !important;
        }
      }
    }
    .slider-highlight{
      height: 100%;
      width: 50%;
      background: #38b1eb;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .Slide-scale{
    ul{
      position: relative;
      margin: 0;
      padding: 0;
      height: 20px;
      line-height: 20px;
      li{
        position: absolute;
        list-style: none;
        width: 50px;
        text-align: center;
        transform: translate(-50%, 0);
      }
    }
  }
}