@import '../_common.scss';

.touch-ripple {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(0deg);

    .ripple {
        position: absolute;
        left: 0;
        top: 0;
        opacity: .16;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: #ccc;
        transition: opacity 1s ease-out, transform .5s ease-out;
        transform: scale(0);
        pointer-events: none;
    }
}