/**
 * @file TouchRipple style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.touch-ripple {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    transform: rotate(0deg);
}