.accordion-examples {

    .accordion-content {
        .accordion-example-content {
            padding: 20px
        }
    }

    .update-content-button {
        margin-top: 16px;
        width: auto;
    }
}