@import '../../../../my-theme.scss';

.cascader-list-examples {

    .cascader-list-wrapper {
        display: inline-block;
        border: 1px solid $theme-border;
        overflow: hidden;

        .cascader-list{
            float: left;
        }
    }
}