@import '../../../../common.scss';

.paper-examples {

    .examples-wrapper {

        .paper {
            width: 100px;
            height: 100px;
            float: left;
            margin: 0 10px 10px 0;
        }
    }
}