@import '../../../../my-theme.scss';

.waterfall-examples {

    .buttons {
        text-align: center;
        margin-bottom: 20px;

        .column-button {
            width: auto;
            margin-right: 20px;
        }
    }

    .waterfall {
        .paper {
            border: 1px solid $theme-border;
        }
    }

}