/**
 * @file CascaderListExamples.scss
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */
@import '../../../../my-theme.scss';

.cascader-list-examples {

    .cascader-list-wrapper {
        display: inline-block;
        border: 1px solid $theme-border;
        overflow: hidden;

        .cascader-list {
            float: left;

            .self-define-node-desc {
                color: $theme-description;
                margin-left: 4px;
            }
        }
    }

    .has-children {
        position: relative;

        .cascader-list-actions {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 240px;
            height: 40px;
            background: $theme-secondary;
        }
    }
}
