@import '../../../../my-theme.scss';

.grid-examples {
    .paper {
        border: 1px solid $theme-border;
        overflow: hidden;
    }
}

.example-content{
    .dialog-button{
        width: 120px;
    }
}
.popover-dialog-content-scroller{
    width: 1000px;
    height: 1000px;
}