/**
 * @file List examples style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

@import '../../../../my-theme.scss';

.list-examples {
    .paper {
        border: 1px solid $theme-border;
        overflow: hidden;
    }
}

.example-content {
    .dialog-button {
        width: 120px;
    }
}

.popover-dialog-content-scroller {
    width: 1000px;
    height: 1000px;

    .paper {
        width: 300px;
    }
}

.facebook-tip .tip-content {
    color: $theme-highlight;
}
