@import '../../../../my-theme.scss';

.tab-examples {

    .tab-button.customized-tab-button {
        width: 40px;
        margin-left: 4px;
        background: $theme-widget-bg;

        .touch-ripple {
            border-radius: 0;
        }
    }
}
