/**
 * @file TabExamples.scss
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

@import '../../../../my-theme.scss';

.tab-examples {

    .toolbar {
        @include float-fix;

        & > * {
            float: right;
        }
    }

    .tab-button.customized-tab-button {
        width: 40px;
        margin-left: 4px;
        background: $theme-widget-bg;
        border-radius: $theme-border-radius $theme-border-radius 0 0;
        vertical-align: top;

        .touch-ripple {
            border-radius: $theme-border-radius $theme-border-radius 0 0;
        }
    }
}
