@import '../../../../my-theme.scss';

.table-examples {

    .toolbar {
        @include float-fix;
        margin-bottom: 16px;

        .action-button {
            float: left;
            width: auto;
            margin: 17px 16px 0 0;
        }

        .filter {
            float: right;
            background: transparent;
        }
    }

    .table.example-table {
        .table-action {
            width: auto;
            margin: 16px 16px 0 0;
        }

        &.head-hidden .scroll-table-body-scroller {
            border-top: 1px solid $theme-border;
        }

        &.foot-hidden .scroll-table-body-scroller {
            border-bottom: 1px solid $theme-border;

            tbody tr:last-child td {
                border-bottom: none
            }
        }
    }

    .loading-table-wrapper {
        position: relative;
        min-height: 200px;

        .table {
            th, td {
                border: 1px solid $theme-border;
            }
        }

        .loading-table-loading {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}
