@import '../../../../my-theme.scss';

.table-examples {

    .table {
        .table-content {
            height: 400px;
        }
    }

    .table-action {
        width: auto;
        margin: 16px 16px 0 0;
    }
}
