@import '../../../../my-theme.scss';

.waterfall-examples {

    .buttons {
        text-align: center;
        margin-bottom: 20px;

        .button-radio {
            padding: 0;
        }
    }

    .waterfall {
        .paper {
            border: 1px solid $theme-border;
        }
    }
}