@import '../_common.scss';

.checkbox {

    @include float-fix;

    width: 200px;
    color: $theme-text;
    height: 40px;
    cursor: pointer;

    .checkbox-icon-wrapper {
        float: left;
        width: 40px;
        height: 40px;
        position: relative;

        .checkbox-bg-icon,
        .checkbox-icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            font-size: 16px;
            cursor: inherit;
        }

        .checkbox-bg-icon {
            color: lighten($theme-text, 45%);

            .button-icon {
                transition: all $transition-duration ease-in-out;
            }
        }

        .checkbox-icon {
            color: $theme-highlight;

            .button-icon {
                transform: scale(0);
                transition: all $transition-duration ease-in-out;
            }
        }
    }

    .checkbox-label {
        float: left;
        height: 40px;
        line-height: 40px;
        cursor: inherit;
        user-select: none;
    }

    &.activated {

        .checkbox-bg-icon {
            .button-icon {
                opacity: 0;
            }
        }

        .checkbox-icon {
            .button-icon {
                transform: scale(1);
            }
        }
    }

    &[disabled] {
        color: lighten($theme-text, 30%);
        cursor: not-allowed;

        &.activated {
            color: lighten($theme-brand, 30%);
        }
    }

}