/**
 * @file Checkbox style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.checkbox {
    color: $theme-field;
    height: 40px;
    cursor: pointer;

    .checkbox-icon-wrapper {
        display: inline-block;
        width: 40px;
        height: 100%;
        position: relative;
        vertical-align: middle;

        .checkbox-bg-icon,
        .checkbox-icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 16px;
            cursor: inherit;
        }

        .checkbox-bg-icon {
            color: lighten($theme-field, 45%);

            .button-icon {
                transition: all $transition-duration ease-in-out;
            }
        }

        .checkbox-icon {
            color: $theme-highlight;

            .button-icon {
                transform: scale(0);
                transition: all $transition-duration ease-in-out;
            }
        }
    }

    .checkbox-label {
        display: inline-block;
        cursor: inherit;
        user-select: none;
        vertical-align: middle;
    }

    &.activated {

        .checkbox-bg-icon {
            .button-icon {
                opacity: 0;
            }
        }

        .checkbox-icon {
            .button-icon {
                transform: scale(1);
            }
        }
    }

    &[disabled] {
        color: lighten($theme-field, 30%);
        cursor: not-allowed;

        &.activated {
            color: lighten($theme-highlight, 30%);
        }
    }

}