/**
 * @file Checkbox style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

@mixin checkbox-theme($color) {
    .checkbox-indeterminate-icon,
    .checkbox-icon {
        color: $color;
    }
}

.checkbox {
    color: $theme-field;
    height: 40px;
    cursor: pointer;

    .hidden-checkbox {
        position: absolute;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        opacity: 0;
        visibility: hidden;
        appearance: none;
    }

    .checkbox-icon-wrapper {
        display: inline-block;
        width: 40px;
        height: 100%;
        position: relative;
        vertical-align: middle;
        cursor: inherit;

        .checkbox-bg-icon,
        .checkbox-indeterminate-icon,
        .checkbox-icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 16px;
            cursor: inherit;
        }

        .checkbox-bg-icon {
            color: $theme-border;
        }

        .checkbox-indeterminate-icon,
        .checkbox-icon {
            .button-icon {
                opacity: 0;
                transition: opacity $theme-transition-duration ease-in-out;
            }
        }
    }

    .checkbox-label {
        display: inline-block;
        user-select: none;
        vertical-align: middle;
        cursor: inherit;
    }

    &.indeterminated {
        .checkbox-indeterminate-icon {
            .button-icon {
                opacity: 1;
            }
        }
    }

    &.activated {
        .checkbox-icon {
            .button-icon {
                opacity: 1;
            }
        }
    }

    &[disabled] {
        color: $theme-field-disabled;
        cursor: not-allowed;
    }

    // default theme
    @include checkbox-theme($theme-primary);

    // other themes
    &.theme-primary {
        @include checkbox-theme($theme-primary);
    }

    &.theme-secondary {
        @include checkbox-theme($theme-secondary);
    }

    &.theme-highlight {
        @include checkbox-theme($theme-highlight);
    }

    &.theme-info {
        @include checkbox-theme($theme-info);
    }

    &.theme-success {
        @include checkbox-theme($theme-success);
    }

    &.theme-warning {
        @include checkbox-theme($theme-warning);
    }

    &.theme-error {
        @include checkbox-theme($theme-error);
    }

}
