/**
 * @file ResizableTh style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.resizable-th {
    position: relative;

    .react-resizable-handle {
        position: absolute;
        width: 4px;
        height: 100%;
        top: 0;
        right: -2;
        cursor: col-resize;
        z-index: 1;

        &:hover {
            background: $theme-highlight;
        }
    }

    &.activated .react-resizable-handle {
        background: $theme-highlight;
    }

    &.deactivated .react-resizable-handle:hover {
        background: unset;
    }
}
