/**
 * @file ResizableTh style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.resizable-th {
    position: relative;

    .react-resizable-handle {
        position: absolute;
        top: 0;
        right: -4px;
        width: 8px;
        height: 100%;
        background: transparent;
        cursor: col-resize;
        z-index: 1;

        &::after {
            content: "";
            display: block;
            width: 3px;
            height: 100%;
            z-index: 1;
        }
    }

    &:hover {
        background: $theme-secondary;

        .react-resizable-handle {
            &::after {
                border-right: 1px solid theme-color-active($theme-secondary);
            }

            &:hover::after {
                border-right: 2px solid $theme-highlight;
            }
        }
    }

    &.activated .react-resizable-handle::after {
        border-right: 2px solid $theme-highlight;
    }

    &.deactivated .react-resizable-handle::after {
        border-right: none;
    }
}
