/**
 * @file TipBody style
 * @author sunday(sunday.wei@derbysoft.com)
 */

.tip {
    position: absolute;
    width: auto;
    height: 30px;
    line-height: 30px;
    padding: 0 6px;
    color: $theme-field;
    white-space: nowrap;
    border-radius: $theme-border-radius;
    text-align: center;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-5px) rotate(0);
    transition: opacity $theme-transition-duration ease-in-out, transform $theme-transition-duration ease-in-out;
    z-index: $tip-z-index;

    .tip-ripple {
        position: absolute;
        z-index: -1;
        background: $theme-field-bg;
        border-radius: 50%;
        transform: scale(.4);
        transition: transform $theme-transition-duration ease-in-out;
    }

    &.visible {
        opacity: 1;
        transform: translateY(5px) rotate(0);

        .tip-ripple {
            transform: scale(1);
        }
    }

}