/**
 * @file Crumbs style
 */

.crumbs {

    .crumbs-item-wrapper {
        display: inline-block;

        .crumbs-separator {
            display: inline-block;
            padding: 0 8px;
            user-select: none;
        }
    }
}
