@import '../_common.scss';

.table-header-sort-icon-wrapper {

    .table-header-sort-icon {
        position: absolute;
        right: 30px;
        display: block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: lighten($theme-text, 45%);
        transition: all $transition-duration ease-in-out;

        &.up {
            top: 10px;
        }

        &.down {
            top: 20px;
        }
    }

    &.asc {
        .table-header-sort-icon.up {
            color: $theme-text;
        }
    }

    &.desc {
        .table-header-sort-icon.down {
            color: $theme-text;
        }
    }
}