@import '../../../my-theme.scss';

#landing-component-count {
    background: $theme-secondary;

    .landing-section-inner {
        text-align: center;
        font-size: 36px;
        font-weight: 300;
        padding: 100px 0;

        .components-total-count {
            font-size: 60px;
            color: $theme-highlight;
            margin: 0 10px;
            font-weight: 400;
        }
    }
}