@import '../../../../my-theme.scss';

.app-nav {
    height: 60px;
    position: fixed;
    left: 0;
    right: 0;
    user-select: none;
    z-index: $nav-bar-z-index;

    .nav-collapse {

        @include shadow(1);

        width: calc(100% - 250px);
        background-color: $theme-nav;
        position: absolute;
        right: 0;
        margin-left: 250px;
        height: 60px;
        overflow: visible;
        box-sizing: border-box;
        transition: all $theme-transition-duration ease-in-out;

        .github-icon {
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 24px;
        }
    }

}

@media (max-width: 767px) {
    .app-nav {
        .nav-collapse {
            width: 0 !important;
            margin-left: 0 !important;
            box-shadow: none;
            overflow: hidden;
        }
    }
}