/**
 * @file PointStepItem style
 */

.point-step-item {
    float: left;
    width: 50%;
    height: 90px;
    position: relative;

    .bg-bar {
        position: absolute;
        top: 29px;
        left: 0;
        width: 100%;
        height: 2px;
        background: $theme-border;
    }

    .bg-round {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 22px;
        margin-left: -8px;
        background: $theme-field-bg;
    }

    .round {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 26px;
        margin-left: -4px;
        text-align: center;
        line-height: 32px;
        font-weight: bold;
        background: $theme-border;
    }

    .title {
        width: 100%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        position: absolute;
        top: 55px;
        left: 0;
        color: $theme-description;
    }

    &.first {
        .bg-bar {
            width: 50%;
            left: 50%;
        }
    }

    &.last {
        .bg-bar {
            width: 50%;
        }
    }

    &.activated {
        .round {
            background: $theme-highlight;

            &::after {
                content: "";
                position: absolute;
                left: -16px;
                top: -16px;
                display: block;
                width: 40px;
                height: 40px;
                background: transparentize($theme-highlight, .9);
                border-radius: 50%;
            }
        }

        .title {
            color: $theme-field;
        }
    }

    &.finished {
        .round {
            cursor: pointer;
            background: $theme-primary;
            color: #fff;
        }
    }

    &.disabled {
        .round {
            cursor: default;
        }
    }

}
