/**
 * @file Th style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.table th {
    padding: 0;

    .th-inner {
        position: relative;
        box-sizing: content-box;
        display: block;
        height: 30px;
        line-height: 30px;
        padding: 15px 15px 14px;
        text-align: left;
        font-weight: normal;
        color: $theme-field;
        cursor: default;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &:first-child {
        border-left: none;
    }

    &.sortable {
        .th-inner {
            padding-right: 30px;
            cursor: pointer;
        }
    }
}
