/**
 * @file Th style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.base-table > thead > tr > th {
    @include table-fixed-shadow;
    position: relative;
    padding: 8px;
    text-align: left;
    background: $theme-field-bg-disabled;
    border-bottom: 1px solid $theme-border;

    .th-column {
        box-sizing: content-box;
        display: inline-flex;
        max-width: 100%;
        text-align: left;
        color: $theme-field;
        font-weight: 700;
        vertical-align: top;
        cursor: inherit;
        overflow: hidden;

        .th-column-title {
            display: inline-block;
            max-width: 100%;
        }
    }

    &.fixed-left,
    &.fixed-right {
        z-index: 1;
    }

    &.align-center {
        text-align: center;
    }

    &.align-right {
        text-align: right;
    }

    &.sortable {

        &.sorting {
            background: darken($theme-field-bg-disabled, 2%);
        }

        &:hover {
            background: $theme-secondary;
        }
    }

    &.clickable {
        cursor: pointer;
    }

    &.no-wrap .th-column-title {
        overflow: hidden;
        white-space: nowrap;
        word-wrap: normal;
        word-break: keep-all;
        text-overflow: ellipsis;
    }

    &.scroll-bar-th {
        padding: 0;
    }
}
