/**
 * @file Th style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.base-table > thead > tr > th {
    position: relative;
    padding: 8px;
    text-align: left;
    background: $theme-field-bg-disabled;
    border-bottom: 1px solid $theme-border;

    .th-column {
        box-sizing: content-box;
        display: inline-block;
        text-align: left;
        color: $theme-field;
        font-weight: 700;
        vertical-align: top;
        cursor: inherit;
        overflow: hidden;

        .th-column-title {
            display: table-cell;
            vertical-align: middle;

            &.no-wrap {
                white-space: nowrap;
                word-wrap: normal;
                word-break: keep-all;
            }
        }
    }

    &.fixed-left,
    &.fixed-right {
        z-index: 1;
    }

    &.last-fixed-left::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        bottom: -1px;
        width: 20px;
        transform: translateX(100%);
        transition: box-shadow 0.3s;
        pointer-events: none;
    }

    &.first-fixed-right::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: -1px;
        width: 20px;
        transform: translateX(-100%);
        transition: box-shadow 0.3s;
        pointer-events: none;
    }

    &.align-center {
        text-align: center;
    }

    &.align-right {
        text-align: right;
    }

    &.sortable {

        &.sorting {
            background: darken($theme-field-bg-disabled, 2%);
        }

        &:hover {
            background: $theme-secondary;
        }
    }

    &.clickable {
        cursor: pointer;
    }

    &.no-wrap {
        white-space: nowrap;
        word-wrap: normal;
        word-break: keep-all;
    }
}
