/**
 * @file Th style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.table th {
    padding: 0;

    .th-column {
        box-sizing: content-box;
        display: table;
        width: 100%;
        height: 30px;
        line-height: 30px;
        padding: 15px 15px 14px;
        text-align: left;
        font-weight: normal;
        color: $theme-field;
        cursor: default;

        .th-column-title {
            display: table-cell;
            vertical-align: middle;
        }
    }

    &:first-child {
        border-left: none;
    }

    &.sortable {
        .th-column {
            padding-right: 30px;
            cursor: pointer;
        }
    }
}
