/**
 * @file PositionPop style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.position-pop-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: $dialog-modal-z-index;
    background: transparentize(#000, .5);

    &.position-pop-modal-animated {
        transition: opacity $theme-transition-duration ease-in-out;

        &.hidden {
            opacity: 0;
        }
    }
}

.position-pop {
    position: fixed;
    z-index: $popup-z-index;
    background: transparent;
    overflow: visible;
    box-sizing: border-box;
    border-radius: $theme-border-radius;

    &.position-pop-left-top,
    &.position-pop-top-left {
        left: 0;
        top: 0;
    }

    &.position-pop-top {
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }

    &.position-pop-top-right,
    &.position-pop-right-top {
        right: 0;
        top: 0;
    }

    &.position-pop-left {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &.position-pop-center {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &.position-pop-right {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &.position-pop-left-bottom,
    &.position-pop-bottom-left {
        left: 0;
        bottom: 0;
    }

    &.position-pop-bottom {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }

    &.position-pop-right-bottom,
    &.position-pop-bottom-right {
        right: 0;
        bottom: 0;
    }

    &.position-pop-animated {
        transition: opacity $theme-transition-duration ease-in-out;

        &.hidden {
            opacity: 0;
        }
    }

}