/**
 * @file PositionPop style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

@mixin position-pop-theme($bg-color, $color) {
    color: $color;
    background: $bg-color;
}

.position-pop {
    position: fixed;
    width: 200px;
    z-index: $popup-z-index;
    background: transparent;
    overflow: auto;
    box-sizing: border-box;
    border-radius: $theme-border-radius;

    &.position-pop-position-left-top,
    &.position-pop-position-top-left {
        left: 0;
        top: 0;
    }

    &.position-pop-position-top {
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }

    &.position-pop-position-top-right,
    &.position-pop-position-right-top {
        right: 0;
        top: 0;
    }

    &.position-pop-position-left {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &.position-pop-position-center {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &.position-pop-position-right {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &.position-pop-position-left-bottom,
    &.position-pop-position-bottom-left {
        left: 0;
        bottom: 0;
    }

    &.position-pop-position-bottom {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }

    &.position-pop-position-bottom-right,
    &.position-pop-position-bottom-top {
        right: 0;
        bottom: 0;
    }

    &.position-pop-animated {
        transition: opacity $theme-transition-duration ease-in-out;

        &.hidden {
            opacity: 0;
        }
    }

    // default theme
    @include position-pop-theme($theme-field-bg, $theme-field);

    // other themes
    &.theme-primary {
        @include position-pop-theme($theme-primary, #fff);
    }
    &.theme-secondary {
        @include position-pop-theme($theme-secondary, $theme-field);
    }
    &.theme-highlight {
        @include position-pop-theme($theme-highlight, #fff);
    }
    &.theme-dark {
        @include position-pop-theme($theme-dark, #fff);
    }
    &.theme-info {
        @include position-pop-theme($theme-info, #fff);
    }
    &.theme-success {
        @include position-pop-theme($theme-success, #fff);
    }
    &.theme-warning {
        @include position-pop-theme($theme-warning, #fff);
    }
    &.theme-error {
        @include position-pop-theme($theme-error, #fff);
    }

}