/**
 * @file GroupGrid style
 */

.group-grid {

    .group-grid-group-title {
        box-sizing: border-box;
        width: 100%;
        height: 30px;
        line-height: 30px;
        color: $theme-field;
        padding: 0 8px;
    }

    .grid {
        width: 100%;
    }
}
