/**
 * @file DatePicker style
 * @author sunday(sunday.wei@derbysoft.com)
 */

input::-ms-clear {
    display: none;
}

.date-picker {
    position: relative;
    width: 300px;
    display: inline-block;

    .date-picker-field {

        @include shadow(1);

        width: 100%;

        border-radius: $theme-border-radius !important;

        &.focused {
            border: 1px solid $theme-border;
            @include shadow(1);
        }

        input {
            cursor: pointer;
        }

        .icon-button {
            z-index: 0;
        }
    }
}

.popup {
    &.date-picker-popup {
        width: 300px;
        @include shadow(3);

        .calendar-input {
            height: 40px;
            width: 95%;
            border: none;
            outline: none;

            input {
                font-size: 12px;
            }

            .clear-icon {
                top: -5px;
            }
        }

        .calendar {
            user-select: none;

            .calendar-header {
                width: 100%;
                height: 40px;
                line-height: 40px;
                text-align: center;
                font-size: 14px;
                border-bottom: 1px solid #dfdfdf;
                border-top: 1px solid #dfdfdf;

                .date-text {
                    margin: 0 20px;
                    cursor: pointer;
                }

                i {
                    cursor: pointer;
                    width: 20px;
                    height: 18px;
                    font-size: 22px;
                    position: relative;
                    overflow: hidden;
                    color: #c5c9ce;
                }

                //span:hover, i:hover {
                //    background: #ecf6fd;
                //    border-radius: 4px;
                //}
            }

            .calendar-body {
                border-bottom: 1px solid #dfdfdf;
                padding-bottom: 5px;
            }
        }

        .calendar-footer {
            height: 40px;
            line-height: 40px;
            text-align: center;

            .date-text {
                text-decoration: none;
                color: $theme-field;
                position: relative;
                overflow: hidden;

                .item-gray {
                    color: $theme-field-disabled;
                    cursor: not-allowed;
                }
            }

            .today-button {
                width: auto;
                height: 30px;
            }

        }

    }
}
