/**
 * @file MaterialDateRangePicker style
 * @author sunday(sunday.wei@derbysoft.com)
 */

input::-ms-clear {
    display: none;
}

.material-date-range-picker {
    position: relative;
    width: 300px;
    display: inline-block;

    .material-date-range-picker-field {
        width: 100%;
        height: 100%;

        input {
            cursor: pointer;
        }
    }
}

.popup {
    &.material-date-range-picker-popup {
        @include shadow(3);
        width: 600px;
        height: 350px;
        margin-top: 1px;

        .calendar-date-input-wrap {
            height: 40px;

            .DateRangePickerHeaderInput {
                width: 100%;
                height: 40px;
                overflow: hidden;

                .fl {
                    float: left;
                    height: 40px;
                    line-height: 40px;
                }

                .calendar-input {
                    height: 40px;
                    width: 48.5%;
                    border: none;
                    outline: none;

                    input {
                        padding-left: 10px;
                        font-size: 12px;
                        text-align: center;
                    }

                    i {
                        width: 40px !important;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                    }

                    button {
                        &.clear-icon {
                            margin: 0;
                        }
                    }
                }
            }
        }

        .calendar {
            width: 300px;
            user-select: none;
            float: left;

            .calendar-header {
                width: 100%;
                height: 40px;
                line-height: 40px;
                text-align: center;
                font-size: 14px;
                border-top: 1px solid #dfdfdf;
                border-bottom: 1px solid #dfdfdf;

                .date-text {
                    margin: 0 20px;
                    cursor: pointer;
                }

                i {
                    cursor: pointer;
                    width: 20px;
                    height: 18px;
                    font-size: 22px;
                    position: relative;
                    overflow: hidden;
                    color: #c5c9ce;
                }

                //span:hover, i:hover {
                //    background: #ecf6fd;
                //    border-radius: 4px;
                //}
            }

            .calendar-body {
                border-bottom: 1px solid #dfdfdf;
                padding-bottom: 5px;

            }

            .calendar-footer {
                height: 40px;
                line-height: 40px;
                text-align: center;

                .date-text {
                    text-decoration: none;
                    color: $theme-field;
                    position: relative;
                    overflow: hidden;
                }
            }
        }
    }
}