@import '../_common.scss';

.dialog-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: $dialog-modal-z-index;
    background: transparentize(#000, .5);

    &.hidden {
        opacity: 0 !important;
        left: -99999px !important;
        transition: left 0s $transition-duration,
        opacity $transition-duration ease-in-out;
    }
}

.dialog-wrapper {

    @include shadow(4);

    position: fixed;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 300px;
    border-radius: $border-radius;
    transform: translate(-50%, -50%);
    transition: left 0s, opacity $transition-duration ease-in-out, transform $transition-duration ease-in-out;
    z-index: $dialog-z-index;
    padding: 0;
    box-sizing: border-box;
    background: $theme-bg;

    .dialog-title {
        font-size: 20px;
        line-height: 30px;
        box-sizing: border-box;
        padding: 20px 0 20px 30px;

        &.theme-primary {
            border-bottom: 1px solid $theme-menu;
        }
        &.theme-success {
            border-bottom: 1px solid $success;
        }
        &.theme-error {
            border-bottom: 1px solid $error;
        }
        &.theme-warning {
            border-bottom: 1px solid $warning;
        }

        &.theme-highlight {
            border-bottom: 1px solid $warning;
        }

        .dialog-icon {
            font-size: 30px;
            float: left;
            margin-right: 20px;

            @include dialog-theme($theme-bg);

            &.theme-primary {
                @include dialog-theme($theme-menu);
            }
            &.theme-success {
                @include dialog-theme($success);
            }
            &.theme-warning {
                @include dialog-theme($warning);
            }
            &.theme-error {
                @include dialog-theme($error);
            }
            &.theme-highlight {
                @include dialog-theme($theme-highlight);
            }
        }

    }

    .dialog-content {
        width: 100%;
        height: calc(100% - 80px);
        padding-left: 30px;
    }

    .dialog-buttons {
        position: absolute;
        right: 20px;
        bottom: 20px;

        & > .base-button {
            float: right;
            margin: 0 0 0 10px;
        }
    }

    &.hidden {
        opacity: 0 !important;
        left: -99999px !important;
        transform: translate(-50%, -70%);
        transition: left 0s $transition-duration, opacity $transition-duration ease-in-out,
        transform $transition-duration ease-in-out;
    }

}