@import '../_common.scss';

.dialog-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    overflow: visible;

    .dialog {
        position: fixed;
        left: 50%;
        top: 50%;
        width: 500px;
        height: 300px;
        border-radius: $border-radius;
        transform: translate(-50%, -50%) rotate(0deg);
        transition: left 0s, opacity $transition-duration ease-in-out,
        transform $transition-duration ease-in-out;
        z-index: $popup-z-index;
        margin-top: 4px;

        .content {

            @include shadow(4);

            width: 100%;
            overflow: hidden;
            border-radius: $border-radius;
            transform: rotate(0deg);
        }

        &.hidden {
            opacity: 0 !important;
            left: -99999px !important;
            transition: left 0s $transition-duration,
            opacity $transition-duration ease-in-out,
            transform $transition-duration ease-in-out;
        }

        // default theme
        @include popup-theme(#fff);

        // other themes
        &.theme-primary {
            @include popup-theme($theme-menu);
        }
        &.theme-highlight {
            @include popup-theme($theme-highlight);
        }
        &.theme-success {
            @include popup-theme($success);
        }
        &.theme-warning {
            @include popup-theme($warning);
        }
        &.theme-error {
            @include popup-theme($error);
        }

    }
}