/**
 * @file MaterialProvider style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.material-provider {
    position: relative;
    width: 300px;
    background: $theme-field-bg;

    .material-provider-label-wrapper {
        line-height: 16px;
        color: $theme-label;
        transform-origin: top left;
        transition-property: transform, padding-left, color;
        transition-duration: $theme-transition-duration;
        transition-timing-function: ease-in-out;

        .material-provider-label {
            vertical-align: middle;
        }

        .material-provider-required-dot {
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $theme-error;
            vertical-align: middle;
            margin-left: 8px;
        }
    }

    .material-provider-field {
        width: 100%;
        background: transparent;
        border: none;
        box-shadow: none;
        border-radius: 0;

        .material-provider-field-trigger,
        .material-provider-field-placeholder {
            background: transparent;
            border: none;
            box-shadow: none;
            transition: opacity $theme-transition-duration ease-in-out;
        }
    }

    &.has-separator {
        .material-provider-field {
            border-bottom: 1px solid $theme-border !important;
        }
    }

    &.focused {
        .material-provider-label-wrapper {
            color: $theme-highlight;
        }
    }

    &.has-label.animated {

        .material-provider-label-wrapper {
            transform: translateY(28px);
            padding-left: 8px;
        }

        .material-provider-field-trigger,
        .material-provider-field-placeholder {
            opacity: 0;
        }

        &.has-value,
        &.focused {
            .material-provider-label-wrapper {
                transform: translateY(0);
                padding-left: 0;
            }

            .material-provider-field-trigger,
            .material-provider-field-placeholder {
                opacity: 1;
            }
        }
    }

    &[disabled] {
        .material-provider-label-wrapper {
            color: $theme-label-disabled;
        }

        .material-provider-field {
            background-color: transparent;
        }
    }
}