/**
 * @file DateTimePicker style
 * @author sunday(sunday.wei@derbysoft.com)
 */

input::-ms-clear {
    display: none;
}

.date-time-picker {
    position: relative;
    width: 300px;
    height: 40px;

    .date-picker-field {

        @include shadow(1);

        width: 100%;
        height: 100%;
        border-radius: $theme-border-radius !important;

        &.focused{
            border: 1px solid $theme-border;
            @include shadow(1);
        }

        input {
            cursor: pointer;
        }

    }
}

.popup {
    &.date-time-picker-popup {
        @include shadow(3);
        width: 300px;
        height: 344px;
        margin-top: -40px;
        .calendar-input {
            height: 40px;
            width: 95%;
            border: none;
            outline: none;
            input {
                font-size: 12px;
            }
            .clear-icon {
                top: -5px;
            }
        }
        .calendar {
            user-select: none;
            .calendar-header {
                width: 100%;
                height: 40px;
                line-height: 40px;
                text-align: center;
                font-size: 14px;
                border-bottom: 1px solid #dfdfdf;
                border-top: 1px solid #dfdfdf;
                span {
                    margin: 0 20px;
                    cursor: pointer;
                }
                i {
                    cursor: pointer;
                    width: 20px;
                    height: 18px;
                    font-size: 22px;
                    position: relative;
                    overflow: hidden;
                    color: #c5c9ce;
                }
                //span:hover, i:hover {
                //    background: #ecf6fd;
                //    border-radius: 4px;
                //}
            }
            .calendar-body {
                border-bottom: 1px solid #dfdfdf;
                padding-bottom: 5px;
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 10px;
                }
                .c-body-head {
                    overflow: hidden;
                    li {
                        width: 14%;
                        height: 14px;
                        float: left;
                        text-align: center;
                    }
                }
                .c-body-content {
                    width: 100%;
                    .content-row {
                        width: 100%;
                        height: 30px;
                        overflow: hidden;
                        padding: 0 10px;
                        box-sizing: border-box;
                        li {
                            height: 30px;
                            width: 14%;
                            float: left;
                            text-align: center;
                            overflow: hidden;
                            a {
                                display: inline-block;
                                width: 30px;
                                height: 30px;
                                line-height: 30px;
                                text-decoration: none;
                                text-align: center;
                                position: relative;
                            }
                        }
                        li.current-days {
                            cursor: pointer;
                            a {
                                color: $theme-field;
                                background: $theme-field-bg;
                                border-radius: 50%;
                                overflow: hidden;
                            }
                            &:hover{
                                a {
                                    background: $theme-field-bg-active;
                                    color: $theme-field-hover;
                                }
                            }
                            &.active {
                                a {
                                    border-radius: 50%;
                                    background: $theme-highlight;
                                    color: #fff;
                                }
                                &:hover{
                                    a {
                                        background: theme-color-hover($theme-highlight);
                                    }
                                }

                            }
                        }
                        li.item-gray {
                            a {
                                color: $theme-field-disabled;
                                cursor: not-allowed;
                            }
                        }
                    }

                }
            }
            .calendar-month-body, .calendar-year-body {
                border: none;
                .c-body-content {
                    width: 100%;
                    padding-top: 14px;
                    .month, .year {
                        height: 60px;
                        li {
                            height: 60px;
                            width: 33.2%;
                            text-align: center;
                            a {
                                display: inline-block;
                                width: 40px;
                                height: 40px;
                                color: $theme-field;
                                line-height: 40px;
                                margin-top: 5px;
                                border-radius: 50%;
                                overflow: hidden;
                            }

                            &.current-months,
                            &.current-years{
                                &:hover{
                                    a {
                                        background: $theme-field-bg-active;
                                        color: $theme-field-hover;
                                    }
                                }
                                &.active {
                                    a {
                                        background: $theme-highlight;
                                        color: #fff;
                                    }
                                    &:hover {
                                        a {
                                            background: theme-color-hover($theme-highlight);
                                            color: #fff;
                                        }
                                    }
                                }
                            }

                        }
                    }
                }
            }
            .time-items {
                width: 100px;
                height: 260px;
                margin: 0;
                padding: 0 0 230px 0;
                float: left;
                overflow: hidden;
                box-sizing: border-box;
                transition: all $theme-transition-duration ease-in-out;
                border-left: 1px solid $theme-border;
                user-select: none;

                &:first-child {
                    border: none;
                }
                .time-list {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    transition: all $theme-transition-duration ease-in-out;
                    li {
                        list-style-type: none;
                        height: 30px;
                        width: 100%;
                        padding-left: 40px;
                        line-height: 30px;
                        cursor: pointer;
                        &:hover {
                            background: $theme-field-bg-hover;
                        }
                        &.active {
                            background: $theme-field-bg-active;
                            color: $theme-field;
                            font-weight: 600;
                        }
                        &.disabled {
                            color: $theme-field-disabled;
                            cursor: not-allowed;
                        }
                    }
                }
            }
            &.time-picker-body {
                overflow: hidden;
                border-bottom: 1px solid $theme-border;
                border-top: 1px solid $theme-border;
                &.hidden {
                    display: none;
                }
            }
        }
        .calendar-footer {
            height: 40px;
            line-height: 40px;
            overflow: hidden;
            box-sizing: border-box;
            padding: 0 16px;
            .action {
                width: 206px;
                float: left;
                overflow: hidden;
                a {
                    text-decoration: none;
                    color: $theme-field;
                    position: relative;
                    overflow: hidden;
                    .item-gray {
                        color: $theme-field-disabled;
                        cursor: not-allowed;
                    }
                    &.fl {
                        float: left;
                    }
                    &.fr {
                        float: right;
                    }
                }
                .today-button{
                    width: auto;
                    height: 30px;
                }
            }
            .select-button {
                float: left;
                margin-left: 20px;
                .raised-button {
                    padding: 0;
                    width: 30px;
                    height: 30px;
                    line-height: 20px;
                    text-align: center;
                }
            }

        }
    }
}