@import '../../../../common.scss';

.theme-dark .signout-menu {

	.toggle-button {
		color: $light-text-dark;

		.dropdown-icon {
			color: $highlight-dark;
		}

		&:hover {
			color: lighten($light-text-dark, 10%);

			.dropdown-icon {
				color: lighten($highlight-dark, 10%);
			}
		}
	}

}