@import '../../../../common.scss';

.theme-light .signout-menu {

	.toggle-button {
		color: $text-light;

		.dropdown-icon {
			color: $highlight-light;
		}

		&:hover {
			color: lighten($text-light, 10%);

			.dropdown-icon {
				color: lighten($highlight-light, 10%);
			}
		}
	}

	.list-item {
		background: $menu-light;

		&:hover {
			background: lighten($menu-light, 5%);
		}

		&:active {
			background: darken($menu-light, 5%);
		}

		&[disabled] {
			background: lighten($popup-light, 40%);
		}
	}

}