.icon-button-examples {
    .icon-button {
        margin: 0 10px 10px 0;
    }
}

.example-content{
    .dialog-button{
        width: 120px;
    }
}
.popover-dialog-content-scroller{
    width: 1000px;
    height: 1000px;
}