/**
 * @file TableContent style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.table-content {
    position: relative;

    .table-content-center,
    .table-content-left,
    .table-content-right {
        height: 100%;
    }

    .table-content-left,
    .table-content-right {
        position: absolute;
        top: 0;
    }

    .table-content-left {
        left: 0;
    }

    .table-content-right {
        right: 0;
    }

    .table-fixed-column {
        visibility: hidden;
    }
}
