/**
 * @file TableContent style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.table-content {
    position: relative;
    overflow: hidden;

    .table-content-center {
        .scrollable-table-head-scroller,
        .scrollable-table-foot-scroller {
            padding-bottom: 20px;
            margin-bottom: -20px;
            overflow-x: auto;
        }

        .scrollable-table-body-mask {
            position: relative;
            top: 1px;

            .base-table {
                width: 100%;
            }
        }
    }

    .table-content-center,
    .table-content-left,
    .table-content-right {
        height: 100%;
    }

    .table-content-left,
    .table-content-right {
        position: absolute;
        top: 0;
    }

    .table-content-left {
        left: 0;
    }

    .table-content-right {
        right: 0;

        .scrollable-table-head-scroller {
            background: $theme-secondary;
        }
    }

    .table-fixed-column {
        visibility: hidden;
    }
}
