/**
 * @file TableContent style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.table-content {
    position: relative;

    .table-content-center,
    .table-content-fixed-left,
    .table-content-fixed-right {
        height: 100%;
    }

    .table-content-fixed-left,
    .table-content-fixed-right {
        position: absolute;
        top: 0;
    }

    .table-content-fixed-left {
        left: 0;
    }

    .table-content-fixed-right {
        right: 0;
    }

    .table-content-fixed-head {

        & > table {
            & > tbody,
            & > tfoot {
                visibility: hidden;
                opacity: 0;
            }
        }
    }

    .table-content-scroller {
        overflow: auto;

        .table-content-body-wrapper {
            overflow: hidden;
        }
    }

    .table-content-fixed-foot {

        & > table {
            position: absolute;
            left: 0;
            bottom: 0;

            & > thead,
            & > tbody {
                visibility: hidden;
                opacity: 0;
            }
        }
    }

    .table-content-fixed-head tr {
        background: transparent;
    }

    .table-content-fixed-foot tr {
        background: transparent;
    }

    .table-fixed-column {
        visibility: hidden;
    }
}
