/**
 * @file TableContent style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.table-content {
    position: relative;
    height: 100%;
    overflow: hidden;

    .table-select {
        display: inline-block;
    }
}

.table-no-data {
    padding: 16px 0;
    text-align: center;
    background: $theme-field-bg;
    border-bottom: 1px solid $theme-border;
    color: $theme-description;
}
