/**
 * @file TheadItem style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.thead-item {
    border-left: 1px solid $theme-border;
    padding: 0;

    .thead-item-inner {
        position: relative;
        box-sizing: content-box;
        display: block;
        height: 30px;
        line-height: 30px;
        padding: 15px 15px 14px;
        text-align: left;
        font-weight: normal;
        color: $theme-field;
        cursor: default;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &:first-child {
        border-left: none;
    }

    &.sortable {
        .thead-item-inner {
            padding-right: 30px;
            cursor: pointer;
        }
    }

    &.hidden {
        .thead-item-inner {
            height: 0;
            line-height: 0;
            padding-top: 0;
            padding-bottom: 0;
            overflow: hidden;

            .sort-icon {
                display: none;
            }

            & > * {
                display: none;
            }
        }
    }
}
