/**
 * @file AnchorButton style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

@mixin anchor-button-disabled {
    color: $theme-field-disabled;
}

@mixin anchor-button-theme($color) {
    color: $color;

    &[disabled] {
        @include anchor-button-disabled;
    }
}

.anchor-button {
    background: transparent;
    border: none;

    &[disabled] {
        @include anchor-button-disabled;
    }

    // default theme
    @include anchor-button-theme($theme-field);

    // themes
    &.theme-primary {
        @include anchor-button-theme($theme-primary);
    }
    &.theme-secondary {
        @include anchor-button-theme($theme-secondary);
    }
    &.theme-highlight {
        @include anchor-button-theme($theme-highlight);
    }
    &.theme-info {
        @include anchor-button-theme($theme-info);
    }
    &.theme-success {
        @include anchor-button-theme($theme-success);
    }
    &.theme-warning {
        @include anchor-button-theme($theme-warning);
    }
    &.theme-error {
        @include anchor-button-theme($theme-error);
    }

}