@import '../../../../../common';

.custom-content-template {
    background: #fff;
    border-radius: $border-radius;
    height: auto;
    padding:20px 40px 40px 40px;
    .page-title{
        height: 60px;
        line-height: 60px;
        color:$nav-dark;
        font-size: 20px;
        font-weight: 600;
    }
    .custom-content-template-container {
        .filter {
            width: 100%;
            padding: 20px 40px;
            .mapping-label {
                .label-title {
                    width: 30%;
                }
                .label-content {
                    width: 30%;
                }
            }
            &::after {
                content: '';
                display: table;
                clear: both;
            }
        }
        .feed-list-table {
            .table {
                border: 1px solid #dfdfdf;
                td {
                    .text-field {
                        height: 30px;
                        i {
                            height: 30px;
                            line-height: 30px;
                        }
                    }
                    .td-grey{
                        padding: 0;
                        margin: 0;
                        color:$grey;
                    }
                }
            }
        }
    }
    .custom-content-template-foot {
        margin-top: 80px;
        overflow: hidden;
        text-align: center;
        padding-left: 30%;
        .button {
            width: 100px;
            margin-right: 50px;
            float: left;
        }
    }
}
