/**
 * @file RoundStepItem style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.round-step-item {
    float: left;
    width: 50%;
    height: 90px;

    .round-step-item-content {
        position: relative;
        height: 60px;

        .bg-bar {
            position: absolute;
            top: 20px;
            left: 0;
            width: 100%;
            height: 20px;
            background: $theme-border;
        }

        .bg-round {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 10px;
            margin-left: -20px;
            background: $theme-border;
        }

        .left-bar,
        .right-bar {
            position: absolute;
            top: 24px;
            height: 12px;
            background: $theme-primary;
        }

        .left-bar {
            height: 12px;
            width: 50%;
        }

        .right-bar {
            left: 50%;
            width: 20%;

            &.hidden {
                display: none;
            }

            &.full {
                width: 50%;
            }
        }

        .round {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 14px;
            margin-left: -16px;
            text-align: center;
            line-height: 32px;
            font-weight: bold;
            background: $theme-field-bg;
            color: $theme-field-disabled;

            i {
                text-align: center;
                line-height: 32px;
            }
        }
    }

    .title {
        width: 100%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: $theme-description;
    }

    &.first {
        .bg-bar {
            width: 50%;
            left: 50%;
        }
    }

    &.last {
        .bg-bar {
            width: 50%;
        }
    }

    &.activated {
        .round {
            @include shadow(3);
            width: 46px;
            height: 46px;
            top: 7px;
            margin-left: -23px;
            line-height: 46px;
            background: $theme-highlight;
            color: #fff;
        }

        .title {
            color: $theme-field;
        }
    }

    &.finished {
        .round {
            cursor: pointer;
            background: $theme-primary;
            color: #fff;
        }
    }

    &.disabled {
        .round {
            cursor: default;
        }
    }

}
