/**
 * @file Dropdown style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

@mixin dropdown-theme($color) {
    border-color: $color;
}

.dropdown {
    position: relative;
    width: 200px;
    height: 40px;

    .raised-button.dropdown-trigger {
        width: 100%;
        height: 100%;
        text-align: left;
        padding-right: 30px;

        .dropdown-trigger-icon {
            position: absolute;
            right: 0;
            top: 0;
            width: 30px;
            height: 38px;
            line-height: 38px;
            margin: 0;
            color: $theme-field;
            transition: all $theme-transition-duration ease-in-out;
        }

        &.above {
            .dropdown-trigger-icon {
                transform: rotate(180deg);
            }
        }

        &.activated {
            @include shadow(3);

            .dropdown-trigger-icon {
                transform: rotate(180deg);
            }

            &.above {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                //z-index: $pop-z-index + 1;

                .dropdown-trigger-icon {
                    transform: rotate(0deg);
                }
            }

            &.blow {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

}

.popup.dropdown-popup {
    box-sizing: border-box;
    max-height: 240px;
    overflow: hidden;
    margin: 0;
    border-width: 1px;
    border-style: solid;

    .popup-content {
        border-radius: 0;
        overflow: hidden;
        max-height: inherit;
    }

    &.above {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
    }

    &.blow {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: none;
    }

    // default theme
    @include dropdown-theme($theme-border);

    // other themes
    &.theme-primary {
        @include dropdown-theme($theme-primary);
    }
    &.theme-secondary {
        @include dropdown-theme($theme-secondary);
    }
    &.theme-highlight {
        @include dropdown-theme($theme-highlight);
    }
    &.theme-info {
        @include dropdown-theme($theme-info);
    }
    &.theme-success {
        @include dropdown-theme($theme-success);
    }
    &.theme-warning {
        @include dropdown-theme($theme-warning);
    }
    &.theme-error {
        @include dropdown-theme($theme-error);
    }
}