/**
 * @file LazyImage style
 */

.lazy-image {
    position: relative;
    display: inline-block;

    .lazy-image-placeholder {
        @include align-center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: opacity $theme-transition-duration linear,
        z-index 0s $theme-transition-duration;

        .lazy-image-loading {
            vertical-align: middle;
        }

        &.hidden {
            opacity: 0;
            z-index: -1;
        }
    }
}
