/**
 * @file MaterialTreeSelect style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.material-tree-select {
    position: relative;
    width: 400px;
    background: $theme-field-bg;

    .tree-select {
        width: 100%;

        .dropdown {
            width: 100%;

            .dropdown-trigger {
                width: 100%;
                border: none;
                box-shadow: none;
                opacity: 1 !important;
            }
        }
    }

    &.has-label.animated {

        .base-button-value {
            opacity: 0;
        }

        &.has-value,
        &.focused {
            .base-button-value {
                opacity: 1;
            }
        }
    }
}