/**
 * @file MaterialTreeSelect style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.material-tree-select {
    position: relative;
    width: 400px;
    background: $theme-field-bg;

    .material-tree-select-label {
        display: inline-block;
        line-height: 16px;
        color: $theme-field-disabled;
        transform-origin: top left;
        transition: transform $theme-transition-duration ease-in-out,
        color $theme-transition-duration ease-in-out;
    }

    .tree-select {
        width: 100%;

        .dropdown-trigger {
            width: 100%;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid $theme-border;
            padding-left: 8px;
            background: transparent;
            box-shadow: none !important;

            .base-button-value {
                transition: opacity $theme-transition-duration ease-in-out;
            }
        }
    }

    &.focused {
        .material-tree-select-label {
            color: $theme-highlight;
        }
    }

    &.has-label.animated {

        .material-tree-select-label {
            transform: translate(8px, 28px);
        }

        .base-button-value {
            opacity: 0;
        }

        &.has-value,
        &.focused {
            .material-tree-select-label {
                transform: translate(0, 0);
            }

            .base-button-value {
                opacity: 1;
            }
        }
    }

}