/**
 * @file Tabs style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.tabs {
    position: relative;
    box-sizing: border-box;
    height: 41px;
    border-bottom: 1px solid $theme-border;
    white-space: nowrap;
    overflow: hidden;

    .tabs-scroller {
        height: 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .tab-buttons-wrapper {
        display: inline-block;

        .tab-buttons {
            display: inline-block;
        }
    }

    .ink-bar {
        position: absolute;
        bottom: 0;
        height: 2px;
        background: $theme-highlight;
        transition: transform $theme-transition-duration ease-in-out;
    }

    &.auto-width {
        .tab-button-wrapper {
            margin-left: 4px;

            &:first-child {
                margin-left: 0;
            }
        }

        .tab-button {
            width: auto;
            border-radius: $theme-border-radius;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &.activated {
                background: $theme-secondary;
            }

            &.tab-scroll-left-button,
            &.tab-scroll-right-button {
                position: absolute;
                top: 0;
                width: 24px;
                padding: 0;
                margin: 0;

                .touch-ripple {
                    border-radius: 0;
                }
            }

            &.tab-scroll-left-button {
                left: 0;
            }

            &.tab-scroll-right-button {
                right: 0;
            }
        }
    }
}
