/**
 * @file Tabs style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.tabs {
    position: relative;
    box-sizing: border-box;
    height: 41px;
    border-bottom: 1px solid $theme-border;
    white-space: nowrap;
    overflow: hidden;

    .tabs-scroller {
        position: relative;
        height: 100%;
        padding-bottom: 20px;
        margin-bottom: -20px;
        overflow-x: scroll;
        overflow-y: hidden;

        .ink-bar {
            position: absolute;
            height: 2px;
            background: $theme-highlight;
            transition: width $theme-transition-duration ease-in-out, transform $theme-transition-duration ease-in-out;
        }
    }

    .tab-buttons-wrapper {
        display: inline-block;
        width: 100%;
        height: 100%;

        .tab-buttons {
            width: 100%;
            height: 100%;
        }
    }

    &.auto-width {
        .tab-buttons-wrapper {
            width: auto;
            margin-left: 4px;

            .tab-buttons {
                display: inline-block;
                width: auto;
            }

            &:first-child {
                margin-left: 0;
            }
        }

        .tab-button {
            width: auto;
            border-radius: $theme-border-radius;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &.activated {
                background: $theme-secondary;
            }

            &.tab-scroll-left-button,
            &.tab-scroll-right-button {
                position: absolute;
                top: 0;
                width: 24px;
                padding: 0;
                margin: 0;

                .touch-ripple {
                    border-radius: 0;
                }
            }

            &.tab-scroll-left-button {
                left: 0;
            }

            &.tab-scroll-right-button {
                right: 0;
            }
        }
    }
}
