/**
 * @file Tabs style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.tabs {
    position: relative;
    box-sizing: border-box;
    height: 40px;
    white-space: nowrap;
    overflow: hidden;

    .tabs-scroller {
        position: relative;
        height: 100%;
        padding-bottom: 20px;
        margin-bottom: -20px;
        overflow-x: scroll;
        overflow-y: hidden;

        .ink-bar {
            position: absolute;
            height: 2px;
            background: $theme-highlight;
            transition: width $theme-transition-duration ease-in-out, transform $theme-transition-duration ease-in-out;
            z-index: 1;
        }
    }

    .tab-buttons-wrapper {
        display: inline-block;
        width: 100%;
        height: 100%;

        .tab-buttons {
            width: 100%;
            height: 100%;
        }
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        border-bottom: 1px solid $theme-border;
    }

    &.auto-width {
        .tab-buttons-wrapper {
            width: auto;
            margin-left: 4px;

            .tab-buttons {
                display: inline-block;
                width: auto;

                .tab-button {
                    width: auto;
                }
            }

            &:first-child {
                margin-left: 0;
            }
        }
    }
}
