/**
 * @file ListStepItem style
 */

.list-step-item {
    width: 100%;
    height: 50px;
    border-radius: 0;
    text-align: left;
    box-shadow: none;
    padding: 0 20px;
    cursor: not-allowed;
    transition: none;
    box-shadow: none;
    border: none;

    .button-icon {
        vertical-align: middle;

        &.button-icon-left {
            margin-right: 15px;
        }

        &.button-icon-right {
            float: right;
        }
    }

    .base-button-value {
        float: left;
    }

    .list-item-content {
        display: inline-block;
        vertical-align: middle;
        padding: 8px 0;

        .list-item-content-value {
            line-height: 16px;
        }

        .list-item-content-desc {
            line-height: 16px;
            opacity: .5;
        }
    }

    &:hover {
        box-shadow: none;
    }

    &.activated {
        cursor: default;
        color: #fff;

        .button-icon {
            color: #fff;
        }
    }

    &.finished {
        cursor: pointer;
        color: #fff;

        .button-icon {
            color: #fff;
        }
    }
}
