@import '../../common.scss';

.landing {

    .landing-section {

        .landing-section-inner {
            box-sizing: border-box;
            padding: 100px 0;
            width: 100%;

            .landing-section-title {
                width: 100%;
                text-align: center;
                font-size: 50px;
                font-weight: 300;
                margin-bottom: 20px;
            }

            .landing-section-subtitle {
                width: 100%;
                text-align: center;
                font-size: 24px;
                font-weight: 300;
                color: transparentize($theme-text, .4);
            }

            .landing-bash {

                @include shadow(3);

                width: 700px;
                margin: 60px auto 0;
                padding: 30px 40px;
                border-radius: $border-radius;
                font-size: 18px;
                box-sizing: border-box;
                background: #3c3f41;
            }
        }
    }
}

@media (max-width: 767px) {
    .root {
        background: $theme-bg !important;
    }
}