@import '../../my-theme.scss';

.landing {

    .landing-section {

        .landing-section-inner {
            box-sizing: border-box;
            padding: 60px 0;
            width: 100%;

            .landing-section-title {
                width: 100%;
                text-align: center;
                font-size: 50px;
                font-weight: 300;
                margin-bottom: 20px;
                user-select: none;
                cursor: default;
            }

            .landing-section-subtitle {
                width: 100%;
                text-align: center;
                font-size: 24px;
                font-weight: 300;
                user-select: none;
                cursor: default;
                color: transparentize($theme-field, .4);
            }

            .landing-code {

                @include shadow(3);

                display: block;
                width: 80%;
                max-width: 700px;
                margin: 60px auto 0;
                padding: 30px 4%;
                border-radius: $theme-border-radius;
                font-size: 18px;
                box-sizing: border-box;
                background: #3c3f41;
                color: #a9b7c6;
                overflow-x: auto;

                .comment {
                    color: #808080;
                }

                .keyword {
                    color: #cc7832;
                }

                .function {
                    color: #ffc66d;
                }

                .string {
                    color: #6a8759;
                }

                .attr {
                    color: #bababa;
                }

                &.landing-bash {
                    color: $theme-highlight;
                }

                &.landing-jsx {

                }
            }
        }
    }
}

@media (max-width: 767px) {
    .root {
        background: $theme-bg !important;
    }
}