@import '../../my-theme.scss';

.landing-foot {
    background: darken($theme-primary, 20%);
    padding: 60px 30px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    user-select: none;
    cursor: default;

    .name {
        color: $theme-highlight;
    }

    .licence {
        text-decoration: none;
        color: lighten($theme-field, 20%);
        transition: color $theme-transition-duration ease-in-out;

        &:hover {
            color: transparentize(#fff, .2);
        }
    }

    .github-icon {
        display: block;
        color: $theme-field;
        font-size: 24px;
        margin: 20px auto 0;

        &:hover {
            color: transparentize(#fff, .2);
        }
    }
}