@import '../../common.scss';

.landing {

    .landing-section {

        .landing-section-inner {
            box-sizing: border-box;
            padding: 140px 0;
            width: 1000px;
            margin: 0 auto;
            height: 800px;
        }
    }
}