/**
 * @file Ripple style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.ripple {
    position: absolute;
    left: 0;
    top: 0;
    opacity: .16;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ccc;
    transform: scale(0);
    transition: opacity $theme-transition-duration*4 ease-out, transform $theme-transition-duration*2 ease-out;
    pointer-events: none;

    &.visible {
        transform: scale(1);
    }

    &.leave {
        opacity: 0;
    }
}