@import '../_common.scss';

.text-field-group {

    .text-field {
        border-radius: 0;
        border-top: none;

        &:first-child {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            border-top: 1px solid $theme-title-bg;
        }

        &:last-child {
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }
}