@import '../_common.scss';

.text-field-group {

    .text-field {
        border-radius: 0;
        border-bottom: none;

        &:first-child {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
        }

        &:last-child {
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            border-bottom: 1px solid $theme-title-bg;

            &.focused {
                border-color: $theme-title;
            }
        }

        &.focused + .text-field {
            border-top-color: $theme-title;
        }
    }
}