@import '../_common.scss';

.cascader-list-item {
    float: left;

    .cascader-popup-list {
        @include shadow(4);
        position: relative;
        float: left;
        box-sizing: border-box;
        height: 300px;
        overflow-y: auto;
        overflow-x: hidden;

        .list-item-checked {
            display: none;
        }
    }
}

