/**
 * @file CascaderListItem style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.cascader-list-item {

    .cascader-popup-list {
        position: relative;
        float: left;
        box-sizing: border-box;
        height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        border-left: 1px solid $theme-border;

        .list-item {
            padding-right: 32px;

            .checkbox.list-item-select {
                position: relative;
                z-index: 1;
            }

            .cascader-list-item-expand-icon {
                position: absolute;
                top: 0;
                right: 16px;
                width: 16px;
                height: 40px;
                line-height: 40px;
                text-align: right;
                color: $theme-description;
            }
        }

        &.first {
            border-left: none;
        }

        &.expand-left {
            float: right;
            border-left: none;
            border-right: 1px solid $theme-border;

            &.first {
                border-right: none;
            }
        }
    }

    &.expanded {
        & > .cascader-popup-list.expand-left {
            .list-item {
                padding-left: 24px;

                .cascader-list-item-expand-icon {
                    left: 8px;
                    text-align: left;
                }
            }
        }
    }
}