@import '../../../../my-theme.scss';

.drawer-examples {

}

.customized-drawer {

    .customized-drawer-triangle {
        position: absolute;
        left: 0;
        top: 0;
    }

    .drawer-content {
        border: 1px solid #e7e7e7;
    }
}