@import '../../../../my-theme.scss';

.customized-popup {

    .customized-popup-triangle {
        position: absolute;
        left: -9px;
        top: 0;
    }

    .popup-content {
        border: 1px solid #e7e7e7;
    }

    &.in-dialog {
        z-index: $pop-z-index + 1;
    }
}

.popup-dialog-content {
    width: 1000px;
    height: 1000px;

    .dialog-trigger-button {
        width: auto;
    }
}
