@import '../../../../my-theme.scss';

.toast-examples {

    .example-content {
        padding-bottom: 50px;

        .examples-wrapper {
            .material-provider {
                width: auto;
                margin-bottom: 20px;

                .button-radio-group-item {
                    border-radius: 20px;
                    margin-right: 20px;
                }
            }
        }
    }
}