@import '../../../my-theme.scss';

.nav-menu {
    position: fixed;
    left: 0;
    background: $theme-primary;
    top: 60px;
    width: 250px;
    height: calc(100% - 60px);
    box-sizing: border-box;
    overflow: hidden;
    transition-property: width, opacity, transform !important;
    transition-duration: $theme-transition-duration !important;
    transition-timing-function: ease-in-out !important;
    z-index: $menu-z-index;

    .nav-menu-filter {
        width: 100%;
        height: 40px;
        border-radius: 0;
        border: none;
        margin-bottom: 10px;
        color: transparentize(#fff, .3);
        background: darken($theme-primary, 6%);

        .icon-button {
            margin: 0;
        }
    }

    .nav-menu-list {
        font-size: 12px;
        user-select: none;
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(100% - 50px);

        .nav-menu-scroller {

            .nav-menu-item {
                position: relative;
                box-sizing: border-box;
                background: darken($theme-primary, 4%);

                .nav-menu-item-title {
                    position: relative;
                    display: block;
                    height: 50px;
                    box-sizing: border-box;
                    padding: 0 15px;
                    color: transparentize($theme-nav, .3);
                    text-decoration: none;
                    cursor: pointer;
                    text-decoration: none;
                    overflow: hidden;

                    &:hover {
                        color: $theme-nav;
                        background: transparentize(#000, .95);
                    }

                    &:focus {
                        color: $theme-nav;
                        background: transparentize(#000, .92);
                    }

                    .nav-menu-item-name {
                        opacity: 1;
                        display: block;
                        height: 50px;
                        line-height: 50px;
                        float: left;
                        transition: opacity 50ms ease-in-out 150ms;
                    }

                    .nav-menu-item-collapse-button {
                        float: right;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        transition: all $theme-transition-duration ease-in-out;

                        &.collapsed {
                            transform: rotate(-90deg);
                        }
                    }
                }

                .nav-menu-item-link {

                    @extend .nav-menu-item-title;

                    &.router-link-active {
                        padding: 0 15px 0 12px;
                        border-left: 3px solid $theme-highlight;
                        color: #fff;
                        background: transparentize(#000, .92);
                    }

                }

                .nav-menu-children {
                    overflow: hidden;
                    transition: all $theme-transition-duration ease-in-out;
                }

                &.hasChildren {
                    @include shadow-inset(1);
                }

                &.collapsed {
                    background: transparent;
                    box-shadow: none;

                    .nav-menu-children {
                        height: 0 !important;
                    }
                }

            }
        }
    }
}

@media (max-width: 767px) {
    .app {
        .nav-menu {
            top: 0 !important;
            bottom: 0;
            width: 70%;
            height: 100%;
            padding-top: 60px;
            z-index: $menu-mobile-z-index;
        }

        &.collapsed {
            .nav-menu {
                transform: translate3d(-100%, 0, 0);
                opacity: 0;
            }
        }
    }
}