@import '../../../common.scss';

.theme-light .nav-menu {
	background: $menu-light;

	.user-menu-loading {
		.spinner {
			border-color: $nav-light;
		}
	}

	.nav-menu-user {
		.user-avatar {
			background: $brand-light;
			color: $nav-light;
		}

		.user-name {
			color: $nav-light;
		}

		.user-desc {
			color: $title-light;
		}

		.user-contacts {
			& > * {
				color: $title-light;
			}
			& > *:hover {
				color: $nav-light;
			}
		}

		.user-menu-collapse-button {
			color: $highlight-light;
		}
	}

	.nav-menu-item {
		.nav-menu-item-link {
			color: $nav-light;
			text-decoration: none;
			background: $menu-light;

			&:hover {
				background: lighten($menu-light, 2%);
			}

			&:focus {
				background: darken($menu-light, 2%);
			}

			&.router-link-active {
				border-left: 3px solid $highlight-light;
				color: #FFF;
				background: darken($menu-light, 4%);
			}

		}
	}

}