@import '../../../common.scss';

.nav-menu {
    position: fixed;
    left: 0;
    background: $menu-light;
    top: 60px;
    width: 250px;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    transition-property: width, opacity, transform !important;
    transition-duration: $transition-duration !important;
    transition-timing-function: ease-in-out !important;
    z-index: $menu-z-index;

    .nav-menu-list {
        font-size: 12px;
        user-select: none;
        margin-top: 15px;

        .nav-menu-item {
            position: relative;

            .nav-menu-item-link {
                display: block;
                height: 50px;
                box-sizing: border-box;
                padding: 0 15px;
                color: $nav-light;
                text-decoration: none;
                background: $menu-light;
                cursor: pointer;
                text-decoration: none;
                overflow: hidden;

                & > * {
                    display: block;
                    height: 50px;
                    line-height: 50px;
                    float: left;
                    transition: width 0s $transition-duration, height 0s $transition-duration;
                }

                &:hover {
                    background: lighten($menu-light, 2%);
                }

                &:focus {
                    background: darken($menu-light, 2%);
                }

                &.router-link-active {
                    padding: 0 15px 0 12px;
                    border-left: 3px solid $highlight-light;
                    color: #FFF;
                    background: darken($menu-light, 4%);
                }

                .nav-menu-item-icon {
                    width: 30px;
                    text-align: center;
                    margin-right: 10px;
                }

                .nav-menu-item-collapse-button {
                    float: right;
                    width: 20px;
                    text-align: center;
                    transition: all $transition-duration ease-in-out;

                    &.collapsed {
                        transform: rotate(-90deg);
                    }
                }

                .nav-menu-item-name, .nav-menu-item-collapse-button {
                    opacity: 1;
                    transition: width $transition-duration ease-in-out,
                    height $transition-duration ease-in-out,
                    opacity 50ms ease-in-out 150ms;
                }

            }

        }
    }
}

@media (min-width: 768px) {
    .app.collapsed {
        .nav-menu {
            overflow: visible;
            width: 60px;
            transition: all $transition-duration ease-in-out;
        }

        .nav-menu-list {
            overflow: visible;

            .nav-menu-item {
                height: 50px;
                overflow: visible;

                .nav-menu-item-link {

                    .nav-menu-item-name, .nav-menu-item-collapse-button {
                        width: 0;
                        height: 0;
                        opacity: 0;
                        transition: width 0s, height 0s, opacity 0s;
                    }

                    &:hover {
                        & ~ .nav-menu-item-children {
                            left: 60px;
                            opacity: 1;
                        }
                    }
                }

            }
        }
    }
}

@media (max-width: 767px) {
    .app {
        .nav-menu {
            width: 100% !important;
            top: 0 !important;
            padding: 10% 0 !important;
            z-index: $menu-mobile-z-index;

            .nav-menu-user {
                width: 300px !important;

                .user-contacts {
                    transition: none;
                }
            }

            .nav-menu-list {
                width: 300px !important;
            }
        }

        &.collapsed {
            .nav-menu {
                transform: translate3d(-75%, 0, 0) scale(.9);
                opacity: 0;
            }
        }
    }
}