/**
 * @file ThSortIcon style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.th-sort-icon-wrapper {
    position: absolute;
    right: 0;
    top: 15px;
    padding: 3px;

    .th-sort-icon {
        display: block;
        width: 24px;
        height: 12px;
        line-height: 12px;
        text-align: center;
        color: $theme-secondary;
        transition: color $theme-transition-duration ease-in-out;
    }

    &.asc {
        .th-sort-icon.up {
            color: $theme-field;
        }
    }

    &.desc {
        .th-sort-icon.down {
            color: $theme-field;
        }
    }
}
