/**
 * @file TipProvider style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.tip-provider {
    display: inline-block;

    &.block {
        display: block;
    }

    .children-wrapper {
        display: inherit;
    }
}