@import '../../common.scss';

.theme-dark .signin {
	background: $title-bg-dark;

	h1 {
		color: $brand-dark;
	}

	.signin-theme {

		.signin-theme-button {
			color: $text-dark;

			.signin-theme-collapse-button {
				color: $highlight-dark;
			}
		}

		.signin-theme-popup {

			.triangle {
				border-bottom-color: #FFF;
			}

			.content {
				background: #FFF;
			}
		}
	}

	.copyright {
		color: lighten($text-dark, 10%);
	}
}