/**
 * @file DotStepItem style
 */

.dot-step-item {
    float: left;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin: 0 2px;
    background: $theme-border;
    cursor: not-allowed;

    &.finished {
        cursor: pointer;
        background: $theme-field;
    }

    &.activated {
        cursor: default;
        background: $theme-highlight;
    }
}
