@import '../_common.scss';

@mixin tabs-animate {
    transition: all $transition-duration ease-in-out;
}

.tabs {

    .tab-header {
        position: relative;

        .ink-bar {
            position: absolute;
            bottom: 0;
            height: 2px;
            background: $theme-highlight;
            @include tabs-animate;
        }
    }

    .tab-content-wrap {
        overflow: hidden;
        border-top: none;
        box-sizing: border-box;

        .tabScroller {

            @include float-fix;
            @include tabs-animate;

            position: relative;

        }
    }

}