@import '../_common.scss';

.auto-complete {
    .auto-complete-trigger {
        &.activated {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

.auto-complete-popup {
    max-height: 300px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow-y: auto;

    .auto-complete-list {
        width: 100%;

        .no-matched-list-item {
            line-height: 40px;
            padding: 0 20px;
            color: $theme-text;

            .no-matched-list-item-icon {
                color: $warning;
                margin-right: 10px;
            }
        }
    }
}