/**
 * @file LocalAutoComplete style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.local-auto-complete {

    .local-auto-complete-trigger {
        @include shadow(0);
        transition: all $theme-transition-duration ease-in-out;

        &.activated {
            @include shadow(4);
        }

        &.above {
            &.activated {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }

        &.blow {
            &.activated {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        &.focused {
            border-color: $theme-border;
        }
    }
}

.popup.local-auto-complete-popup {
    box-sizing: border-box;
    border: 1px solid $theme-border;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;

    .popup-content {
        border-radius: 0;

        .local-auto-complete-list {
            width: 100%;
            max-height: 240px;
            overflow-y: auto;

            .list-item.activated {
                background: $theme-field-bg-active;
            }

            .no-matched-list-item {
                line-height: 40px;
                color: $theme-field;
                cursor: default;

                .no-matched-list-item-icon {
                    color: $theme-warning;
                    margin-right: 10px;
                }
            }
        }
    }

    &.above {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
    }

    &.blow {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: none;
    }
}