/**
 * @file MaterialTextField style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.material-text-field {
    position: relative;
    width: 300px;
    background: $theme-field-bg;

    .material-text-field-label {
        position: relative;
        line-height: 16px;
        color: $theme-label;
        transform-origin: top left;
        transition-property: transform, padding-left, color;
        transition-duration: $theme-transition-duration;
        transition-timing-function: ease-in-out;

        .material-text-field-required-dot {
            position: absolute;
            right: 8px;
            top: 50%;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $theme-error;
            transform: translateY(-50%);
        }
    }

    .text-field {
        width: 100%;
        border: none;
        border-radius: 0;
        background: transparent;
        border-bottom: 1px solid $theme-border !important;
        box-shadow: none !important;

        .text-field-input,
        .text-field-placeholder {
            padding-left: 8px;
            transition: opacity $theme-transition-duration ease-in-out;
        }

    }

    &.focused {
        .material-text-field-label {
            color: $theme-highlight;
        }
    }

    &.has-label.animated {

        .material-text-field-label {
            transform: translateY(28px);
            padding-left: 8px;
        }

        .text-field-input,
        .text-field-placeholder {
            opacity: 0;
        }

        &.has-value,
        &.focused {
            .material-text-field-label {
                transform: translateY(0);
                padding-left: 0;
            }

            .text-field-input,
            .text-field-placeholder {
                opacity: 1;
            }
        }
    }

}