/**
 * @file MaterialTextField style
 */

.material-text-field {
    position: relative;
    width: 300px;
    background: $theme-field-bg;

    .text-field {
        .text-field-input,
        .text-field-placeholder {
            padding-left: 8px;
        }
    }

}
