/**
 * @file Notifier style
 */

.position-pop.notifier {
    z-index: $pop-z-index;
    padding: 16px;

    &.notifier-top-left,
    &.notifier-top,
    &.notifier-top-right,
    &.notifier-center {
        .notification {
            margin-bottom: 10px;
        }
    }

    &.notifier-left-top,
    &.notifier-left,
    &.notifier-left-bottom {
        .notification {
            float: left;
            margin: 0 10px 10px 0;
        }
    }

    &.notifier-right-top,
    &.notifier-right,
    &.notifier-right-bottom {
        .notification {
            float: right;
            margin: 0 0 10px 10px;
        }
    }

    &.notifier-bottom-left,
    &.notifier-bottom,
    &.notifier-bottom-right {
        .notification {
            margin-top: 10px;
        }
    }
}
