/**
 * @file Notifier style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.notifier {
    position: fixed;
    z-index: $toast-z-index;

    &.notifier-position-top-left {
        left: 20px;
        top: 20px;
    }

    &.notifier-position-top {
        left: 50%;
        top: 20px;
        transform: translateX(-50%);
    }

    &.notifier-position-top-right {
        right: 20px;
        top: 20px;
    }

    &.notifier-position-bottom-left {
        left: 20px;
        bottom: 20px;
    }

    &.notifier-position-bottom {
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);
    }

    &.notifier-position-bottom-right {
        right: 20px;
        bottom: 20px;
    }
}