/**
 * @file Notifier style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.notifier {
    z-index: $toast-z-index;
    padding: 16px;

    &.notifier-top-left,
    &.notifier-top,
    &.notifier-top-right,
    &.notifier-center {
        .notification {
            margin-bottom: 10px;
        }
    }

    &.notifier-left-top,
    &.notifier-left,
    &.notifier-left-bottom {
        .notification {
            float: left;
            margin-right: 10px;
        }
    }

    &.notifier-right-top,
    &.notifier-right,
    &.notifier-right-bottom {
        .notification {
            float: right;
            margin-left: 10px;
        }
    }

    &.notifier-bottom-left,
    &.notifier-bottom,
    &.notifier-bottom-right {
        .notification {
            margin-top: 10px;
        }
    }
}