@import '../../../../my-theme.scss';

.trigger-pop.popup.button-radio-select-example-pop {
    width: 157px;

    .button-radio-group > .list-item {
        width: 40px;
        padding: 0;
        text-align: center;
    }
}

.example-content {
    .dialog-button {
        width: 120px;
    }
}

.popover-dialog-content-scroller {
    width: 1000px;
    height: 1000px;
}
