@import '../../../../my-theme.scss';

.self-define-node-desc {
    color: $theme-description;
    margin-left: 4px;
}
.example-content{
    .dialog-button{
        width: 120px;
    }
}
.popover-dialog-content-scroller{
    width: 1000px;
    height: 1000px;
}