@import '../../../../my-theme.scss';

.dropdown-select-examples {
    .field-group {
        @include float-fix;
        float: none;

        .dropdown-select-label,
        .dropdown-select {
            float: left;
        }

        .dropdown-select-label {
            font-size: 14px;
            line-height: 50px;
            margin-right: 20px;
            width: 60px;
        }
    }
}

.example-content {
    .dialog-button {
        width: 120px;
    }
}

.popover-dialog-content-scroller {
    width: 1000px;
    height: 1000px;

    .field-group {
        margin-bottom: 16px;
    }
}
