@import '../../../../my-theme.scss';

.material-tree-select-examples {
    .field-group {
        @include float-fix;
        float: none;
    }
}

.example-content{
    .dialog-button{
        width: 120px;
    }
}
.popover-dialog-content-scroller{
    width: 1000px;
    height: 1000px;
}