@import '../../../../my-theme.scss';

.multiple-select-examples {
    .field-group {
        @include float-fix;
        float: none;

        .multiple-select-label,
        .multiple-select {
            float: left;
        }

        .multiple-select-label {
            font-size: 14px;
            line-height: 50px;
            margin-right: 20px;
            width: 60px;
        }

        .multiple-select {
            width: 300px;
        }
    }
}

.example-content{
    .dialog-button{
        width: 120px;
    }
}
.popover-dialog-content-scroller{
    width: 1000px;
    height: 1000px;
}