@import '../../../../my-theme.scss';

.text-field-examples {

    .field-group {
        @include float-fix;
        margin: 10px auto;
        float: none;

        .text-field-label,
        .text-field {
            float: left;
        }

        .text-field-label {
            font-size: 14px;
            line-height: 40px;
            margin-right: 20px;
            width: 80px;
        }
    }
}