@import '../../../../my-theme.scss';

.transfer-examples {
    .field-group {
        @include float-fix;
        margin: 10px auto;
        float: none;

        .transfer-label,
        .text-field {
            float: left;
        }

        .transfer-label {
            font-size: 14px;
            line-height: 50px;
            margin-right: 20px;
            width: 60px;
        }
    }
}