.create-feed-ari-box{
  .create-feed-ari{
    padding: 50px 0 0;
    margin: 20px 40px;
    background: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.037647) 0 1px 1px, rgba(0, 0, 0, 0.077647) 0 1px 1px;
    .ari-ul{
      width: 80%;
      margin-left: 10%;
      padding: 0;
      .ari-li{
        display: inline-block;
        width: 50%;
        height: 50px;
        margin-bottom: 50px;
        list-style-type: none;
        > label{
          float: left;
          width: 120px;
          text-align: left;
          line-height: 42px;
        }
        > .dropdown-select{
          float: left;
          width: calc(100% - 150px);
          min-width: 200px;
          .dropdown-select-inner{
            background: white;
          }
        }
      }
    }
  }
  >.create-feed-buttons{
    margin-left: calc(10% + 150px);
    overflow: hidden;
    >.button{
      float: left;
      margin-right: 30px;
    }
  }
}
