@import '../../../../my-theme';

.hue-picker-examples {

    .examples-wrapper {

        .picked-hue-wrapper {
            margin-top: 16px;

            .picked-hue {
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 16px;
                vertical-align: bottom;
            }

            .picked-hue-value {
                display: inline-block;
                line-height: 20px;
                user-select: none;
            }
        }

    }

}
