/**
 * @file Td style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.table table > tbody > tr > td {
    text-align: left;
    padding: 8px;
    background: $theme-field-bg;
    border-bottom: 1px solid $theme-border;
    transition: none;
    cursor: default;

    .expand-button {
        width: 16px;
        height: 16px;
        margin-right: 8px;
        vertical-align: top;

        .button-icon {
            font-size: 16px;
            transition: transform $theme-transition-duration ease-in-out;
        }

        &.hidden {
            visibility: hidden;
        }
    }

    &.empty {
        text-align: center;
        color: $theme-description;
    }

    &.align-center {
        text-align: center;
    }

    &.align-right {
        text-align: right;
    }

    &.no-wrap {
        white-space: nowrap;
    }

    &.sorting {
        background: darken($theme-field-bg, 2%);
    }
}
