/**
 * @file Td style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.table table > tbody > tr > td {
    text-align: left;
    padding: 16px;
    background: $theme-field-bg;
    border-bottom: 1px solid $theme-border;
    transition: none;
    cursor: default;

    .toggle-button {
        display: inline-block;
        cursor: pointer;

        &.expanded-icon {
            transform: rotate(90deg);
        }
    }

    &.has-children {
        white-space: nowrap;
    }

    &.empty {
        text-align: center;
        color: $theme-description;
    }

    &.align-center {
        text-align: center;
    }

    &.align-right {
        text-align: right;
    }

    &.sorting {
        background: darken($theme-field-bg, 2%);
    }
}
