@import '../_common.scss';

input,
input:focus {
    outline: none;
}

.tag-field {
    width: 400px;
    height: 100px;
    border-radius: $border-radius;
    box-sizing: border-box;
    color: $theme-text;
    background: $theme-field;
    border: 1px solid $theme-title-bg;
    cursor: text;
    padding: 0 8px 4px 0;

    .tag-field-input,
    .tag-field-item {
        float: left;
        margin: 4px 0 0 8px;
        box-sizing: border-box;
        width: auto;
        height: 24px;
        line-height: 24px;
    }

    .tag-field-input {
        border: 0;
    }

    .tag-field-item {
        display: inline-block;
        height: 24px;
        line-height: 24px;

        .tag-field-item-field {
            height: 24px;
            line-height: 24px;
        }
    }

}