/**
 * @file FieldMsg style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.field-msg {
    position: absolute;
    height: 36px;
    z-index: $field-msg-z-index;

    .popover-content {
        padding: 8px;
        line-height: 20px;
    }
}