@import '../_common.scss';

.field-msg {
    position: absolute;
    height: 36px;
    z-index: $field-msg-z-index;

    .triangle {
        width: 0;
        height: 0;
        position: absolute;
        left: 6px;
        border-top: none;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid transparent;
    }

    .msg-wrap {
        position: absolute;
        height: 30px;
        line-height: 30px;
        padding: 0 9px;
        border-radius: $border-radius;
        white-space: nowrap;
        word-break: break-all;

        &.multiLine {
            .msg {
                padding-top: 3px;
                white-space: normal;
                line-height: 24px;
                box-sizing: border-box;
            }
        }
    }

    .test-char-width-div {
        font-family: 'Myriad Pro', Helvetica, Verdana, Arial;
        font-size: 14px;
        height: auto;
        width: auto;
        top: 0px;
        left: 0px;
        visibility: hidden;
        position: absolute;
        white-space: pre;
        font-style: inherit;
        font-variant: inherit;
        font-weight: inherit;
        font-stretch: inherit;
        line-height: inherit;
        overflow: visible;
    }

    &.info {
        top: -36px;

        .triangle {
            top: 30px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid transparentize($theme-brand, .1);
            border-bottom: none;
        }

        .msg-wrap {
            background: transparentize($theme-brand, .1);
            color: #fff;
        }
    }

    &.warning {
        .triangle {
            border-top: none;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid transparentize($warning, .1);
        }

        .msg-wrap {
            top: 6px;
            background: transparentize($warning, .1);
            color: #fff;
        }
    }

    &.error {
        .triangle {
            border-top: none;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid transparentize($error, .1);
        }

        .msg-wrap {
            top: 6px;
            background: transparentize($error, .1);
            color: #fff;
        }
    }
}