/**
 * @file MaterialAutoCompleteFilter style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.material-auto-complete-filter {
    position: relative;
    width: 300px;
    background: $theme-field-bg;

    .material-auto-complete-filter-label {
        display: inline-block;
        line-height: 16px;
        color: $theme-label;
        transform-origin: top left;
        transition: transform $theme-transition-duration ease-in-out,
        color $theme-transition-duration ease-in-out;
    }

    .auto-complete-filter {
        width: 100%;

        .text-field.auto-complete-filter-trigger {
            width: 100%;
            border: none;
            border-radius: 0;
            background: transparent;
            border-bottom: 1px solid $theme-border;
            box-shadow: none;

            .text-field-input,
            .text-field-placeholder {
                padding-left: 8px;
                transition: opacity $theme-transition-duration ease-in-out;
            }

        }
    }

    &.focused {
        .material-auto-complete-filter-label {
            color: $theme-highlight;
        }
    }

    &.has-label.animated {

        .material-auto-complete-filter-label {
            transform: translate(8px, 28px);
        }

        .text-field-input,
        .text-field-placeholder {
            opacity: 0;
        }

        &.has-value,
        &.focused {
            .material-auto-complete-filter-label {
                transform: translate(0, 0);
            }

            .text-field-input,
            .text-field-placeholder {
                opacity: 1;
            }
        }
    }

}

.material-auto-complete-filter-popup {
    border: none;
}