/**
 * @file Drawer style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

body.drawer-modal-lock {
    overflow: hidden;
}

.position-pop.paper.drawer {
    box-sizing: border-box;
    overflow: hidden;
    color: $theme-field;
    background: none;
    border-radius: 0;
    z-index: $pop-z-index;

    .drawer-content {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background: $theme-field-bg;
    }

    &.position-pop-top,
    &.position-pop-bottom {
        width: 100%;
        height: auto;
    }

    &.position-pop-left,
    &.position-pop-right {
        width: auto;
        height: 100%;
    }
}