/**
 * @file BriefPagination style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.brief-pagination {
    @include float-fix;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 5px 5px 5px 15px;
    user-select: none;
    cursor: default;
    background: $theme-field-bg;
    border-top: 1px solid $theme-border;

    .brief-pagination-left {
        float: left;
        line-height: 40px;

        .brief-pagination-selected,
        .brief-pagination-total {
            float: left;
            margin-right: 20px;
        }
    }

    .brief-pagination-right {
        float: right;
        line-height: 40px;

        .pagination-size {
            float: left;
        }

        .brief-pagination-info {
            float: left;
            margin: 0 10px;
        }
    }
}
