@import '../../../../my-theme.scss';

.dropdown-select-examples {
    .field-group {
        @include float-fix;
        float: none;

        .dropdown-select-label,
        .dropdown-select {
            float: left;
        }

        .dropdown-select-label {
            font-size: 14px;
            line-height: 50px;
            margin-right: 20px;
            width: 60px;
        }
    }
}