@import '../../../../common.scss';

.tree-select-examples {

    .examples-wrapper {

        .field-group {

            @include float-fix;

            float: none;

            .tree-select-label,
            .tree-select {
                float: left;
            }

            .tree-select-label {
                font-size: 14px;
                line-height: 50px;
                margin-right: 20px;
                width: 60px;
            }
            .tree-select{
                width: 300px;
            }
        }
    }
}