/**
 * @file RemoteAutoComplete style
 */

.remote-auto-complete {
    height: 50px;
    width: 300px;
    .auto-complete-inner {
        position: relative;
        z-index: 10;
        width: 100%;
        //border: 1px solid #dfdfdf;
        //border-bottom-left-radius: 4px;
        //border-bottom-right-radius: 4px;
        transition: all 250ms ease-in-out;
        &.focused {
            //box-shadow: rgba(0, 0, 0, 0.12) 0 5px 6px, rgba(0, 0, 0, 0.12) 0 2px 6px;
        }
        &:hover {
            //box-shadow: rgba(0, 0, 0, 0.12) 0 5px 6px, rgba(0, 0, 0, 0.12) 0 2px 6px;
        }
        .text-field {
            width: 100%;
            //border: none;
            //border-radius: 0;
            &.focused {
                //border: none;
            }
        }
    }
}

.auto-complete-list {
    width: 100%;
    margin: 0;
    padding: 0;
    background: $theme-field-bg;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow-y: auto;
    transition: all 250ms ease-in-out;
    box-sizing: border-box;
    li {
        width: 100%;
        overflow: hidden;
        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        box-sizing: border-box;
        &.auto-complete-li-loading {
            text-align: center;
            overflow: hidden;
            height: 49px;
            line-height: 69px;
        }
        list-style: none;
        font-size: 12px;
        padding: 0 15px;
        &:hover {
            background: $theme-field-bg-hover;
        }
    }
}
