/**
 * @file Grid style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.grid {
    @include float-fix;
    padding-top: 10px;
    background: $theme-container-bg;
    border: 1px solid $theme-border;
    overflow: auto;
}