@import '../_common.scss';

.grid {
    @include float-fix;
    box-sizing: border-box;
    width: 100%;
    background: $theme-bg;
    padding: 20px;

    &.grouped {
        .grid-item {
            padding-left: 30px;
        }
    }
}