@import '../_common.scss';

.grid {
    @include float-fix;
    padding: 20px 20px 10px 20px;
    margin: 0 -15px;

    &.grouped {
        .grid-item {
            padding-left: 30px;
        }
    }
}