/**
 * @file TabButton style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.tab-button-wrapper {
    display: inline-block;
    vertical-align: top;
}

.tab-button {
    width: 100%;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 0;
    margin: 0;
    vertical-align: bottom;
}
