/**
 * @file GridGroup style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */
@import '../_common.scss';

.grid-group {

    .grid-group-name {
        background: transparent;
        height: 30px;
        line-height: 30px;
        padding-left: 15px !important;
        box-shadow: none;

        &:hover {
            background: transparent !important;
        }
    }

    .grid-group-item-wrapper {
        @include float-fix;
    }
}