@import '../_common.scss';

.grid-group {

    .grid-group-name {
        background: transparent;
        height: 30px;
        line-height: 30px;
        padding-left: 15px !important;

        &:hover {
            background: transparent;
        }
    }
}