/**
 * @file GridGroup style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.grid-group {

    .grid-group-name {
        background-color: transparent !important;
        height: 20px !important;
        line-height: 20px !important;
        box-shadow: none;
        padding: 0 !important;
        border: none !important;

        &:hover {
            background: transparent !important;
        }
    }

    .grid-group-item-wrapper {
        @include float-fix;
    }
}