.test-dialog{
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    margin: 50px;
    padding: 0px 0 20px;
    overflow: hidden;
    background: white;
    >h3{
        color: #758697;
        background-color: #E3EAF3;
        margin: 0;
        padding: 15px 20px;
    }
    >p{
        margin-left: 20px;
        color: #4C637B;
    }
    >button{
        margin-left: 20px;
        margin-top: 10px;
        background: white;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
        height: 30px;
        line-height: 30px;
        width: 70px;
        border: 1px solid #d1d1d1;
        font-weight: 500;
        &:hover{
            background: rgba(0,0,0,0.07);
        }
    }
}