@import '../../../../common.scss';

.dialog-examples {

    .example-content {

        .field-group {

            @include float-fix;

            float: none;

            .radio {
                width: 100px;
                display: inline-block;

            }

            .text-field-label,
            .text-field {
                float: left;
            }
    .trigger-button {
        width: 160px;
        height: 50px;
        margin: 0;
    }
}

            .text-field-label {
                font-size: 14px;
                line-height: 50px;
                width: 60px;
            }

        }
    }
}
