@import '../../common.scss';

.accordion {

	.accordion-title {
		width: 100%;
		height: 40px;
		line-height: 40px;
		box-sizing: border-box;
		padding: 0 20px;
		cursor: pointer;
		user-select: none;
		position: relative;

		i {
			height: 40px;
			line-height: 40px;
			float: right;
		}
	}

	.accordion-content {
		box-sizing: border-box;
		padding: 0 20px;
		overflow: auto;
		transition: all $transition-duration ease-in-out;

		&.collapsed {
			height: 0 !important;
		}
	}

}

.theme-light .accordion {
	color: $title-light;
	background: $field-light;

	&:hover {
		color: $text-light;
	}
}