/**
 * @file ArrowStepItem style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */
@import '../_common.scss';

.arrow-step-item {
    float: left;
    height: 60px;
    position: relative;
    user-select: none;
    cursor: not-allowed;
    box-sizing: border-box;
    padding: 0 16px;

    .arrow-step-item-content {
        position: relative;
        width: 100%;
        height: 100%;
        background: $theme-title-bg;

        .number {
            float: left;
            width: 30px;
            height: 30px;
            margin: 15px 10px;
            border-radius: 50%;
            text-align: center;
            line-height: 30px;
            font-size: 20px;
            background: transparentize(#fff, .05);
            color: $theme-text;

            i {
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
            }
        }

        .title {
            position: absolute;
            left: 45px;
            top: 0;
            width: calc(100% - 45px);
            height: 30px;
            line-height: 30px;
            padding: 15px 0;
            color: $theme-text;
            white-space: nowrap;
            overflow: hidden;
            z-index: 2;
        }
    }

    .triangle-wrapper {
        position: absolute;
        top: 0;
        width: 0;
        height: 60px;
        z-index: 1;

        .triangle-middle {
            width: 0;
            height: 0;
            border: 30px solid transparent;
            border-left-color: $theme-title-bg;
            border-right: none;

            &.finished {
                border-left-color: $theme-menu;
            }

            &.activated {
                border-left-color: $theme-highlight;
            }
        }

        .triangle-top {
            position: relative;
            width: 0;
            height: 0;
            border: 15px solid transparent;
            border-top-color: $theme-title-bg;
            border-right-color: $theme-title-bg;

            &.finished {
                border-top-color: $theme-menu;
                border-right-color: $theme-menu;
            }

            &.activated {
                border-top-color: $theme-highlight;
                border-right-color: $theme-highlight;
            }
        }

        .triangle-bottom {
            position: relative;
            width: 0;
            height: 0;
            border: 15px solid transparent;
            border-right-color: $theme-title-bg;
            border-bottom-color: $theme-title-bg;

            &.finished {
                border-right-color: $theme-menu;
                border-bottom-color: $theme-menu;
            }

            &.activated {
                border-right-color: $theme-highlight;
                border-bottom-color: $theme-highlight;
            }
        }

        &.triangle-wrapper-left {
            left: -14px;

            .triangle-top {
                top: 0px;
                left: 0px;

            }
            .triangle-bottom {
                top: 0px;
                left: 0px;
            }
        }

        &.triangle-wrapper-right {
            right: 16px;
            //background: $theme-bg;
        }

    }

    &.first {
        padding-left: 0;
    }

    &.last {
        padding-right: 0;
    }

    &.activated {
        cursor: default;

        .arrow-step-item-content {
            background: $theme-highlight;

            .number {
                color: $theme-highlight;
            }

            .title {
                color: #fff;
            }
        }

        &:hover {

            .arrow-step-item-content {
                background: darken($theme-highlight, 4%);
            }

            .triangle-wrapper.triangle-wrapper-left {
                .triangle-top {
                    border-top-color: darken($theme-highlight, 4%);
                    border-right-color: darken($theme-highlight, 4%);
                }
                .triangle-bottom {
                    border-right-color: darken($theme-highlight, 4%);
                    border-bottom-color: darken($theme-highlight, 4%);
                }
            }

            .triangle-wrapper.triangle-wrapper-right {
                .triangle-middle {
                    border-left-color: darken($theme-highlight, 4%);
                }
            }
        }
    }

    &.finished {
        cursor: pointer;

        .arrow-step-item-content {
            background: $theme-menu;

            .number {
                color: $theme-menu;
            }

            .title {
                color: #fff;
            }
        }

        &:hover {

            .arrow-step-item-content {
                background: darken($theme-menu, 4%);
            }

            .triangle-wrapper.triangle-wrapper-left {
                .triangle-top {
                    border-top-color: darken($theme-menu, 4%);
                    border-right-color: darken($theme-menu, 4%);
                }
                .triangle-bottom {
                    border-right-color: darken($theme-menu, 4%);
                    border-bottom-color: darken($theme-menu, 4%);
                }
            }

            .triangle-wrapper.triangle-wrapper-right {
                .triangle-middle {
                    border-left-color: darken($theme-menu, 4%);
                }
            }
        }
    }
}