/**
 * @file GhostButton style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

@mixin ghost-button-disabled-style {
    color: $theme-field-disabled;
    background-color: transparent;
    border-color: $theme-border-disabled;
}

@mixin ghost-button-disabled {
    @include ghost-button-disabled-style;

    &:hover,
    &:active {
        @include ghost-button-disabled-style;
    }
}

@mixin ghost-button-theme($color, $activated-color) {
    color: $color;
    border-color: $color;

    &:hover {
        color: $activated-color;
        background-color: $color;
    }

    &:active {
        background-color: $color;
        color: $activated-color;
    }

    &[disabled] {
        @include ghost-button-disabled
    }
}

.ghost-button {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;

    &[disabled] {
        @include ghost-button-disabled
    }

    // default theme
    @include ghost-button-theme(#fff, $theme-field);

    // themes
    &.theme-primary {
        @include ghost-button-theme($theme-primary, #fff);
    }
    &.theme-secondary {
        @include ghost-button-theme($theme-secondary, $theme-primary);
    }
    &.theme-highlight {
        @include ghost-button-theme($theme-highlight, #fff);
    }
    &.theme-info {
        @include ghost-button-theme($theme-info, #fff);
    }
    &.theme-success {
        @include ghost-button-theme($theme-success, #fff);
    }
    &.theme-warning {
        @include ghost-button-theme($theme-warning, #fff);
    }
    &.theme-error {
        @include ghost-button-theme($theme-error, #fff);
    }

}