/**
 * @file Accordion style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.accordion {

    .raised-button.accordion-title {
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
        user-select: none;
        text-align: left;
        border: none;
        border-bottom: 1px solid $theme-border;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: none;

        .button-icon {
            float: right;
            transform: rotate(180deg);
            transition: transform $theme-transition-duration ease-in-out;
        }
    }

    .accordion-content {
        box-sizing: border-box;
        padding: 0 20px;
        overflow: auto;
        color: $theme-field;
        background: $theme-field-bg;
        transition: height $theme-transition-duration ease-in-out;
    }

    &.collapsed {

        .accordion-title {
            border-color: transparent;

            .button-icon {
                transform: rotate(0deg);
            }
        }

        .accordion-content {
            height: 0 !important;
        }
    }
}