// z-index
$pop-z-index: 92;
$modal-z-index: 91;
$field-msg-z-index: 81;

@mixin base-invisible {
    position: absolute;
    font: inherit;
    background: transparent;
    z-index: -1;
    opacity: 0;
    -webkit-appearance: none;
    appearance: none;
    resize: none;
    outline: none;
    overflow: hidden;
    cursor: none;
    pointer-events: none;
    white-space: nowrap;
}

@mixin invisible {
    @include base-invisible;
    padding: 0;
    width: 0;
    height: 0;
}

@mixin float-fix {
    &::before, &::after {
        display: table;
        content: "";
    }
    &::after {
        clear: both;
    }
}

@mixin align-center {
    text-align: center;

    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}

@mixin shadow($depth) {
    @if $depth == 0 {
        box-shadow: transparent 0px 0px 0px;
    } @else if $depth == 1 {
        box-shadow: transparentize($theme-shadow, .95) 0px 3px 1px, transparentize($theme-shadow, .9) 0px 1px 1px;
    } @else if $depth == 2 {
        box-shadow: transparentize($theme-shadow, .9) 0px 4px 3px, transparentize($theme-shadow, .88) 0px 1px 3px;
    } @else if $depth == 3 {
        box-shadow: transparentize($theme-shadow, .88) 0px 5px 6px, transparentize($theme-shadow, .88) 0px 2px 6px;
    } @else if $depth == 4 {
        box-shadow: transparentize($theme-shadow, .85) 0px 7px 10px, transparentize($theme-shadow, .8) 0px 3px 9px;
    } @else if $depth == 5 {
        box-shadow: transparentize($theme-shadow, .8) 0px 10px 30px, transparentize($theme-shadow, .8) 0px 6px 12px;
    } @else if $depth == 6 {
        box-shadow: transparentize($theme-shadow, .75) 0px 14px 45px, transparentize($theme-shadow, .78) 0px 10px 15px;
    } @else if $depth == 7 {
        box-shadow: transparentize($theme-shadow, .7) 0px 19px 60px, transparentize($theme-shadow, .78) 0px 15px 20px;
    } @else {
        box-shadow: none;
    }
}
