@import './_common.scss';

$theme-primary: #4c637b;
$theme-secondary: #f3f6fa;
$theme-description: #abb5c1;
$theme-info: #2196f3;
$theme-success: #67ba31;
$theme-warning: #f1ad09;
$theme-error: #d8534e;
$theme-highlight: #38b1eb;

$theme-title: #4c637b;
$theme-title-bg: #f3f6fa;
$theme-container-bg: #fff;

$theme-field: #4c637b;
$theme-field-focus: #4c637b;
$theme-field-hover: #4c637b;
$theme-field-active: #4c637b;
$theme-field-disabled: #9e9e9e;

$theme-field-bg: #fff;
$theme-field-bg-focus: #fff;
$theme-field-bg-hover: #f3f6fa;
$theme-field-bg-active: #f3f6fa;
$theme-field-bg-disabled: #f8f9fa;

$theme-border: #f3f6fa;
$theme-border-focus: #f3f6fa;
$theme-border-hover: #f3f6fa;
$theme-border-active: #f3f6fa;
$theme-border-disabled: #f3f6fa;
$theme-border-radius: 4px;

$theme-label: #4c637b;
$theme-label-disabled: #9e9e9e;

$theme-shadow: #000;
$theme-ripple-bg: #000;

$transition-duration: 250ms;