@import './common.scss';

$info: #2196f3;
$success: #67ba31;
$warning: #f1ad09;
$error: #d8534e;

$grey: #9e9e9e;
$blue-grey: #607d8b;
$light-blue: #03a9f4;

$theme-brand: #344c67;
$theme-nav: #fff;
$theme-menu: #4c637b;
$theme-bg: #f3f6fa;
$theme-title-bg: #e3eaf3;
$theme-content-bg: #f2f6fa;
$theme-field: #fff;
$theme-title: #758697;
$theme-text: #4c637b;
$theme-light-text: #b8c6d6;
$theme-highlight: #38b1eb;
$theme-popup: #4c637b;