/**
 * @file default.scss
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

@import './_common.scss';

$theme-color-transition-percent: 4%;

@function theme-color-hover($color) {
    @return lighten($color, $theme-color-transition-percent);
}

@function theme-color-active($color) {
    @return darken($color, $theme-color-transition-percent);
}

$theme-primary: #506379;
$theme-secondary: #edf0f3;
$theme-highlight: #38b1eb;
$theme-description: #abb5c1;
$theme-dark: #323944;
$theme-info: #2196f3;
$theme-success: #67ba31;
$theme-warning: #f1ad09;
$theme-error: #d8534e;

$theme-field: #4c637b;
$theme-field-hover: theme-color-hover($theme-field);
$theme-field-active: theme-color-active($theme-field);
$theme-field-disabled: #d9d9d9;

$theme-field-bg: #fff;
$theme-field-bg-hover: theme-color-hover($theme-field-bg);
$theme-field-bg-active: theme-color-active($theme-field-bg);
$theme-field-bg-disabled: #f7f7f7;

$theme-border: #e4eaf2;
$theme-border-hover: theme-color-hover($theme-border);
$theme-border-active: theme-color-active($theme-border);
$theme-border-disabled: #e9e9e9;
$theme-border-radius: 4px;

$theme-label: #4c637b;
$theme-label-disabled: #9e9e9e;

$theme-shadow: #000;
$theme-ripple-bg: #000;

$theme-transition-duration: 250ms;
