@import '../../common.scss';

.dropdown-menu {

	@include shadow(1);

	position: absolute;
	top: 0;
	left: -99999px;
	opacity: 0;
	z-index: -1;
	box-sizing: border-box;
	width: 100%;
	padding: 20px;
	overflow: hidden;
	transition: left 0s $transition-duration, top $transition-duration ease-in-out, opacity $transition-duration ease-in-out;

	&.activated {
		top: 60px;
		left: 0;
		opacity: 1;
		transition: left 0s, top $transition-duration ease-in-out, opacity $transition-duration ease-in-out;
	}

}

.theme-light .dropdown-menu {
	background: $theme-title-bg;
}

.theme-dark .dropdown-menu {
	background: $title-bg-dark;
}