/**
 * @file IconButton style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

@mixin icon-button-theme($color) {
    background: transparent;
    color: $color;

    .button-icon {
        color: inherit;
    }

    .circular-loading .spinner {
        border-color: inherit;
    }

    &[disabled] {
        color: transparentize($color, .5);
    }
}

.icon-button {
    padding: 0;

    .button-icon {
        margin: 0 !important;
        vertical-align: middle;
    }

    // default theme
    @include icon-button-theme($theme-field);

    // themes
    &.theme-primary {
        @include icon-button-theme($theme-primary);
    }
    &.theme-highlight {
        @include icon-button-theme($theme-highlight);
    }
    &.theme-success {
        @include icon-button-theme($success);
    }
    &.theme-warning {
        @include icon-button-theme($warning);
    }
    &.theme-error {
        @include icon-button-theme($error);
    }

}