/**
 * @file IconButton style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

@mixin icon-button-disabled-style {
    color: $theme-field-disabled;
}

@mixin icon-button-disabled {
    @include icon-button-disabled-style;

    &:hover,
    &:active {
        @include icon-button-disabled-style;
    }
}

@mixin icon-button-theme($color) {
    color: $color;

    &:hover {
        color: theme-color-hover($color);
    }

    &:active {
        color: theme-color-active($color);
    }

    &[disabled] {
        @include icon-button-disabled
    }
}

.base-button.icon-button {
    border: none;
    padding: 0;
    background-color: transparent;
    text-overflow: initial;

    .button-icon.button-icon-left {
        margin: 0;
    }

    &[disabled] {
        @include icon-button-disabled
    }

    // default theme
    @include icon-button-theme($theme-field);

    // themes
    &.theme-primary {
        @include icon-button-theme($theme-primary);
    }

    &.theme-highlight {
        @include icon-button-theme($theme-highlight);
    }

    &.theme-success {
        @include icon-button-theme($theme-success);
    }

    &.theme-warning {
        @include icon-button-theme($theme-warning);
    }

    &.theme-error {
        @include icon-button-theme($theme-error);
    }

}
