@import '../_common.scss';

@mixin button-theme($color) {
    background: transparent;
    color: $color;

    .button-icon {
        color: inherit;
    }

    .circular-loading .spinner {
        border-color: inherit;
    }

    &[disabled] {
        color: transparentize($color, .5);
    }
}

.icon-button {

    .button-icon {
        margin: 0 !important;
    }

    // default theme
    @include button-theme($theme-text);

    // themes
    &.theme-primary {
        @include button-theme($theme-menu);
    }
    &.theme-success {
        @include button-theme($success);
    }
    &.theme-warning {
        @include button-theme($warning);
    }
    &.theme-error {
        @include button-theme($error);
    }

}