/**
 * @file LandingExamples.scss
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */
@import '../../../my-theme.scss';

#landing-examples {
    background: #fff;

    .landing-section-inner {
        padding-bottom: 0;

        .ghost-button {
            display: block;
            border: 1px solid transparentize($theme-primary, .3);
            border-radius: 25px;
            color: transparentize($theme-primary, .3);
            width: 140px;
            font-size: 14px;
            margin: 20px auto 0;
            height: 50px;

            &:last-child {
                margin-left: 20px;
            }

            &:hover {
                border-color: $theme-primary;
                background: $theme-primary;
                color: #fff;
            }
        }

        .landing-examples-demo {
            margin: 60px auto 0;
            width: 80%;
            max-width: 500px;
            overflow: hidden;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            .window-header {
                background: #484f55;
                width: 100%;
                height: 16px;
                padding: 0 4px;
                box-sizing: border-box;

                .window-header-dot {
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: #666;
                    margin: 5px 2px;
                    float: left;
                }
            }

            .landing-examples-demo-img {
                display: block;
                width: 100%;
            }
        }
    }
}
