/**
 * @file LandingIntro.scss
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */
@import '../../../my-theme.scss';

#landing-intro {
    position: relative;
    height: 100vh;
    min-height: 600px;

    .landing-section-intro-bg {
        height: 100%;
        background-color: transparentize($theme-primary, .5);
        background-image: url("../../../../images/intro-bg.jpg");
        background-size: auto 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    .landing-section-intro {
        position: absolute;
        top: 0;
        left: 0;
        display: table;
        width: 100%;
        height: 100%;
        background: transparentize($theme-primary, .25);

        .landing-section-inner {
            display: table-cell;
            vertical-align: middle;

            .logo-icon {
                display: block;
                width: 200px;
                height: 200px;
                background-image: url("../../../../../../assets/alcedo-logo.png");
                background-size: 200px 200px;
                margin: 20px auto;
            }

            .logo-text {
                width: 100%;
                text-align: center;
                color: #fff;
                font-size: 70px;
                user-select: none;
                font-weight: 300;
            }

            .slogen {
                width: 100%;
                text-align: center;
                color: transparentize(#fff, .5);
                font-size: 24px;
                user-select: none;
                font-weight: 300;
            }

            .ghost-button {
                display: block;
                border: 1px solid transparentize(#fff, .3);
                border-radius: 25px;
                color: transparentize(#fff, .3);
                width: 160px;
                font-size: 14px;
                height: 50px;
                margin: 50px auto 0;

                &:hover {
                    border-color: #fff;
                    background: #fff;
                    color: $theme-primary;
                }
            }
        }
    }
}
