/**
 * @file ScrollableTable style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.scrollable-table {

    .scrollable-table-head {
        overflow: hidden;

        .scrollable-table-head-scroller {
            overflow-x: auto;
            padding-bottom: 20px;
            margin-bottom: -20px;
        }
    }

    .scrollable-table-foot {
        overflow: hidden;

        .scrollable-table-foot-scroller {
            overflow-x: auto;
            padding-bottom: 20px;
            margin-bottom: -20px;
        }
    }

    .scrollable-table-body {
        position: relative;
        overflow: hidden;

        .scrollable-table-body-scroller {
            overflow: auto;

            .scrollable-table-body-mask {
                display: inline-block;
                overflow: hidden;
            }
        }
    }

    &.scroll-hidden {
        .scrollable-table-body-scroller {
            margin-right: -20px;
        }
    }
}
