@import '../../../../common.scss';

.brand {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 60px;
    font-size: 14px;
    line-height: 60px;
    text-align: left;
    cursor: default;
    transition: all $transition-duration ease-in-out;
    overflow: visible;
    background: $menu-light;
    color: $light-text-light;

    .menu-toggle-button {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        float: left;
        cursor: pointer;
        display: none;
        z-index: 1;
        background: $menu-light;
    }

    .brand-name {
        padding: 0 18px;
        box-sizing: border-box;
        overflow: hidden;
        height: 60px;
        line-height: 60px;

        i {
            color: $highlight-light;
        }
    }

}

.app.collapsed {
    .nav {
        .brand {
            width: 60px;

            .brand-name {
                padding: 0;
                text-align: center;
                font-weight: bold;
            }
        }
    }
}

@media (max-width: 767px) {
    .brand {
        background: $brand-light !important;
        width: 100% !important;

        .menu-toggle-button {
            display: block;
            background: $brand-light;
        }

        .brand-name {
            text-align: center;
        }
    }
}