@import '../../../../common.scss';

.theme-dark .brand {
	background: $brand-dark;
	color: $light-text-dark;

	.brand-name {
		i {
			color: $highlight-dark;
		}
	}

	.brand-collapse {
		.brand-collapse-inner {
			.menu-toggle-button {
				background: $menu-dark;
			}
		}
	}
}