@import '../../../../my-theme.scss';

.brand {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 60px;
    font-size: 14px;
    line-height: 60px;
    text-align: left;
    cursor: default;
    transition: all $theme-transition-duration ease-in-out;
    overflow: visible;
    background: $theme-primary;
    color: $theme-light-text;

    .menu-toggle-button {
        position: absolute;
        left: 10px;
        top: 10px;
        display: none;
        z-index: 1;
        line-height: 0;
        font-size: 16px;
        color: $theme-light-text;
    }

    .brand-name {
        margin-left: 18px;
        box-sizing: border-box;
        overflow: hidden;
        height: 60px;
        text-decoration: none;
        color: $theme-light-text;
        transition: color $theme-transition-duration ease-in-out;

        .brand-logo {
            display: inline-block;
            vertical-align: middle;
            border-radius: 0;
            width: 30px;
            height: 30px;
            margin: 15px 15px 15px 0;
            background-image: url("../../../../../../../assets/alcedo-logo.png");
            background-size: 30px 30px;
        }

        &:hover {
            color: #fff;
        }
    }

    .github-icon {
        position: absolute;
        right: 10px;
        top: 10px;
        display: none;
        z-index: 1;
        font-size: 20px;
        color: $theme-light-text;
    }

}

@media (max-width: 767px) {
    .brand {
        background: $theme-brand !important;
        width: 100% !important;
        text-align: center;

        .menu-toggle-button {
            display: block;
        }

        .brand-name {
            text-align: center;
            margin-left: 0;
        }

        .github-icon {
            display: block;
        }
    }
}