@import '../../../../common.scss';

.brand {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 60px;
    font-size: 14px;
    line-height: 60px;
    text-align: left;
    cursor: default;
    transition: all $transition-duration ease-in-out;
    overflow: visible;
    background: $theme-menu;
    color: $theme-light-text;

    .menu-toggle-button {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        float: left;
        cursor: pointer;
        display: none;
        z-index: 1;
        background: $theme-menu;
    }

    .brand-name {
        padding: 0 18px;
        box-sizing: border-box;
        overflow: hidden;
        height: 60px;
        line-height: 60px;

        i {
            color: $theme-highlight;
        }
    }

}

@media (max-width: 767px) {
    .brand {
        background: $theme-brand !important;
        width: 100% !important;

        .menu-toggle-button {
            display: block;
            background: $theme-brand;
        }

        .brand-name {
            text-align: center;
        }
    }
}