@import '../../../../../common.scss';

.feed-state {
	position: relative;

	& > i {
		width: 30px;
		height: 30px;
		text-align: center;
		line-height: 30px;
	}

	.status-icon {
		position: relative;

		&.fa-play {
			left: 1px;
		}

		&.fa-forward {
			left: 1px;
		}
	}

	.status-loading-icon {
		position: absolute;
		left: 0;
		top: 0;
		font-size: 24px;
	}

}

.theme-light .feed-state {

	& > i {
		color: $title-light;
	}

}

.theme-dark .feed-state {

	& > i {
		color: $title-dark;
	}

}