@import '../_common.scss';

.dialog-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: $dialog-modal-z-index;
    background: transparentize(#000, .5);

    &.hidden {
        opacity: 0 !important;
        left: -99999px !important;
        transition: left 0s $transition-duration,
        opacity $transition-duration ease-in-out;
    }
}

.dialog-wrapper {
    position: fixed;
    width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: left 0s, opacity $transition-duration ease-in-out,
    transform $transition-duration ease-in-out;
    z-index: $dialog-z-index;
    box-sizing: border-box;

    .dialog-title {
        font-size: 16px;
        height: 50px;
        line-height: 30px;
        box-sizing: border-box;
        padding: 10px 20px;
        border-bottom: 1px solid $theme-title-bg;
        box-sizing: border-box;
        text-align: center;
    }

    .dialog-content {
        width: 100%;
        height: 200px;
        padding: 20px 0 0 30px;
        box-sizing: border-box;
        background: $theme-bg;
    }

    .dialog-buttons {

        @include float-fix;

        box-sizing: border-box;
        padding: 15px 25px;
        background: $theme-bg;
        border-top: 1px solid $theme-title-bg;

        & > .base-button {
            float: right;
            margin-left: 10px;
        }
    }

    &.hidden {
        opacity: 0 !important;
        left: -99999px !important;
        transform: translate(-50%, -70%);
        transition: left 0s $transition-duration,
        opacity $transition-duration ease-in-out,
        transform $transition-duration ease-in-out;
    }

}