/**
 * @file DialogBody style
 * @author chao(chao.zhang@derbysoft.com)
 */

.dialog-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: $dialog-modal-z-index;
    background: transparentize(#000, .5);

    &.hidden {
        opacity: 0 !important;
        left: -99999px !important;
        transition: left 0s $transition-duration,
        opacity $transition-duration ease-in-out;
    }
}

.dialog-wrapper {
    position: fixed;
    width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: left 0s, opacity $transition-duration ease-in-out,
    transform $transition-duration ease-in-out;
    z-index: $dialog-z-index;
    box-sizing: border-box;
    overflow: hidden;
    color: $theme-text;

    .dialog-title {
        position: relative;
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        padding: 5px 20px;
        border-bottom: 1px solid $theme-title-bg;
        text-align: left;
        color: inherit;

        .dialog-title-close-button {
            position: absolute;
            right: 5px;
            top: 5px;
            font-size: 18px;
            vertical-align: middle;
            color: inherit;

            &:hover {
                color: $error;
            }
        }
    }

    .dialog-content {
        width: 100%;
        height: 200px;
        box-sizing: border-box;
        background: $theme-bg;
        padding: 30px;
    }

    .dialog-buttons {

        @include float-fix;

        box-sizing: border-box;
        padding: 15px 25px;
        background: $theme-bg;
        border-top: 1px solid $theme-title-bg;

        & > .base-button {
            float: right;
            margin-left: 10px;
        }
    }

    &.hidden {
        opacity: 0 !important;
        left: -99999px !important;
        transform: translate(-50%, -70%);
        transition: left 0s $transition-duration,
        opacity $transition-duration ease-in-out,
        transform $transition-duration ease-in-out;
    }

}