.circular-progress-examples {
    .example-content {
        overflow: hidden;

        & > div {
            float: left;
            margin-top: 10px;
            margin-left: 50px;
        }
    }
}


