/**
 * @file CircularProgress style
 */
.circular-progress {
    position: relative;
    .circular-progress-svg {
        width: 100%;
        height: 100%;
        > circle {
            transition: all 0.3s linear 0ms;
            transform: rotate(270deg);
            transform-origin: 50% 50%;
            stroke: $theme-highlight;
        }
    }
    .circular-progress-percent {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $theme-field;
    }
}
