/**
 * @file PaginationPage style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.pagination-page {
    @include float-fix;
    float: left;

    .ctrl,
    .page,
    .apostrophe {
        float: left;
        padding: 0;
        width: 40px;
        margin-left: -5px;
        margin-right: -5px;
    }

    .ctrl {
        line-height: 30px;

        .button-icon-left {
            margin: 0;
        }
    }

    .pages {
        float: left;

        .page {
            border-radius: 20px;

            &:hover {
                background: transparent;
            }

            &:first-child {
                margin-left: 0;
            }

            &[disabled] {
                cursor: default;
            }
        }
    }

    .apostrophe {
        text-align: center;
        float: left;
        margin-right: -10px;
    }
}
