/**
 * @file DatePicker style
 * @author sunday(sunday.wei@derbysoft.com)
 */
.date-field {

    width: 300px;
    border: 1px solid #dfdfdf;

    .calendar {
        user-select: none;
        .calendar-header {
            width: 100%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 14px;
            border-bottom: 1px solid #dfdfdf;
            span {
                margin: 0 20px;
                cursor: pointer;
            }
            i {
                cursor: pointer;
                width: 20px;
                height: 18px;
                font-size: 22px;
                position: relative;
                overflow: hidden;
                color: #c5c9ce;
            }
            //span:hover, i:hover {
            //    background: #ecf6fd;
            //    border-radius: 4px;
            //}
        }
        .calendar-body {
            padding-bottom: 5px;
            ul {
                list-style-type: none;
                margin: 0;
                padding: 10px;
            }
            .c-body-head {
                overflow: hidden;
                li {
                    width: 14%;
                    height: 14px;
                    float: left;
                    text-align: center;
                }
            }
            .c-body-content {
                width: 100%;
                .content-row {
                    width: 100%;
                    height: 30px;
                    overflow: hidden;
                    padding: 0 10px;
                    box-sizing: border-box;
                    li {
                        height: 30px;
                        width: 14%;
                        float: left;
                        text-align: center;
                        overflow: hidden;
                        a {
                            display: inline-block;
                            width: 30px;
                            height: 30px;
                            line-height: 30px;
                            text-decoration: none;
                            text-align: center;
                            position: relative;
                        }
                    }
                    li.current-days {
                        cursor: pointer;
                        a {
                            color: $theme-field;
                            background: $theme-field-bg;
                            border-radius: 50%;
                            overflow: hidden;
                        }
                        &:hover {
                            a {
                                background: $theme-field-bg-active;
                                color: $theme-field-hover;
                            }
                        }
                        &.active {
                            a {
                                border-radius: 50%;
                                background: $theme-highlight;
                                color: #fff;
                            }
                            &:hover {
                                a {
                                    background: theme-color-hover($theme-highlight);
                                }
                            }

                        }
                    }
                    li.item-gray {
                        a {
                            color: $theme-field-disabled;
                            cursor: not-allowed;
                        }
                    }
                }

            }
        }
        .calendar-month-body, .calendar-year-body {
            border: none;
            .c-body-content {
                width: 100%;
                padding-top: 14px;
                .month, .year {
                    height: 60px;
                    li {
                        height: 60px;
                        width: 33.2%;
                        text-align: center;
                        a {
                            display: inline-block;
                            width: 40px;
                            height: 40px;
                            color: $theme-field;
                            background: $theme-field-bg;
                            line-height: 40px;
                            margin-top: 5px;
                            border-radius: 50%;
                            overflow: hidden;
                        }
                        &.current-months,
                        &.current-years {
                            &:hover {
                                a {
                                    background: $theme-field-bg-active;
                                    color: $theme-field-hover;
                                }
                            }
                            &.active {
                                a {
                                    background: $theme-highlight;
                                    color: #fff;
                                }
                                &:hover {
                                    a {
                                        background: theme-color-hover($theme-highlight);
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .calendar-footer {
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-top: 1px solid #dfdfdf;
        a {
            text-decoration: none;
            color: $theme-field;
            position: relative;
            overflow: hidden;
            .item-gray {
                color: $theme-field-disabled;
                cursor: not-allowed;
            }
        }
        .today-button {
            width: auto;
            height: 30px;
        }

    }
}
