/**
 * @file DatePicker style
 * @author sunday(sunday.wei@derbysoft.com)
 */
.date-field {

    width: 300px;
    border: 1px solid #dfdfdf;

    .calendar-footer {
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-top: 1px solid #dfdfdf;

        .date-text {
            text-decoration: none;
            color: $theme-field;
            position: relative;
            overflow: hidden;

            .item-gray {
                color: $theme-field-disabled;
                cursor: not-allowed;
            }
        }

        .today-button {
            width: auto;
            height: 30px;
        }

    }
}
