@import '../_common.scss';


.text-area{
    border-radius: 4px;
    max-width: 100%;
    //transition: border-color .3s;
    cursor: text;
    font-size: 12px;
    line-height: 1.5;
    color: #4c637b;
    padding: 4px 7px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #e3eaf3;
    &:hover{
    }
    &.area-focus{
        border: solid 1px #758697;
    }
}
