@import '../_common.scss';

.cascader {
    position: relative;
    width: 260px;
    height: 50px;

    .cascader-trigger {
        width: 100%;
        height: 100%;
        text-align: left;

        .cascader-trigger-icon {

            float: right;
            margin: 0;
            color: inherit;
            transition: all 250ms ease-in-out;

        }

        &.activated {
            @include shadow(4);

            .cascader-trigger-icon {
                transform: rotate(180deg);
            }

            &.above {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                z-index: $popup-z-index + 1;
            }

            &.blow {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

    }
}

.cascader-popup {
    box-sizing: border-box;
    margin: 0;
    background: transparent;
    box-shadow: none !important;
    overflow: visible;
    border: none !important;
    border-radius: 0 !important;

    .popup-content {
        @include float-fix;
        overflow: visible;
        background: transparent;

        .cascader-list {
            float: left;
        }

        .cascader-popup-list {
            @include shadow(4);
            position: relative;
            float: left;
            //border: 1px solid $theme-title-bg;
            box-sizing: border-box;
            height: 300px;
            overflow-y: auto;
            overflow-x: hidden;

            .list-item-checked {
                display: none;
            }
        }
    }

    &.above {

        .popup-content > .cascader-list {
            border-bottom: 1px solid $theme-title-bg;
        }

        .cascader-popup-list {

            &.first {
                border-top-left-radius: $border-radius;
            }

            &.last {
                border-top-right-radius: $border-radius;
            }
        }
    }

    &.blow {

        .popup-content > .cascader-list {
            border-top: 1px solid $theme-title-bg;
        }

        .cascader-popup-list {

            &.first {
                border-bottom-left-radius: $border-radius;
            }

            &.last {
                border-bottom-right-radius: $border-radius;
            }
        }
    }
}