/**
 * @file DraggableListItem style
 */

@mixin draggable-list-item-theme($color, $bg-color) {
    color: $color;
    background-color: $bg-color;

    &:hover {
        color: theme-color-hover($color);
        background-color: theme-color-hover($bg-color);
    }

    &:active {
        color: theme-color-active($color);
        background-color: theme-color-active($bg-color);
    }
}

@mixin draggable-list-item-readonly {
    cursor: default;
    color: $theme-field;
    background: $theme-field-bg;
}

@mixin draggable-list-item-disabled {
    cursor: not-allowed;
    color: $theme-field-disabled;
    background-color: $theme-field-bg-disabled;
}

.draggable-list-item {
    display: block;
    width: 100%;
    height: 40px;
    position: relative;
    line-height: 40px;
    border: none;
    transition: all $theme-transition-duration ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 15px;
    font-size: 12px;
    text-align: left;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $theme-field;
    background-color: $theme-field-bg;

    .draggable-list-item-select {
        display: inline-block;
        width: 16px;
        height: 40px;
        margin-right: 10px;
        float: left;
        overflow: hidden;
    }

    .button-icon {
        width: 16px;
        line-height: inherit;
        text-align: center;
        font-size: inherit;
        color: inherit;

        &.button-icon-left {
            float: left;
            margin-right: 15px;
        }

        &.button-icon-right {
            float: right;
            margin-left: 15px;
        }

        .circular-loading {
            margin-right: 10px;
        }
    }

    .draggable-list-item-content {
        display: inline-block;
        vertical-align: middle;
        padding: 6px 0;

        .draggable-list-item-content-value {
            line-height: 14px;
        }

        .draggable-list-item-content-desc {
            line-height: 14px;
            opacity: .5;
        }
    }

    .draggable-list-item-anchor {
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        color: $theme-secondary;
        cursor: move;
    }

    &.dragging {
        opacity: .1;
    }

    &.draggable {
        cursor: move;
    }

    &[readonly] {
        @include draggable-list-item-readonly;

        &:hover,
        &:active {
            @include draggable-list-item-readonly;
        }
    }

    &[disabled] {
        @include draggable-list-item-disabled;

        &:hover,
        &:active {
            @include draggable-list-item-disabled;
        }
    }

    &:hover {
        background-color: theme-color-hover($theme-secondary);
    }

    &:active {
        background-color: theme-color-active($theme-field-bg);
    }

    // default theme
    //@include draggable-list-item-theme($theme-field, $theme-field-bg);

    // other themes
    &.theme-primary {
        @include draggable-list-item-theme($theme-secondary, $theme-primary);
    }
    &.theme-secondary {
        @include draggable-list-item-theme($theme-primary, $theme-secondary);
    }
    &.theme-highlight {
        @include draggable-list-item-theme(#fff, $theme-highlight);
    }
    &.theme-info {
        @include draggable-list-item-theme(#fff, $theme-info);
    }
    &.theme-success {
        @include draggable-list-item-theme(#fff, $theme-success);
    }
    &.theme-warning {
        @include draggable-list-item-theme(#fff, $theme-warning);
    }
    &.theme-error {
        @include draggable-list-item-theme(#fff, $theme-error);
    }
}
