/**
 * @file TimePicker style
 * @author sunday(sunday.wei@derbysoft.com)
 */

.time-picker {
    position: relative;
    width: 240px;
    height: 40px;
    .wrapper {
        height: 100%;
        .time-picker-field {

            @include shadow(1);

            width: 100%;
            height: 100%;
            border-radius: $theme-border-radius;

            input {
                line-height: 20px;
                padding: 10px 40px !important;
                cursor: pointer;
            }

            i {
                width: 40px !important;
                height: 40px;
                font-size: 16px;
                text-align: center;
                line-height: 40px;

                &.text-field-icon {
                    margin: 0 0 0 3px;
                }

            }
            .clear-icon {
                display: none;
            }

            &.empty {
                input {
                    padding: 10px 20px 10px 43px !important;
                }
            }
        }

        .time-picker-popup {

            @include shadow(3);

            position: absolute;
            top: 0;
            left: 0;
            width: 300px;
            height: 300px;
            overflow: hidden;
            background: #FFF;
            border-radius: $theme-border-radius;
            border: 1px solid #dfdfdf;
            z-index: $popup-z-index;
            transition: all $transition-duration ease-in-out;
            &.hidden {
                width: 100%;
                height: 100%;
                opacity: 0;
                z-index: -1;
                visibility: hidden;
            }
            .popup-text-field {
                height: 40px;
                border: none;
                border-bottom: 1px solid #dfdfdf;
                input {
                    padding: 0 0 0 16px;
                }
                i {
                    height: 40px;
                    line-height: 40px;
                }
                .clear-icon {
                    margin: 0;
                }
            }
            .timeItems {
                width: 100px;
                height: 260px;
                padding-bottom: 230px;
                float: left;
                overflow: hidden;
                box-sizing: border-box;
                border-left: 1px solid #dfdfdf;
                user-select: none;
                transition: all $transition-duration ease-in-out;
                &:first-child {
                    border: none;
                }
                .timeList {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    transform: translateY(0);
                    transition: all $transition-duration ease-in-out;
                    li {
                        list-style-type: none;
                        height: 30px;
                        width: 100%;
                        padding-left: 45%;
                        line-height: 30px;
                        cursor: pointer;
                        &:hover {
                            background: $theme-field-bg-hover;
                        }
                        &.active {
                            background: $theme-field-bg-active;
                            color: $theme-field;
                            font-weight: 600;
                        }
                        &.disabled {
                            color: $theme-field-disabled;
                            cursor: not-allowed;
                        }
                    }
                }
            }
        }
    }
}