/**
 * @file TimePicker style
 * @author sunday(sunday.wei@derbysoft.com)
 */

input::-ms-clear {
    display: none;
}

.time-picker {
    position: relative;
    width: 300px;
    display: inline-block;
    .wrapper {
        height: 100%;
        .time-picker-field {

            @include shadow(1);

            width: 100%;
            border-radius: $theme-border-radius;
            &.focused{
                border: 1px solid $theme-border;
                @include shadow(1);
            }
            input {
                cursor: pointer;
            }
            .icon-button {
                z-index: 0;
            }
        }
    }
}

.popup {
    &.time-picker-popup {

        @include shadow(3);
        width: 300px;
        height: 260px;


        &.hidden {
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: -1;
            visibility: hidden;
        }
        .popup-content{
            overflow: hidden;
            .popup-text-field {
                height: 40px;
                border: none;
                border-bottom: 1px solid #dfdfdf;
                input {
                    padding: 0 0 0 16px;
                }
                i {
                    height: 40px;
                    line-height: 40px;
                }
                .clear-icon {
                    margin: 0;
                }
            }
            .calendar{
                overflow: hidden;
                .time-items {
                    height: 260px;
                    padding-bottom: 230px;
                    float: left;
                    overflow-y: auto;
                    box-sizing: border-box;
                    border-left: 1px solid #dfdfdf;
                    user-select: none;
                    transition: all $theme-transition-duration ease-in-out;
                    &:first-child {
                        border: none;
                    }
                    &.hours{
                        .time-list{
                            height: 720px;
                        }
                    }
                    .time-list {
                        width: 100%;
                        height: 1800px;
                        margin: 0;
                        padding: 0;
                        overflow: hidden;
                        li {
                            list-style-type: none;
                            height: 30px;
                            width: 100%;
                            padding-left: 45%;
                            line-height: 30px;
                            box-sizing: border-box;
                            cursor: pointer;
                            &:hover {
                                background: $theme-field-bg-hover;
                            }
                            &.active {
                                background: $theme-field-bg-active;
                                color: $theme-field;
                                font-weight: 600;
                            }
                            &.disabled {
                                color: $theme-field-disabled;
                                cursor: not-allowed;
                            }
                        }
                    }
                }
            }

        }

    }
}