/**
 * @file TimePicker style
 * @author sunday(sunday.wei@derbysoft.com)
 */

input::-ms-clear {
    display: none;
}

.time-picker {
    position: relative;
    width: 300px;
    display: inline-block;
    .wrapper {
        height: 100%;
        .time-picker-field {

            @include shadow(1);

            width: 100%;
            border-radius: $theme-border-radius;
            &.focused{
                border: 1px solid $theme-border;
                @include shadow(1);
            }
            input {
                cursor: pointer;
            }
            .icon-button {
                z-index: 0;
            }
        }
    }
}

.popup {
    &.time-picker-popup {

        @include shadow(3);
        width: 300px;
        height: 260px;


        &.hidden {
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: -1;
            visibility: hidden;
        }
        .popup-content{
            overflow: hidden;
            .popup-text-field {
                height: 40px;
                border: none;
                border-bottom: 1px solid #dfdfdf;
                input {
                    padding: 0 0 0 16px;
                }
                i {
                    height: 40px;
                    line-height: 40px;
                }
                .clear-icon {
                    margin: 0;
                }
            }

        }

    }
}