/**
 * @file MaterialTimePicker style
 * @author sunday(sunday.wei@derbysoft.com)
 */

input::-ms-clear {
    display: none;
}

.material-time-picker {
    position: relative;
    display: inline-block;
    width: 300px;

    .wrapper {
        height: 100%;

        .time-picker-field {

            @include shadow(1);

            width: 100%;
            height: 100%;
            border-radius: $theme-border-radius;

            &.focused {
                border: 1px solid $theme-border;
                @include shadow(1);
            }

            input {
                line-height: 20px;
                padding: 10px 40px !important;
                cursor: pointer;
            }

            i {
                width: 40px !important;
                height: 40px;
                font-size: 16px;
                text-align: center;
                line-height: 40px;

                &.text-field-icon {
                    margin: 0 0 0 3px;
                }

            }

            .clear-icon {
                display: none;
            }

            &.empty {
                input {
                    padding: 10px 20px 10px 43px !important;
                }
            }
        }
    }
}

.popup {
    &.material-time-picker-popup {

        @include shadow(3);
        width: 300px;
        height: 260px;
        margin-top: 1px;

        &.hidden {
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: -1;
            visibility: hidden;
        }

        .popup-text-field {
            height: 40px;
            border: none;
            border-bottom: 1px solid #dfdfdf;

            input {
                padding: 0 0 0 16px;
            }

            i {
                height: 40px;
                line-height: 40px;
            }

            .clear-icon {
                margin: 0;
            }
        }

        .time-items {
            width: 100px;
            height: 260px;
            padding-bottom: 230px;
            float: left;
            overflow-y: auto;
            box-sizing: border-box;
            border-left: 1px solid #dfdfdf;
            user-select: none;
            transition: all $theme-transition-duration ease-in-out;

            &:first-child {
                border: none;
            }

            &.hours {
                .time-list {
                    height: 720px;
                }
            }
        }
    }
}