/**
 * @file BriefPagging style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.brief-pagging {
    @include float-fix;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 5px 5px 5px 15px;
    user-select: none;
    cursor: default;
    background: $theme-field-bg;
    border-top: 1px solid $theme-border;

    .brief-pagging-left {
        float: left;
        line-height: 40px;

        .brief-pagging-selected,
        .brief-pagging-total {
            float: left;
            margin-right: 20px;
        }
    }

    .brief-pagging-right {
        float: right;
        line-height: 40px;

        .pagging-size {
            float: left;
        }

        .brief-pagging-info {
            float: left;
            margin: 0 10px;
        }
    }
}