@import '../_common.scss';

.brief-pagging {
    width: 100%;
    height: 40px;
    line-height: 40px;
    user-select: none;

    .pagging-size {
        float: right;

        .dropdown-select-trigger {
            box-shadow: none;

            &.activated {
                @include shadow(4);
            }
        }
    }
}