/**
 * @file RaisedButton style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

@mixin raised-button-theme($color, $bg-color) {
    background: $bg-color;
    color: $color;

    .button-icon {
        color: inherit;
    }

    .circular-loading .spinner {
        border-color: inherit;
    }

    &:hover {
        background: darken($bg-color, 4%);
    }

    &:active {
        background: darken($bg-color, 8%);
    }

    &[disabled] {
        color: transparentize($color, .5);
        background: darken($bg-color, 8%);
    }
}

.raised-button {

    @include shadow(1);

    &:hover {
        @include shadow(3);
    }

    &:active {
        @include shadow(2);
    }

    &[disabled] {
        box-shadow: none !important;
    }

    // default theme
    @include raised-button-theme($theme-field, $theme-field-bg);

    // other themes
    &.theme-primary {
        @include raised-button-theme(#fff, $theme-primary);
    }
    &.theme-highlight {
        @include raised-button-theme(#fff, $theme-highlight);
    }
    &.theme-success {
        @include raised-button-theme(#fff, $theme-success);
    }
    &.theme-warning {
        @include raised-button-theme(#fff, $theme-warning);
    }
    &.theme-error {
        @include raised-button-theme(#fff, $theme-error);
    }

}