/**
 * @file RaisedButton style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

@mixin raised-button-disabled-style {
    box-shadow: none;
    color: $theme-field-disabled;
    background-color: $theme-field-bg-disabled;
    border-color: $theme-border-disabled;
}

@mixin raised-button-disabled {
    @include raised-button-disabled-style;

    &:hover,
    &:active {
        @include raised-button-disabled-style;
    }
}

@mixin raised-button-theme($color, $bg-color, $border-color) {
    color: $color;
    background-color: $bg-color;
    border-color: $border-color;

    &:hover {
        color: theme-color-hover($color);
        background-color: theme-color-hover($bg-color);
        border-color: theme-color-hover($border-color);
    }

    &:active {
        color: theme-color-active($color);
        background-color: theme-color-active($bg-color);
        border-color: theme-color-active($border-color);
    }

    &[disabled] {
        @include raised-button-disabled
    }
}

.raised-button {
    @include shadow(1);
    border-style: solid;
    border-width: 1px;

    &:hover {
        @include shadow(2);
    }

    &:active {
        @include shadow(1);
    }

    &[disabled] {
        @include raised-button-disabled
    }

    // default theme
    @include raised-button-theme($theme-field, $theme-field-bg, $theme-border);

    // other themes
    &.theme-primary {
        @include raised-button-theme($theme-secondary, $theme-primary, $theme-primary);
    }
    &.theme-secondary {
        @include raised-button-theme($theme-primary, $theme-secondary, $theme-secondary);
    }
    &.theme-highlight {
        @include raised-button-theme(#fff, $theme-highlight, $theme-highlight);
    }
    &.theme-info {
        @include raised-button-theme(#fff, $theme-info, $theme-info);
    }
    &.theme-success {
        @include raised-button-theme(#fff, $theme-success, $theme-success);
    }
    &.theme-warning {
        @include raised-button-theme(#fff, $theme-warning, $theme-warning);
    }
    &.theme-error {
        @include raised-button-theme(#fff, $theme-error, $theme-error);
    }

}