/**
 * @file Switcher style
 */

@mixin switcher-theme($color) {
    background-color: $color;

    &.activated {
        border-color: $color;
    }

    &[disabled] {
        background-color: lighten(grayscale($color), 50%);
    }
}

.switcher {
    box-sizing: border-box;
    width: 50px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        background-color: $theme-field-bg;
        border: 2px solid $theme-border;
        border-radius: 30px;
        transition: all $theme-transition-duration ease-in-out;
    }

    .switcher-label {

        &::before {
            content: '';
            position: absolute;
            left: 12px;
            top: 10px;
            width: 0;
            height: 10px;
            border: none;
            border-right: 1px solid #fff;
        }

        &::after {
            content: '';
            position: absolute;
            right: 7px;
            top: 10px;
            box-sizing: border-box;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid $theme-border;
        }
    }

    .icon-button.switcher-slider-wrapper {
        width: 50px;
        height: 50px;
        padding: 10px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-10px, -10px);
        transition: transform $theme-transition-duration ease-in-out;

        .switcher-slider {
            @include shadow(2);
            box-sizing: border-box;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: $theme-field-bg;
            border: 1px solid $theme-border;
            line-height: 26px;

            .circular-loading {
                width: 14px;
                height: 14px;
                margin: 6px;
            }
        }
    }

    &.activated {

        &::before {
            top: 50%;
            right: 5px;
            bottom: 50%;
            left: 50%;
            border-width: 0;
            border-radius: 5px;
        }

        .icon-button.switcher-slider-wrapper {
            padding: 11px;
            transform: translate(10px, -10px);

            .switcher-slider {
                width: 28px;
                height: 28px;
                border-color: transparent;
            }
        }
    }

    &[disabled] {
        cursor: not-allowed;

        &::before {
            cursor: not-allowed;
            border-color: $theme-border-disabled;
            background-color: $theme-field-bg-disabled;
        }

        .icon-button.switcher-slider-wrapper {
            cursor: not-allowed;

            .switcher-slider {
                box-shadow: none;
                background-color: $theme-field-bg-disabled;
                border-color: $theme-border-disabled;
            }
        }
    }

    &.small {
        width: 40px;
        height: 24px;
        border-radius: 12px;

        .switcher-label {

            &::before {
                left: 10px;
                top: 8px;
                height: 8px;
            }

            &::after {
                right: 6px;
                top: 8px;
                width: 8px;
                height: 8px;
            }
        }

        .icon-button.switcher-slider-wrapper {
            width: 40px;
            height: 40px;
            padding: 8px;
            transform: translate(-8px, -8px);

            .switcher-slider {
                width: 24px;
                height: 24px;

                .circular-loading {
                    width: 12px;
                    height: 12px;
                    margin: 5px;
                }
            }
        }

        &.activated {
            .icon-button.switcher-slider-wrapper {
                padding: 9px;
                transform: translate(8px, -8px);

                .switcher-slider {
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }

    // default theme
    @include switcher-theme($theme-primary);

    // other themes
    &.theme-primary {
        @include switcher-theme($theme-primary);
    }
    &.theme-secondary {
        @include switcher-theme($theme-secondary);
    }
    &.theme-highlight {
        @include switcher-theme($theme-highlight);
    }
    &.theme-info {
        @include switcher-theme($theme-info);
    }
    &.theme-success {
        @include switcher-theme($theme-success);
    }
    &.theme-warning {
        @include switcher-theme($theme-warning);
    }
    &.theme-error {
        @include switcher-theme($theme-error);
    }

}
