/**
 * @file Switcher style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.switcher {
    box-sizing: border-box;
    width: 50px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    border: 2px solid $theme-border;
    background-color: $theme-field-bg;
    transition: background-color $transition-duration ease-in-out,
    background-color $transition-duration ease-in-out;

    .switcher-slider-wrapper {
        width: 50px !important;
        height: 50px !important;
        padding: 11px !important;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-12px, -12px);
        transition: transform $transition-duration ease-in-out;

        .switcher-slider {
            @include shadow(2);
            box-sizing: border-box;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background: $theme-field-bg;
            border: 1px solid $theme-border;
            line-height: 30px;

            .switcher-loading {
                width: 20px;
                height: 20px;
                line-height: 20px;
                font-size: 14px;
                cursor: default;
                margin: 0;
                color: lighten($theme-field, 20%);
            }
        }
    }

    &.activated {
        border-color: $theme-highlight;
        background-color: $theme-highlight;

        .switcher-slider-wrapper {
            transform: translate(8px, -12px);

            .switcher-slider {
                border-color: transparent;
            }
        }
    }

    &[disabled] {
        background-color: $theme-field-bg-disabled;
        border-color: $theme-border-disabled;
        cursor: not-allowed;

        .switcher-slider-wrapper {
            .switcher-slider {
                box-shadow: none;
                background-color: $theme-field-bg-disabled;
                border-color: $theme-border-disabled;
            }
        }
    }

    &.small {
        width: 40px;
        height: 24px;
        border-radius: 12px;

        .switcher-slider-wrapper {
            width: 40px;
            height: 40px;
            padding: 9px;
            transform: translate(-12px, -15px);

            .switcher-slider {
                width: 22px;
                height: 22px;

                .switcher-loading {
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                }
            }
        }

        &.activated {
            .switcher-slider-wrapper {
                transform: translate(4px, -15px);
            }
        }
    }

}