/**
 * @file SubtreeContainer style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */
@import '../_common.scss';

.subtree-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    overflow: visible;
}