/**
 * @file ButtonRadio style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.raised-button.button-radio {
    border-radius: 0;
    border-right: none;

    &:first-child {
        border-top-left-radius: $theme-border-radius;
        border-bottom-left-radius: $theme-border-radius;
    }

    &:last-child {
        border-top-right-radius: $theme-border-radius;
        border-bottom-right-radius: $theme-border-radius;
        border-right: 1px solid $theme-border;
    }
}