@import '../../../../my-theme.scss';

.button-checkbox-examples {

    label {
        margin-right: 10px;
    }

    .base-button {
        margin: 0 10px 10px 0;
    }

    .field-group {
        @include float-fix;
        float: none;
    }
}