/**
 * @file DraggableTree style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.draggable-tree {
    width: 100%;
    background: $theme-field-bg;
    overflow-x: hidden;
    overflow-y: auto;
}