/**
 * @file Notification style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.notification {
    @include shadow(3);
    position: relative;
    display: block;
    width: 240px;
    height: auto;
    padding: 15px 15px 15px 50px;
    margin-top: 10px;
    opacity: .9;
    box-sizing: border-box;
    transition: opacity $transition-duration ease-in-out;

    .notification-icon {
        position: absolute;
        left: 5px;
        top: 50%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        transform: translateY(-50%);
    }

    .notification-title {
        line-height: 20px;
        opacity: .6;
        text-align: left;
    }

    .notification-message-wrapper {
        width: 175px;

        .notification-message {
            width: 175px;
            text-align: left;
            font-size: 14px;
            word-wrap: break-word;
            white-space: normal;
        }
    }

    &:hover {
        opacity: 1 !important;
    }

    &.hidden {
        opacity: 0 !important;
    }

    &.leave {
        margin-top: 0 !important;
        height: 0 !important;
        transition: opacity 1s ease-in-out, height $transition-duration ease-in-out 1s,
        margin-top $transition-duration ease-in-out 1s;
    }

}