/**
 * @file Notification style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

@mixin notification-theme($color, $bg-color, $border-color) {
    color: $color;
    background-color: $bg-color;
    border-color: $border-color;
}

.notification {
    @include shadow(3);
    position: relative;
    display: block;
    width: 360px;
    height: auto;
    padding: 15px 15px 15px 50px;
    margin-top: 10px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-radius: $theme-border-radius;
    transition: opacity $transition-duration ease-in-out;

    .notification-icon,
    .notification-close-button {
        position: absolute;
        top: 5px;
        text-align: center;
        color: inherit;

        &.notification-icon {
            width: 40px;
            height: 40px;
            line-height: 40px;
            left: 5px;
            font-size: 20px;
        }

        &.notification-close-button {
            width: 30px;
            height: 30px;
            line-height: 30px;
            right: 5px;
        }
    }

    .notification-title {
        line-height: 20px;
        opacity: .6;
        text-align: left;
    }

    .notification-message {
        text-align: left;
        font-size: 14px;
        word-wrap: break-word;
        white-space: normal;
    }

    &.hidden {
        opacity: 0 !important;
    }

    &.leave {
        margin-top: 0 !important;
        height: 0 !important;
        transition: opacity $transition-duration ease-in-out,
        height $transition-duration ease-in-out $transition-duration,
        margin-top $transition-duration ease-in-out $transition-duration;
    }

    // default theme
    @include notification-theme($theme-field, $theme-field-bg, $theme-border);

    // other themes
    &.theme-info {
        @include notification-theme(#fff, $theme-info, $theme-info);
    }
    &.theme-success {
        @include notification-theme(#fff, $theme-success, $theme-success);
    }
    &.theme-warning {
        @include notification-theme(#fff, $theme-warning, $theme-warning);
    }
    &.theme-error {
        @include notification-theme(#fff, $theme-error, $theme-error);
    }

}