/**
 * @file LandingNavItem.scss
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */
@import '../../my-theme.scss';

.landing-nav-menu-item {
    display: inline-block;
    width: 100px;
    line-height: 80px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: transparentize(#fff, .5);
    font-weight: 300;
    cursor: pointer;
    transition: color $theme-transition-duration ease-in-out;
    user-select: none;

    &.activated {
        color: transparentize(#fff, .2);
        font-weight: 400;
    }

    &:hover {
        color: transparentize(#fff, .2);
    }
}
