/**
 * @file FlatButton style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

@mixin flat-button-disabled {
    color: $theme-field-disabled;
    background: transparent;
}

@mixin flat-button-theme($color) {
    color: $color;

    &[disabled] {
        @include flat-button-disabled;
    }
}

.flat-button {
    background: transparent;
    border: none;

    &:hover {
        background: $theme-secondary;
    }

    &[disabled] {
        @include flat-button-disabled;
    }

    // default theme
    @include flat-button-theme($theme-field);

    // themes
    &.theme-primary {
        @include flat-button-theme($theme-primary);
    }
    &.theme-secondary {
        @include flat-button-theme($theme-secondary);
    }
    &.theme-highlight {
        @include flat-button-theme($theme-highlight);
    }
    &.theme-info {
        @include flat-button-theme($theme-info);
    }
    &.theme-success {
        @include flat-button-theme($theme-success);
    }
    &.theme-warning {
        @include flat-button-theme($theme-warning);
    }
    &.theme-error {
        @include flat-button-theme($theme-error);
    }

}