@import '../_common.scss';

.cascader {
    position: relative;
    width: 260px;
    height: 50px;

    .cascader-trigger {
        width: 100%;
        height: 100%;
        text-align: left;

        .cascader-trigger-icon {

            float: right;
            margin: 0;
            color: inherit;
            transition: all 250ms ease-in-out;

        }

        &.activated {
            @include shadow(4);

            .cascader-trigger-icon {
                transform: rotate(180deg);
            }
        }

    }
}

.cascader-popup {
    box-sizing: border-box;
    height: 280px;
    margin: 0;
    background: transparent;
    box-shadow: none!important;
    overflow: visible;

    .popup-content {
        @include float-fix;
        overflow: visible;

        & > .cascader-list {
            width: 99999px;
        }

        .cascader-list {
            float: left;
        }

        .cascader-popup-list{
            @include shadow(4);
            float: left;
            border:1px solid $theme-title-bg;
            box-sizing: border-box;
            height:300px;
            overflow-y: hidden;
            overflow-x: hidden;
        }
    }

    &.above {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom: 1px solid $theme-title-bg;
    }

    &.blow {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top: 1px solid $theme-title-bg;
    }
}