.page-loading-examples {

    .example-content {
        position: relative;
        padding-left: 0;

        > p {
            margin-left: 30px;
        }

        .raised-button {
            margin-left: 30px;
        }
    }
}