/**
 * @file DotStep style
 */

.dot-step {
    position: relative;
    width: 300px;
    height: 16px;
    overflow: hidden;

    .dot-step-value {
        float: left;
    }

    .dot-step-menu {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
    }
}
