@import '../../common.scss';

.popup {
	position: absolute;
	width: 200px;
	border-radius: $border-radius;
	transform: rotate(0deg);
	transition: right 0s, height $transition-duration ease-in-out, opacity $transition-duration ease-in-out;
	z-index: $popup-z-index;

	.triangle {
		width: 0;
		height: 0;
		position: absolute;
		left: 6px;
		top: -6px;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		z-index: 1;
	}

	.content {

		@include shadow(4);

		width: 100%;
		overflow: hidden;
		border-radius: $border-radius;
		transform: rotate(0deg);
		transition: all $transition-duration ease-in-out;
	}

	&.hidden {
		opacity: 0 !important;
		height: 0 !important;
		right: -99999px !important;
		transition: right 0s $transition-duration, height $transition-duration ease-in-out, opacity $transition-duration ease-in-out;

		.content {
			height: 0 !important;
		}
	}

}

.theme-light .popup {

	.triangle {
		border-bottom: 6px solid $popup-light;
	}

	.content {
		background: $popup-light;
	}

	&[disabled] {
		.triangle {
			border-bottom: 6px solid lighten($popup-light, 40%);
		}
	}

}

.theme-dark .popup {

	.triangle {
		border-bottom: 6px solid $popup-dark;
	}

	.content {
		background: $popup-dark;
	}

	&[disabled] {
		.triangle {
			border-bottom: 6px solid lighten($popup-dark, 40%);
		}
	}

}