/**
 * @file Tr style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.table tr {
    box-sizing: border-box;

    &.expanded-children-row {
        .expanded-children-column {
            padding: 15px 32px;
        }
    }

    &.expanded .collapse-button .button-icon {
        transform: rotate(90deg);
    }

    &:hover {
        background: theme-color-hover($theme-secondary);

        td.empty {
            background: $theme-field-bg;
        }
    }

    &[disabled] {
        color: $theme-field-disabled;
        background: $theme-field-bg-disabled;

        td {
            cursor: not-allowed;
        }
    }
}
