/**
 * @file ScrollTable style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.scroll-table-head,
.scroll-table-foot {
    overflow-x: scroll;
    overflow-y: hidden;
    background: $theme-field-bg-disabled;
}

.scroll-table-body {
    position: relative;
    overflow: auto;

    &.has-head .base-table tbody tr:nth-child(2) td {
        border-top: none;
    }

    &.has-foot .base-table tbody tr:last-child td {
        border-bottom: none;
    }
}
