/**
 * @file ScrollTable style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.scroll-table {

    .scroll-table-head,
    .scroll-table-foot {
        overflow: hidden;
    }

    .scroll-table-body {
        position: relative;
        overflow: hidden;

        .scroll-table-body-scroller {
            overflow: auto;

            .scroll-table-body-mask {
                display: inline-block;
                vertical-align: top;

                &.mask-vertical {
                    overflow-y: hidden;
                }

                &.mask-horizontal {
                    overflow-x: hidden;
                }
            }
        }
    }

    .scroll-table-foot {
        position: relative;
        top: -1px;
    }
}
