/**
 * @file Toaster style
 */

.position-pop.toaster {
    z-index: $pop-z-index;
    padding: 16px;

    &.toaster-top-left,
    &.toaster-top,
    &.toaster-top-right,
    &.toaster-center {
        .toast {
            margin-bottom: 10px;
        }
    }

    &.toaster-left-top,
    &.toaster-left,
    &.toaster-left-bottom {
        .toast {
            float: left;
            margin: 0 10px 10px 0;
        }
    }

    &.toaster-right-top,
    &.toaster-right,
    &.toaster-right-bottom {
        .toast {
            float: right;
            margin: 0 0 10px 10px;
        }
    }

    &.toaster-bottom-left,
    &.toaster-bottom,
    &.toaster-bottom-right {
        .toast {
            margin-top: 10px;
        }
    }
}
