/**
 * @file Toaster style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.toaster {
    z-index: $toast-z-index;

    &.toaster-position-left-top,
    &.toaster-position-left,
    &.toaster-position-left-bottom {
        .toast {
            float: left;
        }
    }

    &.toaster-position-right-top,
    &.toaster-position-right,
    &.toaster-position-right-bottom {
        .toast {
            float: right;
        }
    }
}