/**
 * @file Tip style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.trigger-pop.tip {
    width: auto;
    opacity: .9;

    .tip-content {
        padding: 8px;
        text-align: center;
        white-space: nowrap;
    }
}