@import '../_common.scss';

.tip {
    position: absolute;
    width: 120px;
    height: 44px;
    border-radius: $border-radius;
    transition: opacity $transition-duration ease-in-out,
    left 250ms $transition-duration,
    top 250ms $transition-duration,
    transform $transition-duration ease-in-out;
    z-index: $popup-z-index;
    padding: 6px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    overflow: hidden;

    &.hidden {
        opacity: 0 !important;
        transition: opacity $transition-duration ease-in-out,
        transform $transition-duration ease-in-out;
        transform: translate(-50%, -50%) scale(.01, .01);
    }
    .tipRipple{
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        width: 100%;
        height: 100%;
    }
}