/**
 * @file EditableSelect style
 * @author sunday(sunday.wei@derbysoft.com)
 */

.editable-select {
    position: relative;
    width: 100%;
    height: 40px;

    .editable-select-trigger {
        width: 100%;
        height: 100%;
        text-align: left;

        .editable-select-trigger-icon {
            margin: 0;
            color: inherit;
            transition: all $theme-transition-duration ease-in-out;
        }

        &.activated {
            .editable-select-trigger-icon {
                transform: rotate(180deg);
            }

            &.above {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

            &.blow {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

}

.editable-select-popup {
    box-sizing: border-box;
    max-height: 240px;
    overflow-y: auto;
    margin: 0;

    .editable-select-filter {
        border: none;
        border-bottom: 1px solid $theme-field-bg;
        border-radius: 0;
        width: 100%;
        height: 40px;

        .icon-button {
            margin: 0;
        }
    }

    .popup-content {
        border-radius: 0 !important;

        .editable-select-list {
            width: 100%;

            .no-matched-list-item {
                line-height: 40px;
                color: $theme-field;

                .no-matched-list-item-icon {
                    color: $theme-warning;
                    margin-right: 10px;
                }
            }
        }
    }

    &.above {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 1px solid $theme-border;
    }

    &.blow {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 1px solid $theme-border;
    }
}