/**
 * @file Pagging style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.pagging {
    @include float-fix;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 5px 5px 5px 15px;
    user-select: none;
    cursor: default;
    background: $theme-field-bg;
    border-top: 1px solid transparentize($theme-border, .6);

    .pagging-left {
        float: left;
        line-height: 40px;

        .pagging-selected,
        .pagging-total {
            float: left;
            margin-right: 20px;
        }
    }

    .pagging-right {
        float: right;
        line-height: 40px;
    }
}