@import '../_common.scss';

.pagging {
    @include float-fix;
    height: 40px;
    padding: 5px 5px 5px 15px;
    user-select: none;
    cursor: default;

    .pagging-left {
        float: left;
        line-height: 40px;

        .pagging-selected,
        .pagging-totle {
            float: left;
        }
    }

    .pagging-right {
        float: right;
        line-height: 40px;
    }
}