/**
 * @file MaterialLocalAutoComplete style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.material-local-auto-complete {
    position: relative;
    width: 300px;
    background: $theme-field-bg;

    .material-local-auto-complete-label {
        color: $theme-highlight;
        height: 20px;
        line-height: 20px;
        transition: transform $transition-duration ease-in-out,
        color $transition-duration ease-in-out;
        transform: translate(8px, 30px);
        color: $theme-field-disabled;
        transform-origin: top left;
    }

    .text-field {
        width: 100%;
        border: none;
        border-radius: 0;
        background: transparent;
        border-bottom: 1px solid $theme-border !important;
        box-shadow: none !important;

        .text-field-input {
            padding-left: 8px;
            transition: opacity $transition-duration ease-in-out;
        }

    }

    //&.animated {
    //    .material-local-auto-complete-label {
    //        color: #999;
    //        transform: translate(8px, 30px);
    //
    //        &.has-value {
    //            transform: translate(0, 0);
    //            color: $theme-highlight;
    //        }
    //    }
    //}

    &.focused {
        .material-local-auto-complete-label {
            transform: translate(0, 0);
            color: $theme-highlight;
        }

        .text-field-input {
            opacity: 1;
        }
    }

    &.has-label {
        .text-field-input {
            opacity: 0;
        }
    }

}

.material-local-auto-complete-popup {
    border: none;
}