/**
 * @file MaterialLocalAutoComplete style
 */

.material-local-auto-complete {
    position: relative;
    width: 300px;
    background: $theme-field-bg;

    .local-auto-complete-trigger {
        width: 100%;
        border: none;
        box-shadow: none;

        .text-field-input,
        .text-field-placeholder {
            padding-left: 8px;
        }
    }
}

.material-local-auto-complete-popup {
    border: none;
}
