/**
 * @file MaterialLocalAutoComplete style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.material-local-auto-complete {
    position: relative;
    width: 300px;

    .material-local-auto-complete-label {
        transform: translate(0, 0);
        color: $theme-highlight;
    }

    .text-field {
        width: 100%;
        border: none;
        border-radius: 0;
        background: transparent;
        border-bottom: 1px solid $theme-border !important;
        box-shadow: none !important;

        input {
            padding-left: 8px;
        }

        &.empty {
            input {
                opacity: 1;
                transition: opacity $transition-duration ease-in-out;
            }
        }

    }

    &.animated {

        .material-local-auto-complete-label {
            height: 20px;
            line-height: 20px;
            transition: transform $transition-duration ease-in-out,
            color $transition-duration ease-in-out;
            transform: translate(8px, 30px);
            color: #999;
            transform-origin: top left;

            &.hasValue {
                transform: translate(0, 0);
                color: $theme-highlight;
            }
        }

        .text-field {

            &.empty {
                input {
                    opacity: 0;
                    transition: opacity $transition-duration ease-in-out;
                }
            }
        }
    }

    &.focused {

        .material-local-auto-complete-label {
            transform: translate(0, 0);
            color: $theme-highlight;
        }

        .text-field {
            &.empty {
                input {
                    opacity: 1;
                }
            }
        }

    }

}

.material-local-auto-complete-popup {
    border: none;
}