/**
 * @file DraggableGrid style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.draggable-grid {
    @include float-fix;
    padding-top: 10px;
    background: $theme-field-bg;
    border: 1px solid $theme-border;
    overflow: auto;
}
