/**
 * @file EditableField style
 * @author chao(chao.zhang@derbysoft.com)
 */

input::-ms-clear {
    display: none;
}

.editable-field {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-align: left;

    .editable-modal {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 90;
    }

    .editable-field-span {
        position: absolute;
        left: -10px;
        top: 0;
        width: calc(100% + 40px);
        height: 100%;
        background: $theme-field-bg;
        border: 1px solid $theme-border-hover;
        box-sizing: border-box;
        border-radius: 3px;
        display: none;
        z-index: 2;
        text-align: left;
        line-height: 38px;
        padding-left: 9px;

        &:hover {
            display: block;
        }

        .editable-field-icon {
            opacity: 1;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translate(0, -50%);
            font-size: 16px;
        }
    }

    .editable-field-text {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        z-index: 1;
        cursor: auto;
        color: $theme-field;

        &:hover + .editable-field-span {
            display: block;
        }

        &[disabled] {
            cursor: not-allowed;
            color: $theme-field-disabled;

            &:hover + .editable-field-span {
                display: none;
            }
        }
    }

    .editable-field-hidden-text {
        position: absolute;
        width: auto;
        z-index: 0;
        opacity: 0;
    }

    .editable-field-input.text-field {
        position: absolute;
        background: $theme-field-bg;
        width: calc(100% + 42px);
        min-width: 64px !important;
        height: 100%;
        top: 0;
        left: -11px;
        z-index: 91;
        line-height: 38px;

        input.text-field-input {
            padding: 0 30px 0 10px;
            text-align: left;
        }

        button {
            width: 30px;
            height: 100%;
            margin: 0;
            top: 50%;
            padding: 5px 0 !important;
            overflow: inherit;
            transform: translate(0, -50%);

            i {
                line-height: 0;
            }
        }
    }

    .hide {
        display: none;
    }
}