/**
 * @file MaterialDropdownSelect style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

@mixin material-dropdown-select-disabled {
    background-color: transparent;
}

.material-dropdown-select {
    position: relative;
    width: 300px;
    height: 40px;
    background: $theme-field-bg;

    .dropdown-select {
        box-sizing: border-box;
        width: 100%;
        height: 100%;

        .dropdown {
            width: 100%;

            .raised-button.dropdown-trigger.material-provider-field-trigger {
                width: 100%;
                opacity: 1;
                box-shadow: none;
            }
        }
    }

    &.has-label.animated {

        .base-button-value {
            opacity: 0;
        }

        &.has-value,
        &.focused {
            .base-button-value {
                opacity: 1;
            }
        }
    }

    &[disabled] {
        .dropdown-trigger {
            @include material-dropdown-select-disabled;

            &:hover {
                @include material-dropdown-select-disabled;
            }
        }
    }
}