@import '../_common.scss';

.material-drop-down-select {
    position: relative;

    .material-drop-down-select-label {
        transform: translate(0, 0);
        color: $theme-highlight;
    }

    .dropdown-select {
        width: 100%;
        border-bottom: 1px solid #dfdfdf;
        box-sizing: border-box;
        .dropdown-select-trigger {
            background: transparent;
            box-shadow: none;
            border-radius: 0;
            &:hover,
            &:active {
                box-shadow: none;
                background: transparent;
            }
        }
        &:hover,
        &:active {
            border-bottom: 2px solid #dfdfdf;
        }
    }

    &.animation {

        .material-drop-down-select-label {
            //position: absolute;
            height: 20px;
            line-height: 20px;
            transition: transform $transition-duration cubic-bezier(0.0, 0, 0.2, 1), color $transition-duration cubic-bezier(0.0, 0, 0.2, 1);
            transform: translate(6px, 32px);
            color: #999;
            transform-origin: top left;

            &.hasValue {
                transform: translate(0, 0);
                color: $theme-highlight;
            }
        }

        .dropdown-select {
            .base-button {
                &.empty {
                    .base-button-value{
                        opacity:0;
                        transition: opacity $transition-duration cubic-bezier(0.0, 0, 0.2, 1);
                    }

                }
            }
        }
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transition: transform 200ms;
        z-index: 999;
        background: lighten($theme-highlight, 15%);
    }

    &.focused {

        .material-drop-down-select-label {
            transform: translate(0, 0);
            color: $theme-highlight;
        }

        .dropdown-select {
            .base-button {
                &.empty {
                    .base-button-value{
                        opacity:1;
                    }

                }
            }
        }

        &::after {
            transform: scale(1);
        }
    }
}