/**
 * @file MaterialDropdownSelect style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.material-dropdown-select {
    position: relative;
    width: 300px;
    background: $theme-field-bg;

    .dropdown-select {
        width: 100%;

        .dropdown {
            width: 100%;

            .dropdown-trigger {
                width: 100%;
                opacity: 1 !important;
            }
        }
    }

    &.has-label.animated {

        .base-button-value {
            opacity: 0;
        }

        &.has-value,
        &.focused {
            .base-button-value {
                opacity: 1;
            }
        }
    }
}