/**
 * @file MaterialDropdownSelect style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.material-dropdown-select {
    position: relative;
    width: 300px;
    background: $theme-field-bg;

    .dropdown-select {
        width: 100%;

        .dropdown {
            width: 100%;

            .dropdown-trigger {
                width: 100%;
            }
        }
    }
}