@import '../../common.scss';

.widget-header {

	@include float-fix;

	width: 100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 0 20px;
	box-sizing: border-box;

	.title {
		font-size: 16px;
		line-height: 50px;
		font-weight: bold;
		float: left;
		user-select: none;
	}

	.others {
		height: 50px;
		float: right;

		& > * {
			float: left;
			margin: 10px 0 10px 10px;
		}
	}
}

//@media (max-width: 767px) {
//	.widget-header {
//
//		//.title {
//		//	float: none !important;
//		//}
//
//		.others {
//			& > * {
//				margin: 10px 0 !important;
//			}
//		}
//
//	}
//}

.theme-dark .widget-header {
	background: $title-bg-dark;
	border-bottom: 1px solid darken($title-bg-dark, 4%);

	.title {
		color: $title-dark;
	}
}

.theme-light .widget-header {
	background: $title-bg-light;
	border-bottom: 1px solid darken($title-bg-light, 4%);

	.title {
		color: $title-light;
	}
}