@import './common.scss';

::selection {
    color: #FFF;
    background: #8D98B3;
}

::-webkit-input-placeholder {
    user-select: none;
}

:-moz-placeholder { /* Firefox 18- */
    user-select: none;
}

::-moz-placeholder { /* Firefox 19+ */
    user-select: none;
}

:-ms-input-placeholder {
    user-select: none;
}

* {
    font-family: 'helvetica neue', 'hiragino sans gb', 'stheiti',
    'microsoft yahei', \5FAE\8F6F\96C5\9ED1, tahoma, sans-serif;
    //font-weight: 300;
    transition: color $transition-duration ease-in-out,
    background $transition-duration ease-in-out,
    background-color $transition-duration ease-in-out,
    border-color $transition-duration ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
}

input, input:focus, textarea, textarea:focus, button, button:focus {
    outline: none;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity $transition-duration ease-in-out;
}

.fade-enter, .fade-leave-active {
    opacity: 0
}