/**
 * @file TextField style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

@mixin text-field-theme($color, $border-color) {

    .text-field-icon {
        color: $color;
    }

    &.focused {
        border-color: $border-color;
    }
}

input,
input:focus {
    outline: none;
}

input::-ms-clear {
    display: none;
}

.text-field {
    width: 300px;
    height: 40px;
    border-radius: $theme-border-radius;
    position: relative;
    box-sizing: border-box;
    color: $theme-field;
    background-color: $theme-field-bg;
    border: 1px solid $theme-border;
    overflow: hidden;
    transition: border-color $theme-transition-duration ease-in-out;

    .icon-button {
        height: 100%;
        box-sizing: border-box;
        text-align: center;
        position: absolute;
        cursor: pointer;
        top: 0;
        color: inherit;
        z-index: 1;

        .button-icon.button-icon-right {
            margin: 0;
        }

        &.text-field-left-icon {
            left: 0;
            background: transparent;
            border: none;
        }

        &.clear-icon {
            right: -99999px;
            transition: right 0s;
        }

        &.password-visible-icon {
            right: 0;
        }

        &.text-field-right-icon {
            right: 0;
        }

        &.deactivated {
            cursor: default;
        }

        &.hidden {
            display: none;
        }
    }

    .text-field-input,
    .text-field-placeholder {
        font-family: inherit;
        width: 100%;
        height: 100%;
        border: none;
        box-sizing: border-box;
        padding: 9px 12px 9px 12px;
        border-radius: $theme-border-radius;
        font-size: 12px;
        background: transparent;
        white-space: nowrap;
        color: inherit;
        text-overflow: ellipsis;
    }

    .text-field-input {
        position: relative;
        z-index: 1;
    }

    .text-field-placeholder {
        position: absolute;
        left: 0;
        top: 0;
        color: $theme-description;
        line-height: 1;
        pointer-events: none;
        user-select: none;
    }

    &.focused {
        .clear-icon {
            transition: right 0s $theme-transition-duration;
        }
    }

    &.has-icon {
        .text-field-input,
        .text-field-placeholder {
            padding-left: 40px;
        }
    }

    &.password {
        .text-field-input,
        .text-field-placeholder {
            padding-right: 40px;
        }
    }

    &.not-empty {

        &.has-clear-button {
            .text-field-input,
            .text-field-placeholder {
                padding-right: 40px;
            }

            &.focused {
                .clear-icon {
                    right: 0;
                }
            }
        }

        &.password {
            .text-field-input,
            .text-field-placeholder {
                padding-right: 66px;
            }

            &.focused {
                .clear-icon {
                    right: 26px;
                }
            }
        }
    }

    &.has-right-icon {

        .text-field-input,
        .text-field-placeholder {
            padding-right: 40px;
        }

        &.password {

            .text-field-input,
            .text-field-placeholder {
                padding-right: 66px;
            }

            .password-visible-icon {
                right: 26px;
            }
        }

        &.not-empty.has-clear-button {
            .text-field-input,
            .text-field-placeholder {
                padding-right: 66px;
            }

            .password-visible-icon {
                right: 26px;
            }

            &.focused {
                .clear-icon {
                    right: 26px;
                }
            }

            &.password {
                .text-field-input,
                .text-field-placeholder {
                    padding-right: 92px;
                }

                &.focused {
                    .clear-icon {
                        right: 52px;
                    }
                }
            }
        }
    }

    &[disabled] {
        color: $theme-field-disabled;
        background-color: $theme-field-bg-disabled;
        border-color: $theme-border-disabled;

        .text-field-icon,
        .icon-button {
            color: inherit;
            cursor: not-allowed;

            &:hover,
            &:active {
                color: inherit;
            }
        }

        .text-field-input {
            cursor: not-allowed;
            user-select: none;
        }
    }

    // default theme
    @include text-field-theme($theme-primary, $theme-primary);

    // other themes
    &.theme-primary {
        @include text-field-theme($theme-primary, $theme-primary);
    }
    &.theme-secondary {
        @include text-field-theme($theme-secondary, $theme-secondary);
    }
    &.theme-highlight {
        @include text-field-theme($theme-highlight, $theme-highlight);
    }
    &.theme-info {
        @include text-field-theme($theme-info, $theme-info);
    }
    &.theme-success {
        @include text-field-theme($theme-success, $theme-success);
    }
    &.theme-warning {
        @include text-field-theme($theme-warning, $theme-warning);
    }
    &.theme-error {
        @include text-field-theme($theme-error, $theme-error);
    }
}