@import '../_common.scss';

.pagging-page {
    float: right;

    .ctrl,
    .page,
    .apostrophe {
        float: left;
        padding: 0;
        width: 40px;
    }

    .ctrl {
        line-height: 30px;

        .button-icon-left {
            margin: 0;
        }
    }

    .pages {
        float: left;

        .page {
            margin-left: 10px;
            border-radius: 20px;

            &:first-child {
                margin-left: 0;
            }

            &[disabled] {
                cursor: default;
            }
        }
    }

    .apostrophe {
        line-height: 30px;
        text-align: center;
        float: left;
        margin-right: -10px;
    }
}