/**
 * @file TransparencyPicker style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.transparency-picker {
    width: 240px;
    height: 16px;

    .transparency-picker-bar {
        position: relative;
        height: 100%;
        background: linear-gradient(270deg, #f00, #ff0080, #f0f, #8000ff, #0021f5,
            #0080ff, #73fbfd, #00ff80, #75fa4c, #80ff00, #ff0, #ff8000, #f00);
        cursor: pointer;

        .transparency-picker-slider {
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
            width: 8px;
            height: 100%;
            padding: 1px;
            user-select: none;
            pointer-events: none;

            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background: $theme-field-bg;
                border-radius: 2px;
            }
        }
    }
}
