/**
 * @file DraggableListGroup style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.draggable-list-group {
    position: relative;

    .draggable-list-group-name {
        height: 30px;
        line-height: 30px;
        padding-left: 15px !important;

        &:hover,
        &:active {
            background: $theme-field-bg;
        }
    }

    .draggable-list-group-anchor {
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: $theme-secondary !important;
        cursor: move;
    }

    &.dragging {
        opacity: .1;
    }

    &.draggable {
        cursor: move;
    }
}