/**
 * @file ThSortingIcon style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.th-sorting-icon-wrapper {
    display: table-cell;
    vertical-align: middle;

    .th-sorting-icon {
        display: block;
        width: 24px;
        height: 12px;
        line-height: 12px;
        text-align: center;
        color: $theme-field-disabled;
        transition: color $theme-transition-duration ease-in-out;
    }

    &.asc {
        .th-sorting-icon.up {
            color: $theme-highlight;
        }
    }

    &.desc {
        .th-sorting-icon.down {
            color: $theme-highlight;
        }
    }
}
