/**
 * @file ThSortingIcon style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.th-sorting-icon-wrapper {

    .th-sorting-icon {
        display: block;
        height: 8px;
        text-align: center;
        font-size: 14px;
        color: $theme-field-disabled;
        margin-left: 8px;
        transition: color $theme-transition-duration ease-in-out;

        &.up {
            line-height: 16px;
        }

        &.down {
            line-height: 0;
        }
    }

    &.asc {
        .th-sorting-icon.up {
            color: $theme-highlight;
        }
    }

    &.desc {
        .th-sorting-icon.down {
            color: $theme-highlight;
        }
    }
}
