@import '../_common.scss';

.tab {

    .tabs {
        position: relative;

        .tab-button {

        }

        .ink-bar {
            position: absolute;
            bottom: 0;
            height: 2px;
            background: $theme-highlight;
            transition: all $transition-duration ease-in-out;
        }
    }
}