/**
 * @file Tab style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.tab {

    .tabs {
        position: relative;
        overflow: hidden;
        border-bottom: 1px solid $theme-bg;
        box-sizing: border-box;

        .tab-button {
            background: $theme-field-bg;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            vertical-align: bottom;
            margin-left: 6px;
            padding: 0 20px;

            &:hover {
                background: darken($theme-field-bg, 4%);
            }

            &.activated {
                color: #fff;
                background: $theme-menu;

                &:hover {
                    background: darken($theme-menu, 4%);
                }
            }
        }

        .ink-bar {
            position: absolute;
            bottom: 0;
            height: 2px;
            background: $theme-highlight;
            transition: all $transition-duration ease-in-out;
        }

        &.full-width {

            .tab-button {
                border-radius: 0;
                margin: 0;

                &.activated {
                    color: $theme-text;
                    background: $theme-field-bg;

                    &:hover {
                        background: darken($theme-field-bg, 4%);
                    }
                }
            }
        }
    }

    .tab-content-wrapper {
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        overflow: hidden;
        background: #fff;

        .tab-content-scroller {

            @include float-fix;

            transition: all $transition-duration ease-in-out;

            .tab-content {
                float: left;
                padding: 20px;
                box-sizing: border-box;
            }
        }
    }
}

.tab-empty {
    line-height: 100px;
    text-align: center;
}