/**
 * @file Tab style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.tab {

    .tabs {
        position: relative;
        overflow: hidden;
        border-bottom: 1px solid $theme-border;
        box-sizing: border-box;

        .tab-button {
            padding: 0 20px;
            border-radius: 0;
            margin: 0;
        }

        .ink-bar {
            position: absolute;
            bottom: 0;
            height: 2px;
            background: $theme-highlight;
            transition: transform $theme-transition-duration ease-in-out;
        }

        &.auto-width {
            .tab-button {
                border-radius: $theme-border-radius;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                margin-left: 6px;

                &.activated {
                    background: $theme-secondary;
                }
            }
        }
    }

    .tab-content-wrapper {
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        overflow: hidden;
        background: $theme-field-bg;

        .tab-content-scroller {
            @include float-fix;

            .tab-content {
                float: left;
                padding: 20px;
                box-sizing: border-box;
            }
        }
    }

    &.animated {
        .tab-content-scroller {
            transition: all $theme-transition-duration ease-in-out;
        }
    }
}

.tab-empty {
    line-height: 100px;
    text-align: center;
}
