/**
 * @file Tab style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.tab {

    .tab-content-wrapper {
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        overflow: hidden;
        background: $theme-field-bg;

        .tab-content-scroller {
            @include float-fix;

            .tab-content {
                float: left;
                padding: 20px;
                box-sizing: border-box;
            }
        }
    }

    &.tabs-overflow .tabs {
        padding: 0 24px;
    }

    &.animated {
        .tab-content-scroller {
            transition: all $theme-transition-duration ease-in-out;
        }
    }
}

.tab-empty {
    line-height: 100px;
    text-align: center;
}
