@import '../_common.scss';

@mixin button-theme($color, $bg-color) {
    background: $bg-color;
    color: $color;

    .button-icon {
        color: $color;
    }

    .circular-loading .spinner {
        border-color: $color;
    }

    &:hover {
        background: darken($bg-color, 4%);
    }

    &:active {
        background: darken($bg-color, 8%);
    }

    &[disabled] {
        color: transparentize($color, .5);
        background: darken($bg-color, 8%);
    }
}

.base-button {
    display: inline-block;
    width: 100px;
    height: 40px;
    position: relative;
    line-height: 40px;
    border: none;
    border-radius: $border-radius;
    transition: all $transition-duration ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 12px;
    font-size: 12px;
    user-select: none;

    .button-icon {
        width: 16px;
        line-height: 40px;
        text-align: center;
        font-size: inherit;

        &.button-icon-left {
            margin-right: 10px;
        }

        &.button-icon-right {
            margin-left: 10px;
        }
    }

    .circular-loading {
        margin-right: 10px;
    }

    .touch-ripple {
        border-radius: $border-radius;

        &.hidden {
            display: none;
        }
    }

    &.button-rounded {
        border-radius: 20px;
    }

    &[disabled] {
        cursor: not-allowed;
        box-shadow: none !important;
    }

    // default theme
    @include button-theme($theme-text, #fff);

    // other themes
    &.theme-primary {
        @include button-theme(#fff, $theme-menu);
    }
    &.theme-success {
        @include button-theme(#fff, $success);
    }
    &.theme-warning {
        @include button-theme(#fff, $warning);
    }
    &.theme-error {
        @include button-theme(#fff, $error);
    }
}