/**
 * @file BaseButton style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

button,
button:focus {
    outline: none;
}

.base-button {
    font-family: inherit;
    display: inline-block;
    width: 100px;
    height: 40px;
    position: relative;
    border-radius: $theme-border-radius;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 16px;
    font-size: 12px;
    text-align: center;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition-property: color, background, border, box-shadow;
    transition-duration: $theme-transition-duration;
    transition-timing-function: ease-in-out;

    .button-icon {
        text-align: center;
        font-size: inherit;
        color: inherit;
        //vertical-align: middle;

        &.button-icon-left {
            margin-right: 8px;
        }

        &.button-icon-right {
            margin-left: 8px;
        }
    }

    .circular-loading .spinner {
        border-color: inherit;
    }

    .touch-ripple {
        &.hidden {
            display: none;
        }
    }

    &.button-rounded {
        border-radius: 20px;

        .touch-ripple {
            border-radius: 20px;
        }
    }

    &.button-circular {
        width: 40px;
        border-radius: 50%;

        .touch-ripple {
            border-radius: 50%;
        }
    }

    &[disabled] {
        cursor: not-allowed;
    }
}