@import '../_common.scss';

.base-button {
    display: inline-block;
    width: 100px;
    height: 40px;
    position: relative;
    line-height: 40px;
    border: none;
    border-radius: $border-radius;
    transition: all $transition-duration ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 12px;
    font-size: 12px;
    text-align: center;
    user-select: none;

    .button-icon {
        width: 16px;
        line-height: 40px;
        text-align: center;
        font-size: inherit;

        &.button-icon-left {
            margin-right: 10px;
        }

        &.button-icon-right {
            margin-left: 10px;
        }
    }

    .circular-loading {
        margin-right: 10px;
    }

    .touch-ripple {
        border-radius: $border-radius;

        &.hidden {
            display: none;
        }
    }

    &.button-rounded {
        border-radius: 20px;

        .touch-ripple {
            border-radius: 20px;
        }
    }

    &.button-circular {
        width: 40px;
        border-radius: 50%;

        .touch-ripple {
            border-radius: 50%;
        }
    }

    &[disabled] {
        cursor: not-allowed;
    }
}