/**
 * @file common style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

// theme
$theme-brand: #344c67;
$theme-nav: #fff; // #E3EAF3
$theme-menu: #4c637b;
$theme-bg: #f3f6fa; // #FFF
$theme-title-bg: #e3eaf3;
$theme-content-bg: #f2f6fa;
$theme-field: #fff; // #F2F6FA
$theme-title: #758697;
$theme-text: #4c637b;
$theme-light-text: #b8c6d6;
$theme-highlight: #38b1eb;
$theme-popup: #4c637b;

// color
$success: #67ba31;
$warning: #f1ad09;
$error: #d8534e;
$red: #f44336;
$pink: #e91e63;
$purple: #9c27b0;
$deep-purple: #673ab7;
$indigo: #3f51b5;
$blue: #2196f3;
$light-blue: #03a9f4;
$cyan: #00bcd4;
$teal: #009688;
$green: #4caf50;
$light-green: #8bc34a;
$lime: #cddc39;
$yellow: #ffeb3b;
$amber: #ffc107;
$orange: #ff9800;
$deep-orange: #ff5722;
$brown: #795548;
$grey: #9e9e9e;
$blue-grey: #607d8b;

// z-index
$tip-z-index: 94;
$toast-z-index: 93;
$dialog-z-index: 92;
$dialog-modal-z-index: 91;
$field-msg-z-index: 81;
$popup-z-index: 80;
$menu-z-index: 80;

// size
$minWidth: 320px;
$appMenuPortableWidth: .8;
$border-radius: 4px;

// animate
$transition-duration: 250ms;

@mixin float-fix {
    &::before, &::after {
        display: table;
        content: "";
    }
    &::after {
        clear: both;
    }
}

@mixin align-center {
    text-align: center;

    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}

@mixin shadow($depth) {
    @if $depth == 0 {
        box-shadow: transparent 0px 0px 0px;
    } @else if $depth == 1 {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 1px, rgba(0, 0, 0, 0.10) 0px 1px 1px;
    } @else if $depth == 2 {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 3px, rgba(0, 0, 0, 0.12) 0px 1px 3px;
    } @else if $depth == 3 {
        box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 6px, rgba(0, 0, 0, 0.12) 0px 2px 6px;
    } @else if $depth == 4 {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 7px 10px, rgba(0, 0, 0, 0.20) 0px 3px 9px;
    } @else if $depth == 5 {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px, rgba(0, 0, 0, 0.20) 0px 6px 12px;
    } @else if $depth == 6 {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.22) 0px 10px 15px;
    } @else if $depth == 7 {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 60px, rgba(0, 0, 0, 0.22) 0px 15px 20px;
    } @else {
        box-shadow: none;
    }
}

@mixin raised-button-theme($color, $bg-color) {
    background: $bg-color;
    color: $color;

    .button-icon {
        color: inherit;
    }

    .circular-loading .spinner {
        border-color: inherit;
    }

    &:hover {
        background: darken($bg-color, 4%);
    }

    &:active {
        background: darken($bg-color, 8%);
    }

    &[disabled] {
        color: transparentize($color, .5);
        background: darken($bg-color, 8%);
    }
}

@mixin flat-button-theme($color, $bg-color) {
    background: $bg-color;
    color: $color;

    .button-icon {
        color: inherit;
    }

    .circular-loading .spinner {
        border-color: inherit;
    }

    &:hover {
        background: transparentize($theme-menu, .9);

        &[disabled] {
            background: transparentize(#eee, .3);
        }
    }

    &:active {
        background: darken($bg-color, 8%);
    }

    &[disabled] {
        color: transparentize($color, .5);
        background: transparent !important;
    }
}

@mixin ghost-button-theme($color, $activated-color) {
    background: transparent;
    color: $color;
    border: 1px solid $color;

    .button-icon {
        color: inherit;
    }

    .circular-loading .spinner {
        border-color: inherit;
    }

    &:hover {
        color: $activated-color;
        background: $color;
    }

    &:active {
        background: $color;
        color: $activated-color;
    }

    &[disabled] {
        color: darken($color, 8%);
        border-color: darken($color, 8%);
        background: transparent;
    }
}

@mixin icon-button-theme($color) {
    background: transparent;
    color: $color;

    .button-icon {
        color: inherit;
    }

    .circular-loading .spinner {
        border-color: inherit;
    }

    &[disabled] {
        color: transparentize($color, .5);
    }
}

@mixin popup-theme($bg-color) {

    .popup-triangle {
        border-color: $bg-color;
    }

    .popup-content {
        background: $bg-color;
    }
}

@mixin menu-theme($bg-color) {

    .menu-triangle {
        border-color: $bg-color;
    }

    .menu-content {
        background: $bg-color;
    }
}

@mixin dialog-theme($bg-color) {

    color: $bg-color;
}

@mixin field-msg-theme($color, $bg-color) {

    .triangle {
        border-top: none;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid transparentize($bg-color, .1);
    }

    .msg-wrap {
        top: 6px;
        background: transparentize($bg-color, .1);
        color: $color;
    }
}

@mixin list-item-theme($color, $bg-color) {
    background: $bg-color;
    color: $color;

    .button-icon {
        color: inherit;
    }

    .circular-loading .spinner {
        border-color: inherit;
    }

    &.activated {
        background: darken($bg-color, 4%);
    }

    &:hover {
        background: darken($bg-color, 6%);
    }

    &:active {
        background: darken($bg-color, 8%);
    }

    &[disabled] {
        color: transparentize($color, .5);
        background: darken($bg-color, 8%);
    }
}

@mixin draggable-list-item-theme($color, $bg-color) {
    background: $bg-color;
    color: $color;

    .button-icon {
        color: inherit;
    }

    .circular-loading .spinner {
        border-color: inherit;
    }

    &.activated {
        background: darken($bg-color, 4%);
    }

    &:active {
        background: darken($bg-color, 8%);
    }

    &[disabled] {
        color: transparentize($color, .5);
        background: darken($bg-color, 8%);
    }
}

@mixin grid-item-theme($color, $bg-color) {
    background: $bg-color;
    color: $color;

    .button-icon {
        color: inherit;
    }

    .circular-loading .spinner {
        border-color: inherit;
    }

    &.activated {
        background: darken($bg-color, 4%);
    }

    &:active {
        background: darken($bg-color, 8%);
    }

    &[disabled] {
        color: transparentize($color, .5);
        background: darken($bg-color, 8%);
    }
}

@mixin draggable-grid-item-theme($color, $bg-color) {
    background: $bg-color;
    color: $color;

    .button-icon {
        color: inherit;
    }

    .circular-loading .spinner {
        border-color: inherit;
    }

    &.activated {
        background: darken($bg-color, 4%);
    }

    &:active {
        background: darken($bg-color, 8%);
    }

    &[disabled] {
        color: transparentize($color, .5);
        background: darken($bg-color, 8%);
    }
}