/**
 * @file Waterfall style
 */

.waterfall {

    @include float-fix;

    .waterfall-column {
        float: left;
        box-sizing: border-box;
        padding: 10px;
    }

    .waterfall-hidden {
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
    }

}
