@import '../_common.scss';

.waterfall {

    @include float-fix;

    .waterfall-column {
        float: left;
        box-sizing: border-box;
        padding: 10px;

        & > * {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .waterfall-hidden {
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
    }

}