@import '../_common.scss';

.draggable-list {
    width: 200px;
    background: $theme-field;
    overflow: auto;

    &.grouped {
        .draggable-list-item {
            padding-left: 30px;
        }
    }
}