@import '../_common.scss';

.draggable-list {
    width: 200px;
    background: $theme-field;
    overflow-x: hidden;
    overflow-y: auto;

    .draggable-list-separator {
        border-top: 1px solid $theme-title-bg;
    }

    &.grouped {
        .draggable-list-item {
            padding-left: 30px;
        }
    }
}