/**
 * @file DraggableList style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.draggable-list {
    width: 100%;
    background: $theme-field-bg;
    overflow-x: hidden;
    overflow-y: auto;

    .draggable-list-items {
        overflow: hidden;
    }

    .draggable-list-separator {
        border-top: 1px solid $theme-border;
    }

    .tip-provider {

        & > .trigger-wrapper {
            display: block;
        }
    }
}