/**
 * @file ButtonCheckbox style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.toggle-button {

    @include shadow(1);

    width: 100px;
    border-radius: 20px;
    color: $theme-light-text;
    background: $theme-field-bg;

    &:hover {
        color: $theme-field;
        background: $theme-field-bg;
    }

    &.activated {
        color: #fff;
        background: $theme-menu;

        &:hover {
            background: darken($theme-menu, 4%);
        }
    }
}