@import '../../../../common.scss';

.theme-light .hotel-group {

    .hotel-group-list-wrapper {
        background: #fff;

        .create-hotel-group-filter {
            border-color: $title-bg-light;
        }

        .hotel-group-list {

            .hotel-group-list-item {
                border-color: transparentize($title-bg-light, .6);

                &:hover {
                    background: transparentize($title-bg-light, .8);
                }

                &.activated {
                    .hotel-group-list-item-name {
                        color: $highlight-light;
                    }
                }
            }
        }
    }
}