@import '../../../../common.scss';

.hotel-group {
    width: 100%;
    height: calc(100% - 60px);
    overflow: hidden;

    .hotel-group-list-wrapper {

        @include shadow(2);

        float: left;
        width: 240px;
        height: 100%;

        .create-hotel-group-button {
            width: 200px;
            margin: 20px;
        }

        .create-hotel-group-filter {
            border-radius: 0;
            box-shadow: none;
            border: none;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
        }

        .hotel-group-list {
            height: calc(100% - 120px);
            overflow-x: hidden;
            overflow-y: auto;
            box-shadow: none;

            .hotel-group-list-item {
                position: relative;
                width: 100%;
                box-shadow: none;
                border-radius: 0;
                height: 60px;
                padding: 20px;
                line-height: 20px;
                box-sizing: border-box;
                border-bottom: 1px solid transparent;
                cursor: pointer;
                overflow: hidden;

                .hotel-group-list-item-count {
                    margin-left: 10px;
                    opacity: .5;
                }

                .hotel-group-list-item-delete-button {
                    position: absolute;
                    height: 20px;
                    line-height: 20px;
                    top: 20px;
                    right: 20px;
                    display: none;
                    color: $red;
                }

                &:hover {
                    .hotel-group-list-item-delete-button {
                        display: block;
                    }
                }
            }
        }
    }

    .hotel-group-content {
        height: 100%;
        padding: 20px 40px;
        box-sizing: border-box;
        overflow: hidden;

        .hotel-group-content-header {

            @include float-fix;

            .hotel-group-name {
                float: left;
                line-height: 40px;
                font-size: 14px;
            }

            .text-field {
                float: right;
            }
        }

        .hotel-group-content-table {
            margin: 20px 0 0;
            height: calc(100% - 60px);
        }
    }
}