/**
 * @file CursorPopover examples styles
 */

@import 'scss/my-theme.scss';

.cursor-popover-examples {

    .trigger-area {
        width: 200px;
        height: 200px;
        background: $theme-secondary;
        border: 8px dashed $theme-border;
        color: $theme-primary;
        text-align: center;
        line-height: 200px;
    }
}

.popover-dialog-content-scroller {
    width: 1000px;
    height: 1000px;

    .dialog-trigger-button {
        display: block;
        width: auto;
        margin-bottom: 16px;
    }
}
