/**
 * @file CursorPopover examples styles
 */

@import 'scss/my-theme.scss';

.cursor-popover-examples {

    .trigger-area,
    .trigger-position-button {
        display: inline-block;
        box-sizing: border-box;
        background: $theme-secondary;
        color: $theme-primary;
        text-align: center;
    }

    .trigger-area {
        width: 200px;
        height: 200px;
        line-height: 200px;
        border: 8px solid $theme-border;
    }

    .trigger-position-button {
        width: 100px;
        height: 40px;
        line-height: 40px;
        border: 2px solid $theme-border;
    }
}

.cursor-popover-dialog-content-scroller {
    width: 1000px;
    height: 1000px;

    .dialog-trigger-button {
        width: 200px;
        height: 80px;
        line-height: 80px;
        background: $theme-secondary;
        border: 2px solid $theme-border;
        margin-bottom: 16px;
        text-align: center;
    }
}
