@import '../../../../my-theme.scss';

.guide-dialog-content-scroller {
    width: 1000px;
    height: 1000px;

    .dialog-trigger-button {
        display: block;
        width: auto;
        margin-bottom: 16px;
    }
}
