@import '../../../../my-theme.scss';

.pop-examples {

    .material-text-field {
        margin-top: 24px;
    }

    .trigger-button {
        width: 160px;
        height: 50px;
        margin: 0;
    }

    .button-group-wrapper {
        position: relative;
        width: 500px;
        height: 280px;
        margin-top: 32px;

        .button-group {

            .trigger-position-button {
                width: 120px;
            }

            &.top {
                position: absolute;
                left: 50px;

                .trigger-position-button {
                    margin-left: 20px;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }

            &.left {
                position: absolute;
                top: 60px;
                left: 0;

                .trigger-position-button {
                    display: block;
                    margin-top: 20px;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }

            &.right {
                position: absolute;
                top: 60px;
                right: 0;

                .trigger-position-button {
                    display: block;
                    margin-top: 20px;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }

            &.bottom {
                position: absolute;
                left: 50px;
                bottom: 0;

                .trigger-position-button {
                    margin-left: 20px;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }

            &.center {
                position: absolute;
                left: 190px;
                top: 120px;

                .trigger-position-button {
                    margin-left: 20px;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}