@import '../../../../my-theme.scss';

.customized-tip {

    .customized-tip-triangle {
        position: relative;
        top: -4px;
    }

    .tip-content {
        border: 1px solid #e7e7e7;
    }
}

.tip-dialog-content-scroller {
    width: 1000px;
    height: 1000px;

    .dialog-trigger-button {
        display: block;
        width: auto;
        margin-bottom: 16px;
    }
}
