/**
 * @file SkeletonLoading style
 */

@keyframes loading {
    to {
        background-position-x: -20%;
    }
}

.skeleton-loading {
    width: 100%;
    height: 24px;
    background-color: $theme-border-disabled;
    border-radius: $theme-border-radius;
    overflow: hidden;

    &.circular {
        width: 24px;
        border-radius: 50%;
    }

    &.animated {
        background-image: linear-gradient(
                100deg,
                rgba(255, 255, 255, 0) 40%,
                rgba(255, 255, 255, .4) 50%,
                rgba(255, 255, 255, 0) 60%
        );
        background-size: 200% 100%;
        background-position-x: 180%;
        animation-name: loading;
        animation-duration: 1600ms;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }
}
