/**
 * @file Tf style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.table table > tfoot > tr > td {
    text-align: left;
    padding: 16px;
    background: $theme-field-bg;
    cursor: default;

    &.align-center {
        text-align: center;
    }

    &.align-right {
        text-align: right;
    }
}
