/**
 * @file Tf style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.table table > tfoot > tr > td {
    text-align: left;
    padding: 8px;
    background: $theme-field-bg-disabled;
    border-top: 1px solid $theme-border;
    border-bottom: 1px solid $theme-border;
    cursor: default;
    word-wrap: break-word;
    word-break: break-all;

    &.align-center {
        text-align: center;
    }

    &.align-right {
        text-align: right;
    }

    &.no-wrap {
        white-space: nowrap;
        word-wrap: normal;
        word-break: keep-all;
    }
}
