@import '../../../../common.scss';

.create-feed {
    position: relative;
    min-height: 100%;

    .create-feed-steps {
        margin-top: 30px;
    }
    .create-feed-content {
        .create-feed-content-container {
            background: #fff;
            border-radius: $border-radius;
            height: auto;
            padding: 60px 120px;
            margin: 20px 40px;
            .mapping-label {
                margin-top: 20px;
            }
        }
        .create-feed-content-foot {
            margin-top: 80px;
            overflow: hidden;
            text-align: center;
            padding-left: 30%;
            .button {
                width: 100px;
                margin-right: 50px;
                float: left;
                .next-icon {
                    margin-left: 12px;
                }
            }
        }

    }

    .create-feed-buttons {

        @include float-fix;

        margin-left: 300px;

        .button {
            float: left;
            width: 100px;
            margin-right: 40px;

            .next-icon {
                margin-left: 10px;
            }
        }
    }

}