/**
 * @file IconAnchor style
 */

@mixin icon-anchor-theme($color) {
    color: $color;

    &:hover {
        color: theme-color-hover($color);
    }

    &:active {
        color: theme-color-active($color);
    }
}

@mixin icon-anchor-disabled {
    color: $theme-field-disabled;
}

.icon-anchor {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    position: relative;
    transition: all $theme-transition-duration ease-in-out;
    cursor: pointer;
    font-size: 12px;
    user-select: none;
    overflow: hidden;
    background-color: transparent;

    // default theme
    @include icon-anchor-theme($theme-field);

    // themes
    &.theme-primary {
        @include icon-anchor-theme($theme-primary);
    }
    &.theme-secondary {
        @include icon-anchor-theme($theme-secondary);
    }
    &.theme-highlight {
        @include icon-anchor-theme($theme-highlight);
    }
    &.theme-info {
        @include icon-anchor-theme($theme-info);
    }
    &.theme-success {
        @include icon-anchor-theme($theme-success);
    }
    &.theme-warning {
        @include icon-anchor-theme($theme-warning);
    }
    &.theme-error {
        @include icon-anchor-theme($theme-error);
    }

    &[disabled] {
        @include icon-anchor-disabled;
        cursor: not-allowed;

        &:hover,
        &:active {
            @include icon-anchor-disabled;
        }
    }
}
