/**
 * @file IconAnchor style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

@mixin icon-anchor-theme($color) {
    background: transparent;
    color: $color;

    .button-icon {
        color: inherit;
    }

    .circular-loading .spinner {
        border-color: inherit;
    }

    &[disabled] {
        color: transparentize($color, .5);
    }
}

.icon-anchor {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    position: relative;
    transition: all $transition-duration ease-in-out;
    cursor: pointer;
    font-size: 12px;
    user-select: none;
    overflow: hidden;

    &[disabled] {
        cursor: not-allowed;
    }

    // default theme
    @include icon-anchor-theme($theme-text);

    // themes
    &.theme-primary {
        @include icon-anchor-theme($theme-menu);
    }
    &.theme-highlight {
        @include icon-anchor-theme($theme-highlight);
    }
    &.theme-success {
        @include icon-anchor-theme($success);
    }
    &.theme-warning {
        @include icon-anchor-theme($warning);
    }
    &.theme-error {
        @include icon-anchor-theme($error);
    }

}