/**
 * @file IconAnchor style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */
@import '../_common.scss';

.icon-anchor {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    position: relative;
    transition: all $transition-duration ease-in-out;
    cursor: pointer;
    font-size: 12px;
    user-select: none;
    overflow: hidden;

    &[disabled] {
        cursor: not-allowed;
    }

    // default theme
    @include icon-button-theme($theme-text);

    // themes
    &.theme-primary {
        @include icon-button-theme($theme-menu);
    }
    &.theme-highlight {
        @include icon-button-theme($theme-highlight);
    }
    &.theme-success {
        @include icon-button-theme($success);
    }
    &.theme-warning {
        @include icon-button-theme($warning);
    }
    &.theme-error {
        @include icon-button-theme($error);
    }

}