/**
 * @file TreeSelect style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.tree-select {
    width: 400px;

    .dropdown {
        width: 100%;

        .dropdown-trigger {

            .base-button-value {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;

                .tree-select-trigger-value-separator {
                    display: inline-block;
                    margin: 0 8px;
                    color: $theme-field-disabled;
                }

                .tree-select-trigger-value-node {
                    display: inline-block;
                }
            }
        }
    }
}

.popup.tree-select-popup {

    .popup-content {

        .tree-select-popup-fixed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1;

            .tree-select-filter {
                border: none;
                border-bottom: 1px solid $theme-border;
                border-radius: 0;
                width: 100%;
                height: 40px;

                .icon-button {
                    margin: 0;
                }
            }
        }

        .tree-select-filter-placeholder {
            height: 40px;
        }

        .tree-select-list-scroller {
            overflow-y: auto;
            max-height: inherit;

            .no-matched {
                line-height: 40px;
                color: $theme-field;
                padding: 0 12px;

                .no-matched-icon {
                    color: $theme-warning;
                    margin-right: 10px;
                }
            }

            .tree-select-list,
            .list {
                width: 100%;
            }
        }

    }
}