/**
 * @file Paper style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.paper {
    border-radius: $border-radius;
    background: $theme-bg;

    @for $i from 0 through 7 {
        &.depth-#{$i} {
            @include shadow($i);
        }
    }

    &.nonRounded {
        border-radius: 0;
    }

    &.circular {
        border-radius: 50%;
    }

}