@import '../../common.scss';

.theme-thumbnail {
	width: 120px;
	cursor: pointer;

	.theme {
		width: 100%;
		height: 80px;

		& > * {
			float: left;
		}

		.theme-thumbnail-brand {
			width: 30px;
			height: 20px;

			&.dark {
				background: $brand-dark;
			}

			&.light {
				background: $theme-menu;
			}
		}

		.theme-thumbnail-nav {
			width: 90px;
			height: 20px;

			&.dark {
				background: $nav-dark;
			}

			&.light {
				background: $theme-nav;
			}
		}

		.theme-thumbnail-menu {
			width: 30px;
			height: 50px;

			&.dark {
				background: $menu-dark;
			}

			&.light {
				background: $theme-menu;
			}
		}

		.theme-thumbnail-content {
			width: 90px;
			height: 50px;

			&.dark {
				background: $bg-dark;
			}

			&.light {
				background: $theme-bg;
			}
		}
	}

	.title {
		width: 80px;
		height: 24px;
		margin: 10px auto 0;
		line-height: 24px;
		text-align: center;
		background: transparentize(#FFF, .5);
		border-radius: 12px;
		color: $text-dark;

		&:hover {
			background: transparentize(#FFF, .2);
		}
	}

	&.activated {
		.title {
			background: $success;
			color: #FFF;
			padding: 0;
		}
	}
}

.theme-dark .theme-thumbnail {

	.title {
		color: $text-dark;
	}

	&.activated {
		.title {
			color: #FFF;
		}
	}
}

.theme-light .theme-thumbnail {

	.title {
		color: $theme-text;
	}

	&.activated {
		.title {
			color: #FFF;
		}
	}
}