/**
 * @file List style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.list {
    width: 100%;
    background: $theme-field-bg;
    overflow-x: hidden;
    overflow-y: auto;

    .list-separator {
        border-top: 1px solid $theme-border;
    }
}
