/**
 * @file Badge style
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.badge-wrapper {
    position: relative;
    display: inline-block;

    .badge {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        color: #fff;
        background: $theme-error;
        box-shadow: 0 0 0 1px $theme-field-bg;
        transform: translate(50%, -50%);
    }

    .badge-dot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
    }

    .badge-number {
        box-sizing: border-box;
        min-width: 20px;
        height: 20px;
        line-height: 20px;
        padding: 0 6px;
        border-radius: 10px;
        text-align: center;
    }

    &.no-child .badge {
        position: relative;
        transform: none;
    }
}
